<div ng-if="langval==1">
  <div class="right_col" role="main" style="min-height: 980px;">
    <div class="">
      <div class="row">
        <div class="col-sm-6 col-md-6">
          <div class="panel panel-default">
            <form name="myForm" enctype="multipart/form-data" ng-init="validationForm=false;">
              <div class="panel-heading">
                <h4 class="panel-title">Add Expense Head</h4>
              </div>
              <div class="panel-body">
                <div class="col-sm-12">
                  <div class="panel-body">
                    <div class="form-group">
                      <label for="reg_input_name" class="req">Expense Head Name </label>
                      <input size="84" maxlength="45" class="form-control" name="expenseName" type="text" ng-model="ExpenseHead.incomeExpenseName" required>
                    </div>
                  </div>
                </div>
                <!--  <div class="form-group" data-ng-class="{ 'has-error' : addstoreForm.status.$invalid &amp;&amp; !addstoreForm.status.$pristine}">
                <label for="status">Status</label>
                <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <label class="radio-inline">
                  <input type="radio" name="status" ng-model="ExpenseHead.status" value="1">Active</label>
                <label class="radio-inline">
                  <input type="radio" name="status" ng-model="ExpenseHead.status" value="0">Discontinued</label>
              </div> -->
                <div class="row">
                  <div class="col-sm-5">
                    <div class="form_sep">
                      <input class="btn btn-info" name="std_reg_submit" type="submit" value="Save" ng-click="addexpensedatahead(myForm);validationForm=true;">
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="col-sm-6 col-md-6">
          <div>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>
                    <a href="">SI.No</a>
                  </th>
                  <th>
                    <a href="">Name</a>
                  </th>
                  <th>
                    <a href="">Status</a>
                  </th>
                  <th>
                    <a href="">Action</a>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr class="colorrow" ng-repeat="user in allexpenseHead" ng-class="{'red' : user.status==0}">
                  <td>{{$index+1}}</td>
                  <td>{{ user.incomeExpenseName}}</td>
                  <td data-ng-if="user.status==0">
                    <div class="tools action-buttons" style="display: block;">
                      <span class="label label-danger label-lg ng-scope">Deactivated</span>
                    </div>
                  </td>
                  <td data-ng-if="user.status==1">
                    <div class="tools action-buttons" style="display: block;">
                      <span class="label label-success label-lg ng-scope">Active</span>
                    </div>
                  </td>
                  <th>
                    <a ng-click="editExpenseHead(user)" href=""><i class="fa fa-pencil text-aqua"></i></a>&nbsp;&nbsp;
                    <a ng-click="openDeleteExpenseHeadModal(0,user)" href=""><i class="fa fa-trash"></i></a>
                  </th>
                </tr>
              </tbody>
            </table>
            <!--          <pagination total-items="totalItems" ng-model="currentPage" max-size="5" boundary-links="true" items-per-page="numPerPage" class="pagination-sm">
          </pagination> -->
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="updateExpenseHeadModalEn" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Edit Expense Head</h4>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label class="info-title" for="incomeExpenseName">Expense Head Name<span style="    color: red;">*</span></label>
              <input type="text" class="form-control unicase-form-control text-input" ng-model="UpdateIncomeHead.incomeExpenseName" required="">
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn-upper btn btn-primary checkout-page-button" ng-click="submitIncomeHeadUpdatedData(UpdateIncomeHead)" style="margin-left: 0px;">Update</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="myModal" class="modal fade">
  <div class="modal-dialog modal-confirm">
    <div class="modal-content">
      <div class="modal-header">
        <div class="icon-box">
          <!--  <i class="material-icons">&#xE5CD;</i> -->
          <i class="fas fa-trash-alt"></i>
        </div>
        <h4 class="modal-title">Are you sure?</h4>
        <!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button> -->
      </div>
      <div class="modal-body">
        <p>Do you really want to delete this expense head? </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger" ng-click="deleteexpensedatahead(headData)">Delete</button>
      </div>
    </div>
  </div>
</div>
<!-- arabic -->
<div ng-if="langval==0">
  <div dir="rtl">
    <div class="rightarab_col" role="main" style="min-height: 980px;">
      <div class="">
        <div class="row">
          <div class="col-sm-6 col-md-6">
            <div class="panel panel-default">
              <form name="myForm" enctype="multipart/form-data" ng-init="validationForm=false;">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <!-- Add Expense Head -->إضافة رئيس النفقات </h4>
                </div>
                <div class="panel-body">
                  <div class="col-sm-12">
                    <div class="panel-body">
                      <div class="form-group">
                        <label for="reg_input_name" class="req">
                          <!-- Expense Head Name -->اسم المصاريف </label>
                        <input size="84" maxlength="45" class="form-control" name="expenseName" type="text" ng-model="ExpenseHead.incomeExpenseName" required>
                      </div>
                    </div>
                  </div>
                  <!-- <div class="form-group" data-ng-class="{ 'has-error' : addstoreForm.status.$invalid &amp;&amp; !addstoreForm.status.$pristine}">
                    <label for="status">الحالة </label>
                    <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <label class="radio-inline">
                      <input type="radio" name="status" ng-model="ExpenseHead.status" value="1">&nbsp;&nbsp;&nbsp;&nbsp;نشيط </label>
                    <label class="radio-inline">
                      <input type="radio" name="status" ng-model="ExpenseHead.status" value="0">&nbsp;&nbsp;&nbsp;&nbsp;همد </label>
                  </div> -->
                  <div class="row">
                    <div class="col-sm-5">
                      <div class="form_sep" style="float: left;">
                        <input class="btn btn-info" name="std_reg_submit" type="submit" value="حفظ" ng-click="addexpensedatahead(myForm);validationForm=true;"> </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="col-sm-6 col-md-6">
            <div>
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th style="text-align: center;">
                      <a href="">
                        <!-- SI.No -->رقم </a>
                    </th>
                    <th style="text-align: center;">
                      <a href="">
                        <!-- Name -->اسم</a>
                    </th>
                    <th style="text-align: center;">
                      <a href="">
                        <!-- Status -->الحالة </a>
                    </th>
                    <th style="text-align: center;">
                      <a href="">
                        <!-- Action -->الاجراءت </a>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="colorrow" ng-repeat="user in allexpenseHead" ng-class="{'red' : user.status==0}">
                    <td style="text-align: center;">{{$index+1}}</td>
                    <td style="text-align: center;">{{ user.incomeExpenseName}}</td>
                    <td data-ng-if="user.status==0" style="text-align: center;">
                      <div class="tools action-buttons" style="display: block;">
                        <span class="label label-danger label-lg ng-scope">
                          <!-- Deactivated -->غير نشطه </span>
                      </div>
                    </td>
                    <td data-ng-if="user.status==1" style="text-align: center;">
                      <div class="tools action-buttons" style="display: block;">
                        <span class="label label-success label-lg ng-scope">
                          <!-- Active -->شطه </span>
                      </div>
                    </td>
                    <th style="text-align: center;">
                      <a ng-click="editExpenseHead(user)" href=""><i class="fa fa-pencil text-aqua"></i></a>&nbsp;&nbsp;
                    <a ng-click="openDeleteExpenseHeadModal(0,user)" href=""><i class="fa fa-trash"></i></a>
                    </th>
                  </tr>
                </tbody>
              </table>
              <!--          <pagination total-items="totalItems" ng-model="currentPage" max-size="5" boundary-links="true" items-per-page="numPerPage" class="pagination-sm">
          </pagination> -->
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="updateExpenseHeadModalAr" role="dialog">
        <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">
                <!-- Edit Expense Head -->تحرير رئيس النفقات</h4>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label class="info-title" for="incomeExpenseName">
                  <!-- Expense Head Name -->اسم المصاريف<span style="    color: red;">*</span></label>
                <input type="text" class="form-control unicase-form-control text-input" ng-model="UpdateExpenseHead.incomeExpenseName" required="">
              </div>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn-upper btn btn-primary checkout-page-button" ng-click="submitIncomeHeadUpdatedData(UpdateExpenseHead)" style="margin-left: 0px;">
                <!-- Update -->تحديث </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="myModalAr" class="modal fade">
  <div class="modal-dialog modal-confirm">
    <div class="modal-content">
      <div class="modal-header">
        <div class="icon-box">
          <!--  <i class="material-icons">&#xE5CD;</i> -->
          <i class="fas fa-trash-alt"></i>
        </div>
        <h4 class="modal-title"><!-- Are you sure? -->هل أنت واثق؟  </h4>
        <!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button> -->
      </div>
      <div class="modal-body">
        <p><!-- Do you really want to delete this expense head? -->هل تريد حقًا حذف رأس النفقات هذا؟ </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" data-dismiss="modal"><!-- Cancel -->إلغاء  </button>
        <button type="button" class="btn btn-danger" ng-click="deleteexpensedatahead(headData)"><!-- Delete -->حذف  </button>
      </div>
    </div>
  </div>
</div>