<!-- page content -->
<div ng-if="langval==1">
  
    <div class="right_col" role="main" style="min-height: 980px;">
      <div class="">
        <div class="page-title">
          <div class="title_left">
            <h3>List of Products </h3>
          </div>
          <div class="title_right">
            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
              <div class="input-group">
                <input class="form-control  " placeholder="Search..." type="text" ng-change="productSearch(ProductSearch)" data-ng-model="ProductSearch" />
                <span class="input-group-btn ">
                                <button type="button" class="btn btn-flat"><i class="fa fa-search"></i></button>
                            </span>
              </div>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
        <!-- /form input knob -->
        <div class="row">
          <div class="col-lg-11">
            <!-- TABLE STRIPED -->
            <div class="panel">
              <div class="panel-heading">
                <h3 class="panel-title"></h3>
                <div class="row">
                  <div class="col-lg-3  pull-right">
                  </div>
                </div>
                <div class="panel-body">
                  <table class="table table-responsive table-striped">
                    <tr>
                      <th>#</th>
                      <th>Product Name </th>
                      <th>Subcategory </th>
                      <th>Category</th>
                      <!--  <th>Seller </th> -->
                      <th>Existing Offers </th>
                      <th>Actions</th>
                    </tr>
                    <tr ng-repeat="product in products">
                      <td>{{$index+1+productPageVo.currentIndex}}.</td>
                      <td>{{product.productName}}</td>
                      <td>{{product.subcategoryName}}</td>
                      <td>{{product.categoryName}}</td>
                      <td>
                        <div class="tools action-buttons" style="display: block;">
                          <span class="label label-success label-lg ng-scope">{{product.offerVos[0].offerName}}</span>
                        </div>
                      </td>
                      <!-- <td>{{product.offerName}}</td> -->
                      <th><a ng-click="viewproduct(product)"><i class="fa fa-eye text-green"></i></a>&nbsp;&nbsp;
                        <span ng-if="product.offerId==0">
                    <a ng-click="assignoffertoproduct(product)"><i class="fa fa-check text-aqua"></i></a>
                    </span>
                        <span ng-if="product.offerId!=0">
                    <a ng-click="removeoffertoproduct(product)"><i class="fa fa-close" style="font-size:17px;color:red"></i></a>
                    </span>
                      </th>
                    </tr>
                  </table>
                </div>
              </div>
              <ul class="pagination">
                <li ng-repeat="i in getNumber(noPages) track by $index" ng-click="getproduct($index+1)"><span><a href="javascript:void(0)">{{$index+1}}</a></span></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- /form input knob -->
      </div>
    </div>
  </div>
<!-- ARABIC -->
<div ng-if="langval==0">
  <div dir="rtl">
    <div class="rightarab_col" role="main" style="min-height: 980px;">
      <div class="">
        <div class="page-title">
          <div class="title_left">
            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
              <div class="input-group">
                <input class="form-control  " placeholder="Search..." type="text" ng-change="productSearch(ProductSearch)" data-ng-model="ProductSearch" />
                <span class="input-group-btn ">
                                <button type="button" class="btn btn-flat"><i class="fa fa-search"></i></button>
                            </span>
              </div>
            </div>
          
          </div>
          <div class="title_right">
              <h3>قائمة المنتجات  </h3>
            
          </div>
        </div>
        <div class="clearfix"></div>
        <!-- /form input knob -->
        <div class="row">
          <div class="col-lg-12">
            <!-- TABLE STRIPED -->
            <div class="panel">
              <div class="panel-heading">
                <h3 class="panel-title"></h3>
                <div class="row">
                  <div class="col-lg-3  pull-right">
                  </div>
                </div>
                <div class="panel-body">
                  <table class="table table-responsive table-striped">
                    <tr>
                      <th class="text-right">#</th>
                      <th class="text-right">اسم المنتج </th>
                      <th class="text-right">فئه فرعية </th>
                      <th class="text-right">الفئه  </th>
                      <!--  <th>Seller </th> -->
                      <th class="text-right">العرض الحالي </th>
                      <th class="text-right">الاجراءت</th>
                    </tr>
                    <tr ng-repeat="product in products">
                      <td>{{$index+1+productPageVo.currentIndex}}.</td>
                      <td>{{product.productNameAr}}</td>
                      <td>{{product.subcategoryNameAr}}</td>
                      <td>{{product.categoryNameAr}}</td>
                      <td>
                        <div class="tools action-buttons" style="display: block;">
                          <span class="label label-success label-lg ng-scope">{{product.offerVos[0].offerNameAr}}</span>
                        </div>
                      </td>
                      <!-- <td>{{product.offerName}}</td> -->
                      <th class="text-right"><a ng-click="viewproduct(product)"><i class="fa fa-eye text-green"></i></a>&nbsp;&nbsp;
                        <span ng-if="product.offerId==0">
                    <a ng-click="assignoffertoproduct(product)"><i class="fa fa-check text-aqua"></i></a>
                    </span>
                        <span ng-if="product.offerId!=0">
                    <a ng-click="removeoffertoproduct(product)"><i class="fa fa-close" style="font-size:17px;color:red"></i></a>
                    </span>
                      </th>
                    </tr>
                  </table>
                </div>
              </div>
              <ul class="pagination">
                <li ng-repeat="i in getNumber(noPages) track by $index" ng-click="getproduct($index+1)"><span><a href="javascript:void(0)">{{$index+1}}</a></span></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- /form input knob -->
      </div>
    </div>
  </div>
</div>
<!-- /page content -->
