<div ng-if="langval==1">
  
<div class="right_col" role="main" style="min-height: 980px;">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>Product Management </h3>
      </div>
      <div class="title_right">
        <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
          <div class="input-group">
            <input class="form-control  " placeholder="Search..." type="text" ng-change="productSearchwithName(ProductSearch)" data-ng-model="ProductSearch" />
            <span class="input-group-btn ">
                                <button type="button" class="btn btn-flat"><i class="fa fa-search"></i></button>
                            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
      <div class="col-lg-12">
        <div class="panel">
          <div class="panel-heading">
            <h3 class="panel-title"></h3>
            <div class="row">
              <div class="col-lg-3">
                <a href="#/admin/addproduct/0" class="btn btn-new" role="button" style="
    margin-bottom:  7px;
">Add
                                Product </a>
              </div>
              <div class="col-lg-3  pull-right">
              </div>
            </div>
            <div class="row">
                 <div class="col-lg-1">
                 </div>
                  <div class="col-lg-3 ">
                    <div class="form-group">
                      <label>Category</label>
                      <select class="form-control" ng-change="getsubcategoryByCategoryId(search.categoryId)" ng-model="search.categoryId">
                        <option ng-repeat="category in categories" ng-value="category.categoryId">{{category.categoryName}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-lg-3 ">
                    <div class="form-group">
                      <label>Subcategory</label>
                      <select class="form-control" ng-change="" ng-model="search.subCategoryId">
                        <option ng-repeat="subcategory in subcategoriesbycategories" ng-value="subcategory.subCategoryId">{{subcategory.subCategoryName }}</option>
                      </select>
                    </div>
                  </div>
                   <div class="col-lg-3 ">
                    <div class="form-group">
                      <label>Status</label>
                      <select class="form-control" ng-model="search.status">
                        <option value="1">Active</option>
                        <option value="0">Deactive</option>
                         <option value="2">Both</option>
                      </select>
                    </div>
                  </div>
                  <br>
                  <div class="col-lg-2">
                    <a ng-click="productFilter(search)" class="btn btn-block btn-primary" role="button" style="
    margin-top: 6px;
"><i class="fa fa-filter" aria-hidden="true"></i>Filter</a>
                  </div>
                 
                </div>
                <div class="row">
                  <div class="col-lg-2">
                     <div class="input-group">
                      <label>Sort Order</label>
                <select name="report" class="form-control" ng-model="sortorder"   ng-change="sortproduct(sortorder)" >
                  <!-- <option>Customer Activity Report</option> -->
                  <option value=""> - Select Any One - </option>
                  <option value="16">Low To High (price)</option>
                  <option value="17"> High To Low (price)</option>
                      <option value="18">Popularity</option>
                         <!--  <option value="6">Customer Wise Report</option> -->
                  <!-- <option >Customer Reward Points Report</option> -->
                </select>
                    

                    </div>
                  </div>
                </div>
          </div>
          <div class="panel-body">
            <table class="table table-responsive table-striped">
              <tr>
                <th  style="width: 20px;">#</th>
                <th  style="width: 220px;">Product Name </th>
                <th  style="width: 150px;">Offer </th>
                <th  style="width: 150px;">Category</th>
                 <th  style="width: 150px;">Price</th>
                 <th class="text-center" style="width: 95px;">Rating</th>
                <!--  <th>Seller </th> -->
                <th class="text-center" style="width: 95px;">Status </th>
                <th class="text-center" style="width: 220px; text-align: center;">Actions</th>
              </tr>
              <tr ng-repeat="product in products">
                <td>{{$index+1+productPageVo.currentIndex}}.</td>
                <td >{{product.productName}}</td>
                 <!-- <td>{{product.offerVos[0].offerName}}</td> -->

               <!--   ############## -->
                 <td  data-ng-if="product.offerId==0">
                  <div class="tools action-buttons" style="display: block;">
                    <span class="label label-danger label-lg ng-scope">NILL</span>
                  </div>
                </td>
                <td  data-ng-if="product.offerId!=0">
                  <div class="tools action-buttons" style="display: block;">
                    <span class="label label-success label-lg ng-scope">{{product.offerVos[0].offerName}}</span>
                  </div>
                </td>


                <td >{{product.categoryName}}</td>
                 <td >{{product.price}} SAR</td>
                       <td class="text-center">
                  <span>
        

<div class="star-ratings-css">
  <div class="star-ratings-css-top" style="width: {{product.ratingPercentage}}%"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
  <div class="star-ratings-css-bottom"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
</div>         </span>
           
            
                  


                </td>
                <td class="text-center" data-ng-if="product.status==0">
                  <div class="tools action-buttons" style="display: block;">
                    <span class="label label-danger label-lg ng-scope">Deactivated</span>
                  </div>
                </td>
                <td class="text-center" data-ng-if="product.status==1">
                  <div class="tools action-buttons" style="display: block;">
                    <span class="label label-success label-lg ng-scope">Active</span>
                  </div>
                </td>
                <th class="text-center"><a ng-click="viewproduct(product)"><i class="fa fa-eye text-green"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;<a ng-click="productmanage(product)"><i class="fa fa-pencil text-aqua"></i></a>
                   <a ng-click="listofreviews(product)" href=""> <span
                                    class="label label-info label-lg ng-scope">Reviews</span>
                           </a>
                      

                              <span data-ng-if="product.offerId==0">
                                  <a ng-click="assignofferonselectedproduct(product)" href=""> <span
                                    class="label label-info label-lg ng-scope">+ Offer</span>
                           </a>

                
                </span>
                   <span data-ng-if="product.offerId!=0">
                                  <a ng-click="removeoffertoproduct(product)" href=""> <span
                                    class="label label-danger label-lg ng-scope">X Offer</span>
                           </a>
                           
                  </span>

              <!--   <span data-ng-if="product.offerId!=0">
                  <div class="tools action-buttons" style="display: block;">
                    <span class="label label-success label-lg ng-scope">{{product.offerVos[0].offerName}}</span>
                  </div>
                </span> -->

                </th>
              </tr>
              <tr ng-if="noproducts==1">
                <td colspan="6" class="text-center"> <strong><h3>There Is No Matching Product </h3></strong> </td>
              </tr>
            </table>
          </div>
             <ul class="pagination" ng-if="noPages>0 && !viewsortOrderPagination" style="float: right;width: 70%;">
            <li ng-class="{disabled:firstIndex==1}">
               <a class="" ng-click="firstIndex!=1 && gotoFirstPage(1)" style="min-width: 55px;"><i class="fa fa-angle-double-left"></i> &nbsp;First</a>
                <a class="active" ng-click="firstIndex!=1 && gotoPreviousPage(1,firstIndex)" style="min-width: 55px;"><i class="fa fa-angle-left"></i>&nbsp;Prev</a> 
            </li>
            <li ng-class="{active:i==currentPageNumber}" ng-repeat="i in pageList track by $index">
                <a class="active" ng-if="i==currentPageNumber">{{i}}</a>
                <a ng-click="getNextPageItems(1,i)" ng-if="i!=currentPageNumber">{{i}}</a>                   
            </li>
            <li ng-class="{disabled:lastIndex==totalPage}">
                <a class="active" ng-click="lastIndex!=totalPage && gotoNextPage(1,lastIndex)" style="min-width: 55px;">Next  &nbsp;<i class="fa fa-angle-right"></i></a>
                <a class="" ng-click="lastIndex!=totalPage && gotoLastPage(1,totalPage)" style="min-width: 55px;"> Last &nbsp;<i class="fa fa-angle-double-right"></i></a>
            </li>
          </ul>

          <ul class="pagination" ng-if="noPages>0 && viewsortOrderPagination" style="float: right;width: 70%;">
            <li ng-class="{disabled:firstIndex==1}">
               <a class="" ng-click="firstIndex!=1 && gotoFirstPage(2)" style="min-width: 55px;"><i class="fa fa-angle-double-left"></i> &nbsp;First</a>
                <a class="active" ng-click="firstIndex!=1 && gotoPreviousPage(2,firstIndex)" style="min-width: 55px;"><i class="fa fa-angle-left"></i>&nbsp;Prev</a> 
            </li>
            <li ng-class="{active:i==currentPageNumber}" ng-repeat="i in pageList track by $index">
                <a class="active" ng-if="i==currentPageNumber">{{i}}</a>
                <a ng-click="getNextPageItems(2,i)" ng-if="i!=currentPageNumber">{{i}}</a>                   
            </li>
            <li ng-class="{disabled:lastIndex==totalPage}">
                <a class="active" ng-click="lastIndex!=totalPage && gotoNextPage(2,lastIndex)" style="min-width: 55px;">Next   &nbsp;<i class="fa fa-angle-right"></i></a>
                <a class="" ng-click="lastIndex!=totalPage && gotoLastPage(2,totalPage)" style="min-width: 55px;"> Last  &nbsp;<i class="fa fa-angle-double-right"></i></a>
            </li>
          </ul>
          <!-- <ul class="pagination">
            <li ng-repeat="i in getNumber(noPages) track by $index" ng-click="getproduct($index+1)"><span><a href="javascript:void(0)">{{$index+1}}</a></span></li>
          </ul> -->
      <!--     ##########
           <ul class="pagination" ng-if="pageList.length>0" style="float: right;width: 50%;">
            <li ng-class="{disabled:firstIndex==1}">
               <a class="" ng-click="firstIndex!=1 && gotoFirstPage()" style="min-width: 55px;"><i class="fa fa-angle-double-left"></i> &nbsp;First</a>
                <a class="active" ng-click="firstIndex!=1 && gotoPreviousPage(firstIndex)" style="min-width: 55px;"><i class="fa fa-angle-left"></i>&nbsp;Prev</a> 
            </li>
            <li ng-class="{active:i==itemPagination.currentPageNo}" ng-repeat="i in pageList track by $index">
                <a class="active" ng-if="i==itemPagination.currentPageNo">{{i}}</a>
                <a ng-click="getNextPageItems(i)" ng-if="i!=itemPagination.currentPageNo">{{i}}</a>                   
            </li>
            <li ng-class="{disabled:lastIndex==totalPage}">
                <a class="active" ng-click="lastIndex!=totalPage && gotoNextPage(lastIndex)" style="min-width: 55px;">Next  &nbsp;<i class="fa fa-angle-right"></i></a>
                <a class="" ng-click="lastIndex!=totalPage && gotoLastPage(totalPage)" style="min-width: 55px;"> Last &nbsp;<i class="fa fa-angle-double-right"></i></a>
            </li>
          </ul>
          ##### -->
        </div>
      </div>
    </div>
  </div>
</div>
</div>




<!-- ARABIC -->
<div ng-if="langval==0">
  <div dir="rtl">
<div class="rightarab_col" role="main" style="min-height: 980px;">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <div class="col-md-5 col-sm-5 col-xs-12 form-group">
          <div class="input-group">
            <input class="form-control  " placeholder="بحث..." type="text" ng-change="productSearchwithNameAr(ProductSearch)" data-ng-model="ProductSearch" style="
    box-shadow: inset 0 1px 0 rgba(0,0,0,.075);
    border-radius: 0 25px 25px 0;
    padding-right: 20px;
    border: 1px solid rgba(221,226,232,.49);
    height: 37px;
    /* line-height:  45px; */
" />
            <span class="input-group-btn " >
                                <button type="button" class="btn btn-flat" style="    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    margin-top: 2px;
    margin-bottom: 0px;
"><i class="fa fa-search"></i></button>
                            </span>
          </div>
        </div>
       
      </div>
      <div class="title_right">
         <h3>ادارة المنتج </h3>
        
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
      <div class="col-lg-12">
        <div class="panel">
          <div class="panel-heading">
            <h3 class="panel-title"></h3>
            <div class="row">
              <div class="col-lg-3 pull-right">
                <a href="#/admin/addproduct/0" class="btn btn-new" role="button">اضف منتج </a>
              </div>
            </div>
             <!--  <div class="col-lg-3  pull-right">
              </div> -->
                 <div class="row">
                 <!-- <div class="col-lg-1">
                 </div> -->
                      <div class="col-lg-2">
                    <a ng-click="productFilter(search)" class="btn btn-block btn-primary" role="button" style="
    margin-top: 25px;
"><i class="fa fa-filter" aria-hidden="true"></i>فلتر</a>
                  </div>
                   <div class="col-lg-3 ">
                    <div class="form-group">
                      <label>حالة
 </label>
                      <select class="form-control" ng-model="search.status">
                        <option value="1">نشيط  </option>
                        <option value="0">غير نشطه  </option>
                         <option value="2">على حد سواء </option>
                      </select>
                    </div>
                  </div>
                   <div class="col-lg-3 ">
                    <div class="form-group">
                      <label>الفئه الفرعيه  </label>
                      <select class="form-control" ng-change="" ng-model="search.subCategoryId">
                        <option ng-repeat="subcategory in subcategoriesbycategories" ng-value="subcategory.subCategoryId">{{subcategory.subCategoryNameAr }}</option>
                      </select>
                    </div>
                  </div>


                  <div class="col-lg-3 ">
                    <div class="form-group">
                      <label>فئة</label>
                      <select class="form-control" ng-change="getsubcategoryByCategoryId(search.categoryId)" ng-model="search.categoryId">
                        <option ng-repeat="category in categories" ng-value="category.categoryId">{{category.categoryNameAr}}</option>
                      </select>
                    </div>
                  </div>
                 
                  
                  <br>
             
                 
                </div>

                  <div class="row">
                  <div class="col-lg-2 pull-right">
                     <div class="input-group">
                      <label>امر ترتيب </label>
                <select name="report" class="form-control" ng-model="sortorder"   ng-change="sortproduct(sortorder)" >
                  <!-- <option>Customer Activity Report</option> -->
                  <option value=""> -اختر أي واحد - </option>
                  <option value="16">منخفضة إلى عالية (السعر) </option>
                  <option value="17">مرتفع إلى منخفض (سعر) </option>
                      <option value="18">شعبية </option>
                         <!--  <option value="6">Customer Wise Report</option> -->
                  <!-- <option >Customer Reward Points Report</option> -->
                </select>
                    

                    </div>
                  </div>
                </div>
            
          </div>
          <div class="panel-body">
            <table class="table table-responsive table-striped">
              <tr>
                <th class="text-right">#</th>
                <th class="text-right">اسم المنتج </th>
                <th class="text-right">فئه فرعية </th>
                <th class="text-right">الفئه</th>
                <!--  <th>Seller </th> -->
                <th class="text-right">حالة </th>
                <th class="text-center">الاجراءت</th>
              </tr>
              <tr ng-repeat="product in products">
                <td>{{$index+1+productPageVo.currentIndex}}.</td>
                <td>{{product.productNameAr}}</td>
                <td>{{product.subcategoryNameAr}}</td>
                <td>{{product.categoryNameAr}}</td>
                <td data-ng-if="product.status==0">
                  <div class="tools action-buttons" style="display: block;">
                    <span class="label label-danger label-lg ng-scope">غير نشطة  </span>
                  </div>
                </td>
                <td data-ng-if="product.status==1">
                  <div class="tools action-buttons" style="display: block;">
                    <span class="label label-success label-lg ng-scope">شطة  </span>
                  </div>
                </td>
                <th class="text-center"><a ng-click="viewproduct(product)"><i class="fa fa-eye text-green"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;<a ng-click="productmanage(product)"><i class="fa fa-pencil text-aqua"></i></a>
                   <a ng-click="listofreviews(product)" href=""> <span
                                    class="label label-info label-lg ng-scope">استعراض  </span>
                           </a>&nbsp;
                              <span data-ng-if="product.offerId==0">
                                  <a ng-click="assignofferonselectedproduct(product)" href=""> <span
                                    class="label label-info label-lg ng-scope">+ العرض </span>
                           </a>

                
                </span>
                   <span data-ng-if="product.offerId!=0">
                                  <a ng-click="removeoffertoproduct(product)" href=""> <span
                                    class="label label-danger label-lg ng-scope">X العرض </span>
                           </a>
                           
                  </span>
                </th>
              </tr>
              <tr ng-if="noproducts==1">
                <td colspan="6" class="text-center"> <strong><h3>لا يوجد بيانات مطابقة    </h3></strong> </td>
              </tr>
            </table>
          </div>
         <!--  <ul class="pagination">
            <li ng-repeat="i in getNumber(noPages) track by $index" ng-click="getproduct($index+1)"><span><a href="javascript:void(0)">{{$index+1}}</a></span></li>
          </ul> -->
      
          <ul class="pagination" ng-if="noPages>0 && !viewsortOrderPagination" style="float: right;width: 100%;">
                            <li ng-class="{disabled:firstIndex==1}">
                               <a class="" ng-click="firstIndex!=1 && gotoFirstPage(1)" style="min-width: 55px;"><!-- First -->الأول   &nbsp; <i class="fa fa-angle-double-left"></i></a>
                                <a class="active" ng-click="firstIndex!=1 && gotoPreviousPage(1,firstIndex)" style="min-width: 55px;"><!-- Prev -->سابق   &nbsp; <i class="fa fa-angle-left"></i></a> 
                            </li>
                            <li ng-class="{active:i==currentPageNumber}" ng-repeat="i in pageList track by $index">
                                <a class="active" ng-if="i==currentPageNumber">{{i}}</a>
                                <a ng-click="getNextPageItems(1,i)" ng-if="i!=currentPageNumber">{{i}}</a>                   
                            </li>
                            <li ng-class="{disabled:lastIndex==totalPage}">
                                <a class="active" ng-click="lastIndex!=totalPage && gotoNextPage(1,lastIndex)" style="min-width: 55px;"><!-- Next -->&nbsp;<i class="fa fa-angle-right"></i>تالي  </a>
                                <a class="" ng-click="lastIndex!=totalPage && gotoLastPage(1,totalPage)" style="min-width: 55px;"> <!-- Last -->&nbsp;<i class="fa fa-angle-double-right"></i> الاخير </a>
                            </li>
          </ul>

          <ul class="pagination" ng-if="noPages>0 && viewsortOrderPagination" style="float: right;width: 100%;">
                            <li ng-class="{disabled:firstIndex==1}">
                               <a class="" ng-click="firstIndex!=1 && gotoFirstPage(2)" style="min-width: 55px;"><!-- First -->الأول   &nbsp; <i class="fa fa-angle-double-left"></i></a>
                                <a class="active" ng-click="firstIndex!=1 && gotoPreviousPage(2,firstIndex)" style="min-width: 55px;"><!-- Prev -->سابق   &nbsp; <i class="fa fa-angle-left"></i></a> 
                            </li>
                            <li ng-class="{active:i==currentPageNumber}" ng-repeat="i in pageList track by $index">
                                <a class="active" ng-if="i==currentPageNumber">{{i}}</a>
                                <a ng-click="getNextPageItems(2,i)" ng-if="i!=currentPageNumber">{{i}}</a>                   
                            </li>
                            <li ng-class="{disabled:lastIndex==totalPage}">
                                <a class="active" ng-click="lastIndex!=totalPage && gotoNextPage(2,lastIndex)" style="min-width: 55px;"><!-- Next -->&nbsp;<i class="fa fa-angle-right"></i>تالي  </a>
                                <a class="" ng-click="lastIndex!=totalPage && gotoLastPage(2,totalPage)" style="min-width: 55px;"> <!-- Last -->&nbsp;<i class="fa fa-angle-double-right"></i> الاخير </a>
                            </li>
          </ul>

 
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>


