<!-- page content -->
<div ng-if="langval==1">
  
    <div class="right_col" role="main" style="min-height: 980px;">
  <div class="">
    <div class="productviewbox">
      <div class="row">
        <div class="col-md-12">
          <div class="col-md-4">
            <div class="singleimage" style="
    padding: 15px;
    border: 1px solid #ccc;
    border-color: gray;
">
              <img src="{{imageUrl}}{{product.imageName}}" alt="Image of Product" style="
       max-width: 100%;
">
            </div>
          </div>
          <div class="col-md-8">
            <h2 class="font-bold m-b-xs">{{product.productName}} </h2>
            <div>
              <h2 class="product-main-price"><span>Category</span><span style="margin-left: 30px;"> : {{product.categoryName}}</span>   <small class="text-muted"><!-- Exclude Tax --></small> </h2>
              <h2 class="product-main-price"><span>Subcategory</span><span style="margin-left: 3px;"> : {{product.subcategoryName}} </span>   <small class="text-muted"><!-- Exclude Tax --></small> </h2>
            </div>
            <div>
              <h2 class="product-main-price"><span>Unit Price</span><span style="margin-left: 31px;">:
              {{product.price}} SAR </span>  <small class="text-muted"><!-- Exclude Tax --></small> </h2>
            </div>
            <h3>Description</h3>
            <div style="font-size: 100%;"> {{product.description}}
              <br>
              <br>
            </div>
            <div>
              <h3>Features</h3>
              <ul class="pro-list">
                <!--  ng-repeat="data in  product.attributeVos">{{data.attributeName}} <span>{{data.value}}</span> -->
                <li ng-repeat="data in  product.productAttributeVos"><i class="fa fa-dot-circle-o" aria-hidden="true"></i> {{data.attributeName}} : <span>{{data.value}}</span></li>
              </ul>
            </div>
            <!--  <h3>Return Policy</h3>
            <div class="small text-muted"> {{product.returnPolicy}}
              <br>
              <br>
            </div> -->
          </div>
        </div>
      </div>
    </div>
    <div class="productviewboxthree">
      <div class="row">
        <h3 class="text-center">Return Policy</h3>
        <div style="
    padding: 25px;font-size: 100%;
"> {{product.returnPolicy}}
          <br>
          <br>
        </div>
        <!--  <h3><strong> Images</strong><br></h3>   -->
      </div>
      <!-- ############################ -->
    </div>
    <div class="productviewboxtwo">
      <h3 class="text-center">Product Images</h3>
      <div class="row">
        <!--  <h3><strong> Images</strong><br></h3>   -->
        <div class="col-md-4 " ng-repeat="product in productimages ">
          <div class="widget">
            <div class="widget-extra-full themed-background-night">
              <div id="widget-carousel6" class="carousel slide remove-margin">
                <div class="carousel-inner">
                  <div class="active item">
                    <img src="{{imageUrl}}{{product.data}}" alt="image">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ############################ -->
    </div>
  </div>
</div>
</div>
<!-- ARABIC -->
<div ng-if="langval==0">
  <div dir="rtl">
    <div class="rightarab_col" role="main" style="min-height: 980px;">
  <div class="">
    <div class="productviewboxar">
      <div class="row">
        <div class="col-md-12">
            <div class="col-md-8">
            <h2 class="font-bold m-b-xs">{{product.productNameAr}} </h2>
            <div>
              <h2 class="product-main-price"><span>الفئه  </span><span style="margin-right: 45px;"> : {{product.categoryNameAr}}</span>   <small class="text-muted"><!-- Exclude Tax --></small> </h2>
              <h2 class="product-main-price"><span>فئه فرعية  </span><span style="margin-right:13px;"> : {{product.subcategoryNameAr}} </span>   <small class="text-muted"><!-- Exclude Tax --></small> </h2>
            </div>
            <div>
              <h2 class="product-main-price"><span>سعر الوحدة  </span><span style="margin-right: 1px;"> : {{product.price}} SAR</span>  <small class="text-muted"><!-- Exclude Tax --></small> </h2>
            </div>
            <h3>وصف</h3>
            <div style="font-size: 100%;"> {{product.descriptionAr}}
              <br>
              <br>
            </div>
            <div>
              <h3>ملامح
</h3>
              <ul class="pro-list">
                <!--  ng-repeat="data in  product.attributeVos">{{data.attributeName}} <span>{{data.value}}</span> -->
                <li ng-repeat="data in  product.productAttributeVos"><i class="fa fa-dot-circle-o" aria-hidden="true"></i> {{data.attributeNameAr}} : <span>{{data.valueAr}}</span></li>
              </ul>
            </div>
            <!--  <h3>Return Policy</h3>
            <div class="small text-muted"> {{product.returnPolicy}}
              <br>
              <br>
            </div> -->
          </div>
          <div class="col-md-4">
            <div class="singleimage" style="
      border: 1px solid #ccc;
    border-color:  gray;
">
              <img src="{{imageUrl}}{{product.imageName}}" alt="Image of Product" style="
   
    max-width: 100%
">
            </div>
          </div>
        
        </div>
      </div>
    </div>
    <div class="productviewboxthreear">
      <div class="row">
        <h3 class="text-center">سياسة العائدات</h3>
        <div style="
    padding: 25px;font-size: 100%;
"> {{product.returnPolicyAr}}
          <br>
          <br>
        </div>
        <!--  <h3><strong> Images</strong><br></h3>   -->
      </div>
      <!-- ############################ -->
    </div>
    <div class="productviewboxtwoar">
      <h3 class="text-center">صور من المنتج</h3>
      <div class="row">
        <!--  <h3><strong> Images</strong><br></h3>   -->
        <div class="col-md-4 pull-right" ng-repeat="product in productimages ">
          <div class="widget">
            <div class="widget-extra-full themed-background-night">
              <div id="widget-carousel6" class="carousel slide remove-margin">
                <div class="carousel-inner">
                  <div class="active item">
                    <img src="{{imageUrl}}{{product.data}}" alt="image">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ############################ -->
    </div>
  </div>
</div>
</div>
</div>