
<!-- page content -->
        <div class="right_col" role="main" style="min-height: 980px;">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>Product Management </h3>
              </div>

              <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button">Go!</button>
                    </span>
                  </div>
                </div>
              </div>
            </div>

            <div class="clearfix"></div>

           
             
              <!-- /form input knob -->
               <div class="row">
  <div class="col-lg-11">
    <!-- TABLE STRIPED -->
    <div class="panel">
      <div class="panel-heading">
        <h3 class="panel-title"></h3>
        <div class="row">
          <div class="col-lg-3">
            <a href="#/admin/addproduct/0" class="btn btn-block btn-success" role="button">Add
                                Product </a>
          </div>
          <div class="col-lg-3  pull-right">
            <div class="input-group">
              <input class="form-control  " placeholder="Search..." type="text" data-ng-model="ProductSearch" />
              <span class="input-group-btn ">
                                <button type="button" class="btn btn-flat"><i class="fa fa-search"></i></button>
                            </span>
            </div>
          </div>
        </div>
        <div class="panel-body">
          <table class="table table-responsive table-striped">
            <tr>
              <th>#</th>
              <th>Product Name </th>
              <th>SubCategory </th>
              <th>Category</th>
              <th>Seller </th>
              <th>Status </th>
              <th>Actions</th>
            </tr>
            <tr ng-repeat="product in products |filter: ProductSearch">
              <td>{{$index+1+productPageVo.currentIndex}}.</td>
              <td>{{product.productName}}</td>
              <td>{{product.subcategoryName}}</td>
              <td>{{product.categoryName}}</td>
              <td>{{product.sellerName}}</td>
              <td data-ng-if="product.status==0">
                                <div class="tools action-buttons" style="display: block;">
                                    <span class="label label-danger label-lg ng-scope">Deactivated</span>
                                </div>
                            </td>
              <td data-ng-if="product.status==1">
                                <div class="tools action-buttons" style="display: block;">
                                    <span class="label label-success label-lg ng-scope">Active</span>
                                </div>
                            </td>
              <th><a ng-click="viewproduct(product)"><i class="fa fa-eye text-green"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;<a ng-click="productmanage(product)"><i class="fa fa-pencil text-aqua"></i></a>
              </th>
            </tr>
          </table>
        </div>
      </div>
      <ul class="pagination">
        <li ng-repeat="i in getNumber(noPages) track by $index" ng-click="getproduct($index+1)"><span><a href="javascript:void(0)">{{$index+1}}</a></span>
      </ul>
      <!--  <ul>
    <li ng-repeat="i in getNumber(noPages) track by $index" ng-click="getproduct($index+1)"><span>???{{$index+1}}</span></li>
</ul> -->
      <!-- END TABLE STRIPED -->
    </div>
  </div>
</div>

              <!-- /form input knob -->

        




          </div>
        </div>
        <!-- /page content -->

            

       