
<!-- page content -->
        <div class="right_col" role="main" style="min-height: 980px;">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>View Product </h3>
              </div>

              <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button">Go!</button>
                    </span>
                  </div>
                </div>
              </div>
            </div>

            <div class="clearfix"></div>

           
             
              <!-- /form input knob -->
     <div class="main-content">
            	<!-- <div ng-repeat="product in products"> -->
				<div class="container-fluid">

					<div class="panel panel-item">
						<div class="clearfix">
							<!-- LEFT COLUMN -->
							<div class="item-left">
								<!-- PROFILE HEADER -->
								<div class="item-header" style="min-height: 300px">
									<div class="overlay"></div><!-- public/script/img/jwel.jpg -->
									
									<img ng-if="product.imageName" src="{{imageUrl}}{{product.imageName}}" height="260px" width="100%">
									<div ng-if="!product.imageName"  style="min-height: 300px">No image</div>
									<!-- <div class="item-main">
										
										

									</div> -->
									<div class="item-stat">
										<div class="row">
											<div class="col-md-4 stat-item">
												Store <span>{{product.storeName}}</span>
											</div>
											<div class="col-md-4 stat-item">
												Quantity <span>{{product.productQuantity}}</span>
											</div>
											<div class="col-md-4 stat-item">
												Price <span>{{product.price}}</span>
											</div>
										</div>
									</div>
								</div>
								
							</div>
							<!-- END LEFT COLUMN -->
							<!-- RIGHT COLUMN -->
							<div class="item-right">
								<h4 class="heading"><b>Item Info</b></h4>
								<!-- AWARDS -->
								<div class="itemdescription">
									<div class="row">
										
										<ul class="list-unstyled list-justify">

											<li>Item Name <span>{{product.productName}} </span></li>
											<li>Rating <span><div data-ng-if="product.rating==0">
           
  <span class="fa fa-star " ></span>
<span class="fa fa-star "></span>
<span class="fa fa-star "></span>
<span class="fa fa-star "></span>
<span class="fa fa-star"></span>
</div>

<div data-ng-if="product.rating==1">
           
  <span class="fa fa-star "></span>
<span class="fa fa-star "></span>
<span class="fa fa-star "></span>
<span class="fa fa-star "></span>
<span class="fa fa-star checked" style="color:#FFDF00"></span>
</div>
 <div data-ng-if="product.rating==2">
           
  <span class="fa fa-star "></span>
<span class="fa fa-star "></span>
<span class="fa fa-star "></span>
<span class="fa fa-star checked" style="color:#FFDF00"></span>
<span class="fa fa-star checked "style="color:#FFDF00"></span>
</div>
<div data-ng-if="product.rating==3">
           
  <span class="fa fa-star "></span>
<span class="fa fa-star "></span>
<span class="fa fa-star checked "style="color:#FFDF00"></span>
<span class="fa fa-star checked" style="color:#FFDF00"></span>
<span class="fa fa-star checked" style="color:#FFDF00"></span>
</div>
<div data-ng-if="product.rating==4">
           
  <span class="fa fa-star "></span>
<span class="fa fa-star checked "style="color:#FFDF00"></span>
<span class="fa fa-star checked "style="color:#FFDF00"></span>
<span class="fa fa-star checked"style="color:#FFDF00"></span>
<span class="fa fa-star checked" style="color:#FFDF00"></span>
</div>
<div data-ng-if="product.rating==5">
           
  <span class="fa fa-star checked" style="color:#FFDF00"></span>
<span class="fa fa-star checked "style="color:#FFDF00"></span>
<span class="fa fa-star checked "style="color:#FFDF00"></span>
<span class="fa fa-star checked"style="color:#FFDF00"></span>
<span class="fa fa-star checked"style="color:#FFDF00"></span>
</div>
 </span></li>
											<li>Category <span>{{product.categoryName}} </span></li>
											<li>SubCategory <span>{{product.subcategoryName}} </span></li>
											<li>Status <span><div data-ng-if="product.status==0">
                                <div class="tools action-buttons" style="display: block;">
                                    <span class="label label-danger label-lg ng-scope">Deactivated</span>
                                </div>
                            </div>
                            <div data-ng-if="product.status==1">
                                <div class="tools action-buttons" style="display: block;">
                                    <span class="label label-success label-lg ng-scope">Active</span>
                                </div>
                            </div> </span></li>

                            				<li>Delivery status <span><div data-ng-if="product.delivaryStatus==0">
                                <div class="tools action-buttons" style="display: block;">
                                    <span class="label label-danger label-lg ng-scope">Pick from Store</span>
                                </div>
                            </div>
                            <div data-ng-if="product.delivaryStatus==1">
                                <div class="tools action-buttons" style="display: block;">
                                    <span class="label label-success label-lg ng-scope">Available</span>
                                </div>
                            </div> </span></li>


											<li>City (Store) <span>{{product.cityName}} </span></li>
                                            <li>Country (Store)<span>{{product.countryName}}</span></li>
											<li>Telephone Number(Store) <span>{{product.phone}}</span></li>
											
											
										</ul>
                                        <br>
                                        <br>
                                        <div class="col-lg-2">
                                        <div class="container">
                                       <h4 class="heading"><b>Item Description</b></h4>
                                            <div class="row">
                                            {{product.description}}
                                            </div>
                                        </div>
										</div>
									</div>
									
								</div>
								<!-- END AWARDS -->
															</div>
							<!-- END RIGHT COLUMN -->
						</div>
					</div>
				</div>
			<!-- </div> -->
			</div>

         <!-- <!--    portfolio -->
        
 

 <div class="col-lg-12">
          
                <div class="row">

                  <div class="col-lg-3 col-md-3 col-sm-6" ng-repeat= "product in productimages " >
                    <div  class="img-wraps">
           {{product}}
                        <!--  <span  class="closes" title="Delete" ng-click="deleteimage(img.data)">&times;</span> -->
                    <img  style="min-width:100%"  ng-src="{{imageUrl}}{{product.data}}"  class="img-thumbnail" ng-if="!img.isLoadin">
                     <img style="min-width:100%"    ng-src="public/script/www/img/giphy.gif" class="img-thumbnail" ng-if="img.isLoadin">
                  </div>
               
            </div>
          </div>

          <hr>
        

         
  <div class="box-footer ">
  	<div class="col-md-2">

                                        <!-- <abutton type="submit" class="btn btn-primary" >close</button> -->
                                        	 <a href="#/admin/product" class="btn btn-block btn-primary"
                            role="button">Close</a>
                                    </div>
                                </div>

        </div>
        <!-- /page content -->

            

       