
    <ion-nav-bar class="bar-positive">
  <ion-nav-back-button class="button button-clear"
    ng-click="goBack()">
    <i class="ion-arrow-left-c"></i> Back
  </ion-nav-back-button>
   <ion-nav-buttons side="left"> 
           <a ng-click="goBack()" class="button button-icon icon ion-ios-arrow-back"></a>
      </ion-nav-buttons>
</ion-nav-bar>
<ion-content class="has-header">
<!-- <
    <ion-content scroll="true" class="padding " > -->
     <form id="signup-form" ng-submit="">
        <div class="list">
            <label class="item item-input item-stacked-label">
                <span class="input-label">Title {{addPost.title}}</span>
                <input type="text" ng-model="addPost.title" placeholder="Title">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Description</span>
                <textarea ng-model="addPost.discription" placeholder="Text"></textarea>
            </label>
            <!--  <label class="item item-input"> -->
            <button class="item button button-block" modal-select ng-model="addPost.category" options="categories" modal-title="Select a category">
                <span ng-if="!addPost.category"> Category select</span><span ng-if="addPost.category">{{addPost.category.catName}}</span>
                <div class="option">
                    {{option.catName}}
                </div>
            </button>
            <!--    </label> -->
           
                <button class="item button button-block" ng-if="addPost.category" modal-select ng-model="addPost.subcategory" options="subcategories" modal-title="Select a subcategory">
                    <span ng-if="!addPost.subcategory"> subcategory select</span><span ng-if="addPost.subcategory">{{addPost.subcategory.subcatName}}</span>
                    <div class="option">
                        {{option.subcatName}}
                    </div>
                </button>

            <a ui-sref="addPost.contact" class="item button button-full button-positive ">
  Next <span class="glyphicon glyphicon-circle-arrow-right"></span>
  </a>
        </div>
        </form>
    <!-- </ion-content> -->
    </ion-content>


