<!-- page content -->
<div ng-if="langval==1">
 
<div class="right_col" role="main" style="min-height: 980px;">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>Tax Management </h3>
      </div>
      <div class="title_right">
        <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
          <div class="input-group">
            <input class="form-control  " placeholder="Search..." type="text" data-ng-model="taxSearch" />
            <span class="input-group-btn ">
                                <button type="button" class="btn btn-flat"><i class="fa fa-search"></i></button>
                            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
    <!-- /form input knob -->
    <div class="row">
      <div class="col-lg-12">
        <!-- TABLE STRIPED -->
        <div class="panel">
          <div class="panel-heading">
            <h3 class="panel-title"></h3>
            <div class="row">
              <div class="col-lg-2">
                <a href="#/admin/addtax/0" class="btn btn-new" role="button">Add Tax</a>
              </div>
              <div class="col-lg-2 ">
              </div>
            </div>
            <div class="panel-body">
              <table class="table table-responsive table-striped">
                <tr>
                  <th>#</th>
                  <th>Tax Name</th>
                  <th>Country</th>
                  <th>City</th>
                  <th>Tax Percentage</th>
                  <th>Status</th>
                  <th>Actions</th>
                </tr>
                <tr ng-repeat="tax in tx = (taxes  | filter:taxSearch)">
                  <td>{{$index+1}}.</td>
                  <td>{{tax.taxName}}</td>
                  <td>{{tax.countryName}}</td>
                  <td>{{tax.cityName}}</td>
                  <td>{{tax.taxPercentage}} %</td>
                  <td data-ng-if="tax.status==0">
                    <div class="tools action-buttons" style="display: block;">
                      <span class="label label-danger label-lg ng-scope">Deactivated</span>
                    </div>
                  </td>
                  <td data-ng-if="tax.status==1">
                    <div class="tools action-buttons" style="display: block;">
                      <span class="label label-success label-lg ng-scope">Active</span>
                    </div>
                  </td>
                  <th>
                    <a ng-click="viewtax(tax)"> <i class="fa fa-eye text-green"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;<a ng-click="taxmanage(tax)" href=""><i class="fa fa-pencil text-aqua"></i></a>
                  </th>
                </tr>
                <tr ng-if="tx.length==0">
                  <td colspan="7" class="text-center"> <strong><h3>There Is No Matching Data </h3></strong> </td>
                </tr>
              </table>
            </div>
          </div>
          <!-- END TABLE STRIPED -->
        </div>
      </div>
      <!-- END WRAPPER -->
    </div>
    <!-- /form input knob -->
  </div>
</div>
</div>
<!-- ARABIC -->
<div ng-if="langval==0">
  <div dir="rtl">
<div class="rightarab_col" role="main" style="min-height: 980px;">
  <div class="">
    <div class="page-title">
      <div class="title_left">
       <!--   <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
          <div class="input-group">
            <input class="form-control  " placeholder="Search..." type="text" data-ng-model="taxSearch" />
            <span class="input-group-btn ">
                                <button type="button" class="btn btn-flat"><i class="fa fa-search"></i></button>
                            </span>
          </div>
        </div> -->

        <div class="col-md-5 col-sm-5 col-xs-12 form-group">
              <div class="input-group">
                <input class="form-control  " placeholder="بحث..." type="text" data-ng-model="taxSearch" style="box-shadow: inset 0 1px 0 rgba(0,0,0,.075); border-radius: 0 25px 25px 0; padding-right: 20px; border: 1px solid rgba(221,226,232,.49); height: 37px;" />
                <span class="input-group-btn ">
                                <button type="button" class="btn btn-flat" style=" border-top-left-radius: 25px;  border-bottom-left-radius: 25px; margin-top: 2px; margin-bottom: 0px;"><i class="fa fa-search"></i></button>
                            </span>
              </div>
            </div>
       
      </div>
      <div class="title_right">
         <h3>إدارة الضرائب </h3>
       
      </div>
    </div>
    <div class="clearfix"></div>
    <!-- /form input knob -->
    <div class="row">
      <div class="col-lg-12">
        <!-- TABLE STRIPED -->
        <div class="panel">
          <div class="panel-heading">
            <h3 class="panel-title"></h3>
            <div class="row">
              <div class="col-lg-2 pull-right">
                <a href="#/admin/addtax/0" class="btn btn-new" role="button">إضافة الضرائب</a>
              </div>
              <div class="col-lg-2 ">
              </div>
            </div>
            <div class="panel-body">
              <table class="table table-responsive table-striped">
                <tr>
                  <th class="text-right">#</th>
                  <th class="text-right">اسم الضريبة  </th>
                  <th class="text-right">دولة  </th>
                  <th class="text-right">مدينة  </th>
                  <th class="text-right">نسبة الضرائب  </th>
                  <th class="text-right">حالة  </th>
                  <th class="text-right">الاجراءت</th>
                </tr>
                <tr ng-repeat="tax in tx = (taxes  | filter:taxSearch)">
                  <td>{{$index+1}}.</td>
                  <td>{{tax.taxName}}</td>
                  <td>{{tax.countryNameAr}}</td>
                  <td>{{tax.cityNameAr}}</td>
                  <td>{{tax.taxPercentage}} %</td>
                  <td data-ng-if="tax.status==0">
                    <div class="tools action-buttons" style="display: block;">
                      <span class="label label-danger label-lg ng-scope">غير نشطة  </span>
                    </div>
                  </td>
                  <td data-ng-if="tax.status==1">
                    <div class="tools action-buttons" style="display: block;">
                      <span class="label label-success label-lg ng-scope">شطة  </span>
                    </div>
                  </td>
                  <th class="text-right">
                    <a ng-click="viewtax(tax)"> <i class="fa fa-eye text-green"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;<a ng-click="taxmanage(tax)" href=""><i class="fa fa-pencil text-aqua"></i></a>
                  </th>
                </tr>
                <tr ng-if="tx.length==0">
                  <td colspan="7" class="text-center"> <strong><h3>لا يوجد بيانات مطابقة    </h3></strong> </td>
                </tr>
              </table>
            </div>
          </div>
          <!-- END TABLE STRIPED -->
        </div>
      </div>
      <!-- END WRAPPER -->
    </div>
    <!-- /form input knob -->
  </div>
</div>
</div>
</div>
<!-- /page content -->
