<div ng-if="langval==1">
  <div class="right_col" role="main" style="min-height: 980px;">
    <div class="">
      <div class="page-title">
        <div class="title_left">
          <h3>Reviews And Rating </h3>
        </div>
        <div class="title_right">
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="row">
        <div class="col-lg-11">
          <div class="panel">
            <div class="panel-heading">
              <h3 class="panel-title">
             <span><strong>Product Name : </strong></span>  {{product.productName}} 
            </h3>
            </div>
            <div class="panel-body">
              <div class="social-comment " style="width: 100%; border-radius:  5px; border:  1px solid; border-color:  #cccc; background-color: beige;" ng-repeat="review in reviews">
                <div class="media-body" style="width: 80%;float: left;padding-left: 20px;"> <a href=""><b> {{review.customerName}} </b> </a>
                  <br>
                  <span><div data-ng-if="review.rating==0">
           
              <span class="fa fa-star " ></span>
                  <span class="fa fa-star "></span>
                  <span class="fa fa-star "></span>
                  <span class="fa fa-star "></span>
                  <span class="fa fa-star"></span>
                </div>
                <div data-ng-if="review.rating==1">
                  <span class="fa fa-star checked" style="color:#FFDF00"></span>
                  <span class="fa fa-star "></span>
                  <span class="fa fa-star "></span>
                  <span class="fa fa-star "></span>
                  <span class="fa fa-star"></span>
                </div>
                <div data-ng-if="review.rating==2">
                  <span class="fa fa-star checked" style="color:#FFDF00"></span>
                  <span class="fa fa-star checked " style="color:#FFDF00"></span>
                  <span class="fa fa-star "></span>
                  <span class="fa fa-star "></span>
                  <span class="fa fa-star"></span>
                </div>
                <div data-ng-if="review.rating==3">
                  <span class="fa fa-star checked" style="color:#FFDF00"></span>
                  <span class="fa fa-star checked " style="color:#FFDF00"></span>
                  <span class="fa fa-star checked " style="color:#FFDF00"></span>
                  <span class="fa fa-star "></span>
                  <span class="fa fa-star"></span>
                </div>
                <div data-ng-if="review.rating==4">
                  <span class="fa fa-star checked" style="color:#FFDF00"></span>
                  <span class="fa fa-star checked " style="color:#FFDF00"></span>
                  <span class="fa fa-star checked " style="color:#FFDF00"></span>
                  <span class="fa fa-star checked" style="color:#FFDF00"></span>
                  <span class="fa fa-star"></span>
                </div>
                <div data-ng-if="review.rating==5">
                  <span class="fa fa-star checked" style="color:#FFDF00"></span>
                  <span class="fa fa-star checked " style="color:#FFDF00"></span>
                  <span class="fa fa-star checked " style="color:#FFDF00"></span>
                  <span class="fa fa-star checked" style="color:#FFDF00"></span>
                  <span class="fa fa-star checked" style="color:#FFDF00"></span>
                </div>
                </span>
                {{review.data}}
                <br>
                <a class="small" href="" style="color: #e35b5a;font-size: 13px; font-size:  15px; padding-left: 10px;"> {{review.lastUpdatedTime|date}}</a> <small class="text-muted"></small>
              </div>
              <a class="" href="" style=" width: 20%;"> 
              <img src="public/script/img/review.png" alt="image"style=" max-width:8%; padding: 10px 10px 0 0 ;"> </a>
              <br>
              <div class="social-comment" style=" border-radius:  5px; border:  1px solid; border-color:  #cccc; background-color: beige;">
                <a class="pull-left" href="" style=" width:  150px;"> <img src="public/script/img/user.png" alt="image"style="
    max-width:  40%; padding:  10px 0 0 10px;"> </a>
                <div ng-if="review.comments==null">
                  <div class="media-body">
                    <div class="form-group" data-ng-class="{ 'has-error' : addproductForm.description.$invalid &amp;&amp; !addproductForm.description.$pristine}">
                      <label for="description">Comment on Review </label>
                      <textarea class="form-control" data-ng-model="admincomment.description" name="description" id="description" placeholder="Enter Comment on Review" required="required" rows="3"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary" ng-click="commentonreview(admincomment.description,review.reviewId);">Reply</button>
                    <small class="text-muted"></small>
                  </div>
                </div>
                <div ng-if="review.comments!=null">
                  <div class="media-body">
                    <div class="form-group" data-ng-class="{ 'has-error' : addproductForm.description.$invalid &amp;&amp; !addproductForm.description.$pristine}">
                      <label for="comment">Comment on Review</label>
                      <textarea class="form-control" data-ng-model="review.comments" name="comments" id="comments" placeholder="Enter Comment on Review" required="required" rows="3" readonly="true"></textarea>
                    </div>
                    <!-- <button type="submit" class="btn btn-primary" ng-click="commentonreview(admincomment.description,review.reviewId);">Reply</button> -->
                    <small class="text-muted"></small>
                  </div>
                </div>
              </div>
           
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<!-- ARABIC -->
<div ng-if="langval==0">
  <div dir="rtl">
    <div class="rightarab_col" role="main" style="min-height: 980px;">
      <div class="">
        <div class="page-title">
          <div class="title_right pull-right">
            <h3>استعراض وتقييم  </h3>
          </div>
          <div class="title_right">
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
          <div class="col-lg-12">
            <div class="panel">
              <div class="panel-heading">
                <h3 class="panel-title">
             <span><strong>اسم المنتج
 : </strong></span>  {{product.productNameAr}} 
            </h3>
              </div>
              <div class="panel-body">
                <div class="social-comment " style="width: 100%; border-radius:  5px; border:  1px solid; border-color:  #cccc; background-color: beige;
" ng-repeat="review in reviews">
                  <!-- <div style="width: 20%">

</div> -->
                  <a class="" href="" style="
 width: 20%;
  
"> <img src="public/script/img/review.png" alt="image"style="
    max-width:  8%;
    padding: 10px 10px 0 0 ;
    margin-top: 20px;
    margin-right: 20px;

"> </a>
                  <div class="media-body" style="width: 80%;float: left;"> <a href=""><b> {{review.customerName}} </b> </a>
                    <br>
                    <span><div data-ng-if="review.rating==0">
           
              <span class="fa fa-star " ></span>
                    <span class="fa fa-star "></span>
                    <span class="fa fa-star "></span>
                    <span class="fa fa-star "></span>
                    <span class="fa fa-star"></span>
                  </div>
                  <div data-ng-if="review.rating==1">
                    <span class="fa fa-star checked" style="color:#FFDF00"></span>
                    <span class="fa fa-star "></span>
                    <span class="fa fa-star "></span>
                    <span class="fa fa-star "></span>
                    <span class="fa fa-star"></span>
                  </div>
                  <div data-ng-if="review.rating==2">
                    <span class="fa fa-star checked" style="color:#FFDF00"></span>
                    <span class="fa fa-star checked " style="color:#FFDF00"></span>
                    <span class="fa fa-star "></span>
                    <span class="fa fa-star "></span>
                    <span class="fa fa-star"></span>
                  </div>
                  <div data-ng-if="review.rating==3">
                    <span class="fa fa-star checked" style="color:#FFDF00"></span>
                    <span class="fa fa-star checked " style="color:#FFDF00"></span>
                    <span class="fa fa-star checked " style="color:#FFDF00"></span>
                    <span class="fa fa-star "></span>
                    <span class="fa fa-star"></span>
                  </div>
                  <div data-ng-if="review.rating==4">
                    <span class="fa fa-star checked" style="color:#FFDF00"></span>
                    <span class="fa fa-star checked " style="color:#FFDF00"></span>
                    <span class="fa fa-star checked " style="color:#FFDF00"></span>
                    <span class="fa fa-star checked" style="color:#FFDF00"></span>
                    <span class="fa fa-star"></span>
                  </div>
                  <div data-ng-if="review.rating==5">
                    <span class="fa fa-star checked" style="color:#FFDF00"></span>
                    <span class="fa fa-star checked " style="color:#FFDF00"></span>
                    <span class="fa fa-star checked " style="color:#FFDF00"></span>
                    <span class="fa fa-star checked" style="color:#FFDF00"></span>
                    <span class="fa fa-star checked" style="color:#FFDF00"></span>
                  </div>
                  </span>
                  {{review.data}}
                  <br>
                  <a class="small" href="#" style="
    color: #e35b5a;
        font-size: 13px;
    font-family:   " oxygen ", "Roboto Condensed ", sans-serif, Arial;
    font-size:  15px;
    padding-left: 10px;
"> {{review.lastUpdatedTime|date}}</a> <small class="text-muted"></small>
                </div>
                <br>
                <div class="social-comment" style=" border-radius:  5px; border:  1px solid; border-color:  #cccc; background-color: beige;
">
                  <a class="pull-left" href="" style="
    width:  150px;
"> <img src="public/script/img/user.png" alt="image"style="
    max-width:  40%;
    padding:  10px 0 0 10px;
         margin-top: 25px;     margin-right: 25px;

"> </a>
 <div ng-if="review.comments==null">
                  <div class="media-body">
                    <div class="form-group" data-ng-class="{ 'has-error' : addproductForm.description.$invalid &amp;&amp; !addproductForm.description.$pristine}">
                      <label for="description" style="padding-right: 20px;">تعليق على المراجعة </label>
                      <textarea class="form-control" data-ng-model="admincomment.description" name="description" id="description" placeholder="أدخل التعليق على المراجعة " required="required" rows="3" style="    margin-right: 15px;"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary" ng-click="commentonreview(admincomment.description,review.reviewId);" style="    margin-right: 17px;">الرد</button>
                    <small class="text-muted"></small>
                  </div>
                </div>
                  <div ng-if="review.comments!=null">
                  <div class="media-body">
                    <div class="form-group" data-ng-class="{ 'has-error' : addproductForm.description.$invalid &amp;&amp; !addproductForm.description.$pristine}">
                      <label for="comment">تعليق على المراجعة </label>
                      <textarea class="form-control" data-ng-model="review.comments" name="comments" id="comments" placeholder="Enter Comment on Review" required="required" rows="3" readonly="true"></textarea>
                    </div>
                    <!-- <button type="submit" class="btn btn-primary" ng-click="commentonreview(admincomment.description,review.reviewId);">Reply</button> -->
                    <small class="text-muted"></small>
                  </div>
                </div>

              
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
