
<!-- page content -->
        <div class="right_col" role="main" style="min-height: 980px;">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>View Country </h3>
              </div>

              <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button">Go!</button>
                    </span>
                  </div>
                </div>
              </div>
            </div>

            <div class="clearfix"></div>

           
             
              <!-- /form input knob -->
      <div class="row">
                <div class="col-lg-3 pull-right">
                                        <a href="#/admin/country" class="btn btn-block btn-primary " role="button">Back to Country</a>
                                    </div>
                
                </div>
                
                <div class="row">
                    
                   
                    <div class="panel">
                                <div class="panel-heading">
                                    <h2 class="panel-title "><b></b></h2>
                                </div>
                        <form role="form" name="addcountryForm">
                                <div class="panel-body">
                                    <div class="col-lg-6">
                                                                        
                                        <div class="form-group"
                                data-ng-class="{ 'has-error' : addcountryForm.countryName.$invalid &amp;&amp; !addcountryForm.countryName.$pristine}">
                                <label for="countryName">Country Name</label> <input
                                    class="form-control" data-ng-model="country.countryName"
                                    name="countryName" id="countryName" data-ng-readonly="true" readonly="readonly" type="text"
                                    required="required"/>
                               
                            </div>
                       <!--  <input type="file" ng-model="file"  accept='image/*' ng-change="openFile(file)" /> -->
          <!--   <div class="button" ngf-select="upload($file)">Upload on file select</div> -->


           <!--   <a ng-click="selectFile()">Upload Your File</a>

             <input type="file" style="display:none" 
                id="file" name='file' onchange="angular.element(this).scope().fileNameChanged(this)" /> -->
       

                            <div class="form-group"
                                    data-ng-class="{ 'has-error' : addcountryForm.countryStatus.$invalid &amp;&amp; !addcountryForm.countryStatus.$pristine}">
                                    <label for="countryStatus">Country Status &nbsp;&nbsp;&nbsp;&nbsp;  </label><br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <label class="radio-inline"><input type="radio" name="countryStatus" value="1" ng-model="country.countryStatus">Active</label>
                                        <label class="radio-inline"><input type="radio" name="countryStatus" value="0" ng-model="country.countryStatus">Discontinued</label>
                                </div>
                                
                                        <!-- <div class="box-footer">
                            <button type="submit" class="btn btn-primary" ng-click="addCountry(country);">Submit</button>
                        </div> -->

                        <div class="box-footer">

                            <div class="col-lg-3">

                        <a href="#/admin/country" class="btn btn-block btn-primary"
                            role="button">Close</a>
                    </div>
                </div>
                 
                </div>
                        </form>
        <!-- /page content -->

            

       