
<!-- page content -->

        <div class="right_col" role="main" style="min-height: 980px;">

        <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>User Report <small>Activity report</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Settings 1</a>
                          </li>
                          <li><a href="#">Settings 2</a>
                          </li>
                        </ul>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                 <div ng-if="langval==0">
<div class="row panel panel-success" style="margin-top:2%;">
  <div class="panel-heading lead" style="
    color: #ffffff;
    background-color: #090b07;
    border-color: #9f8585;
">
    <div class="row">
      <div class="col-lg-8 col-md-8"><i class="fa fa-home"></i> View Store Details</div>
      <div class="col-lg-4 col-md-4 text-right">
        <!-- <div class="btn-group text-center">
                            <a href="student-view.php?sid=1&amp;id=68" class="btn btn-success btn-sm btn-default"><i class="fa fa-eye fa-1x"></i></a>
                            <a href="student-modify.php?sid=1&amp;id=68" class="btn btn-success btn-sm btn-default"><i class="fa fa-edit fa-1x"></i></a>
                            <a href="student-print.php?sid=1&amp;id=68" class="btn btn-success btn-sm btn-default"><i class="fa fa-print fa-1x"></i></a>
                            <a href="student-delete.php?sid=1&amp;id=68" class="btn btn-success btn-sm btn-default"><i class="fa fa-trash-o fa-1x"></i></a>
                        </div> -->
      </div>
    </div>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="row">
          <div class="col-lg-3 col-md-3">
            <center>
              <span class="text-left">
                                        <img alt="Store Logo" src="{{imageUrl}}{{store.imageName}}" id="profile-image1" > 


                                            <!-- Modal -->
                                           
                                            <!-- /.modal -->                    
                                    </span></center>
            <div class="table-responsive panel">
              <table class="table">
                <tbody>
                  <tr>
                    <td class="text-center">
                      <span class="btn btn-danger  btn-block"> {{store.storeName}}</span>
                      <span class="btn btn-success  btn-block"> <span><div data-ng-if="store.rating==0">
           
  <span class="fa fa-star " ></span>
                      <span class="fa fa-star "></span>
                      <span class="fa fa-star "></span>
                      <span class="fa fa-star "></span>
                      <span class="fa fa-star"></span>
            </div>
            <div data-ng-if="store.rating==1">
              <span class="fa fa-star checked" style="color:#FFDF00"></span>
              <span class="fa fa-star "></span>
              <span class="fa fa-star "></span>
              <span class="fa fa-star "></span>
              <span class="fa fa-star"></span>
            </div>
            <div data-ng-if="store.rating==2">
              <span class="fa fa-star checked" style="color:#FFDF00"></span>
              <span class="fa fa-star checked " style="color:#FFDF00"></span>
              <span class="fa fa-star "></span>
              <span class="fa fa-star "></span>
              <span class="fa fa-star"></span>
            </div>
            <div data-ng-if="store.rating==3">
              <span class="fa fa-star checked" style="color:#FFDF00"></span>
              <span class="fa fa-star checked " style="color:#FFDF00"></span>
              <span class="fa fa-star checked " style="color:#FFDF00"></span>
              <span class="fa fa-star "></span>
              <span class="fa fa-star"></span>
            </div>
            <div data-ng-if="store.rating==4">
              <span class="fa fa-star checked" style="color:#FFDF00"></span>
              <span class="fa fa-star checked " style="color:#FFDF00"></span>
              <span class="fa fa-star checked " style="color:#FFDF00"></span>
              <span class="fa fa-star checked" style="color:#FFDF00"></span>
              <span class="fa fa-star"></span>
            </div>
            <div data-ng-if="store.rating==5">
              <span class="fa fa-star checked" style="color:#FFDF00"></span>
              <span class="fa fa-star checked " style="color:#FFDF00"></span>
              <span class="fa fa-star checked " style="color:#FFDF00"></span>
              <span class="fa fa-star checked" style="color:#FFDF00"></span>
              <span class="fa fa-star checked" style="color:#FFDF00"></span>
            </div>
            </span>
            <!--   rating -->
            </span>
            </td>
            </tr>
            </tbody>
            </table>
          </div>
        </div>
        <div class="col-lg-9 col-md-9">
          <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" id="#Summery" class="text"><i class="fa fa-indent"></i> Summary</a></li>
            <!-- <li><a data-toggle="tab" id="#Contact" class="text"><i class="fa fa-bookmark-o"></i> Contact Info</a></li> -->
            <!-- <li><a data-toggle="tab" id="#Address" class="text"><i class="fa fa-home"></i> Address</a></li> -->
            <!-- <li><a data-toggle="tab" id="#General" class="text"><i class="fa fa-info"></i> General Info</a></li> -->
          </ul>
          <div class="tab-content">
            <div id="Summery" class="tab-pane fade in active">
              <div class="table-responsive panel">
                <table class="table">
                  <tbody>
                    <tr>
                      <td class="text"><i class="fa fa-user"></i> contact Person</td>
                      <td>{{store.contactName}}</td>
                    </tr>
                    <tr>
                      <td class="text"><i class="glyphicon glyphicon-phone"></i> Mobile Number</td>
                      <td>{{store.phoneNumber}}</td>
                    </tr>
                    <tr>
                      <td class="text"><i class="glyphicon glyphicon-phone"></i> Telephone Number</td>
                      <td>{{store.telephoneNo}}</td>
                    </tr>
                    <tr>
                      <td class="text"><i class="fa fa-book"></i> Address</td>
                      <td>{{store.address}}</td>
                    </tr>
                    <tr>
                      <td class="text"><i class="fa fa-file-text"></i> Description </td>
                      <td>{{store.description}}</td>
                    </tr>
                    <tr>
                      <td class="text"><i class="fa fa-flag"></i> City</td>
                      <td ng-if="store.cityName">{{store.cityName}}</td>
                       <td ng-if="!store.cityName">{{dataitemreq.cityName}}</td>
                    </tr>
                    <tr>
                      <td class="text"><i class="fa fa-flag"></i>Country</td>
                      <td ng-if="store.countryName">{{store.countryName}}</td>
                       <td ng-if="!store.countryName">{{dataitemreq.countryName}}</td>
                    </tr>
                    <tr>
                      <td class="text"><i class="fa fa-envelope-o"></i> E-mail Id</td>
                      <td>{{store.emailId}}</td>
                    </tr>
                    <tr>
                      <td class="text"><i class="fa fa-university"></i> Website</td>
                      <td>
                        {{store.webAddress}} </td>
                    </tr>
                    <tr>
                      <td class="text"><i class="fa fa-file-text"></i> Password</td>
                      <td> 
                        <div ng-if ="pwId==1">
                        <div class="col-lg-6">
                            <input class="form-control" ng-model="password.password" name="password" id="password" data-ng-readonly="true" readonly="readonly" type="text" required="required" />
                          </div>
                          <div class="col-lg-2">
                            <button type="submit" class="btn btn-primary" ng-click="hidepassword();">Hide Password</button>
                          </div>
                        </div>

                        <div ng-if="pwId==0">
                          <div class="col-lg-6">
                            <input class="form-control" value="passw123456" name="password" id="password" data-ng-readonly="true" readonly="readonly" type="password" required="required" />
                          </div>
                          <div class="col-lg-2">
                            <button type="submit" class="btn btn-primary" ng-click="viewpassword(store);">View Password</button>
                          </div>
                        </div>
                        <!-- <div ng-if="pwId=0">
                          <div class="col-lg-6">
                            <input class="form-control" value="123456rsk" name="password" id="password" data-ng-readonly="true" readonly="readonly" type="Password" required="required" />
                          </div>
                          <div class="col-lg-2">
                            <button type="submit" class="btn btn-primary" ng-click="viewpassword(store);">View Password</button>
                          </div>
                        </div> -->
                        
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div id="Address" class="tab-pane fade">
              <div class="table-responsive panel">
                <table class="table">
                  <tbody>
                    <tr>
                      <td class="text"><i class="fa fa-home"></i> Address</td>
                      <td>
                        <address>
                          <strong>
        C-***, Amahiya </strong>
                          <br> Kharobar, ******
                          <br> Gorakhpur, Utter Pradesh, India
                          <br>
                        </address>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div id="Contact" class="tab-pane fade">
              <div class="table-responsive panel">
                <table class="table">
                  <tbody>
                    <tr>
                      <td class="text"><i class="fa fa-envelope-o"></i> Email ID</td>
                      <td><a href="mailto:****@pawanmall.net?subject=Email from &amp;body=Hello, Viddhyut Mall">****@pawanmall.net</a></td>
                    </tr>
                    <tr>
                      <td class="text"><i class="glyphicon glyphicon-phone"></i> Mobile Number</td>
                      <td>88********</td>
                    </tr>
                    <tr>
                      <td class="text"><i class="fa fa-flag"></i> Nationality</td>
                      <td>Indian</td>
                    </tr>
                    <tr>
                      <td class="text"><i class="fa fa-user"></i> Father's Name</td>
                      <td>Ajay Mall</td>
                    </tr>
                    <tr>
                      <td class="text"><i class="glyphicon glyphicon-phone"></i> Father's Mobile</td>
                      <td>+91 99********</td>
                    </tr>
                    <tr>
                      <td class="text"><i class="fa fa-user"></i> Mother's Name</td>
                      <td>Hemlata Mall</td>
                    </tr>
                    <tr>
                      <td class="text"><i class="glyphicon glyphicon-phone"></i> Mother's Mobile</td>
                      <td>+91 90********</td>
                    </tr>
                    <tr>
                      <td class="text"><i class="fa fa-user"></i> Emergency Contact Person</td>
                      <td>Pawan Mall</td>
                    </tr>
                    <tr>
                      <td class="text"><i class="glyphicon glyphicon-phone"></i> Emergency Contact Person's Mobile</td>
                      <td>+91 88********</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div id="General" class="tab-pane fade">
              <div class="table-responsive panel">
                <table class="table">
                  <tbody>
                    <tr>
                      <td class="text"><i class="fa fa-university"></i> Last School</td>
                      <td>Pawan Mall's School</td>
                    </tr>
                    <tr>
                      <td class="text"><i class="fa fa-calendar"></i> Date of Admission</td>
                      <td>March 4, 2009</td>
                    </tr>
                    <tr>
                      <td class="text"><i class="fa fa-home"></i> Birth Place</td>
                      <td>Delhi</td>
                    </tr>
                    <tr>
                      <td class="text"><i class="fa fa-calendar"></i> Academic Year</td>
                      <td>2015-2016</td>
                    </tr>
                    <tr>
                      <td class="text"><i class="fa fa-medkit"></i> Medical Condition</td>
                      <td>Normal</td>
                    </tr>
                    <tr>
                      <td class="text"><i class="fa fa-thumbs-up"></i> Active/Inactive</td>
                      <td>Student is Active</td>
                    </tr>
                    <tr>
                      <td class="text"><i class="glyphicon glyphicon-time"></i> Last Editing</td>
                      <td>2015-08-20 09:41:56</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.table-responsive -->
</div>
</div>
</div>

<!-- arabic -->


<div ng-if="langval!=0">
    <div dir=rtl>
<div class="row panel panel-success" style="margin-top:2%;">
  <div class="panel-heading lead" style="
    color: #ffffff;
    background-color: #090b07;
    border-color: #9f8585;
">
    <div class="row">
      <div class="col-lg-8 col-md-8 pull-right"><i class="fa fa-home"></i> عرض تفاصيل المتجر</div>
      <div class="col-lg-4 col-md-4 text-right">
        <!-- <div class="btn-group text-center">
                            <a href="student-view.php?sid=1&amp;id=68" class="btn btn-success btn-sm btn-default"><i class="fa fa-eye fa-1x"></i></a>
                            <a href="student-modify.php?sid=1&amp;id=68" class="btn btn-success btn-sm btn-default"><i class="fa fa-edit fa-1x"></i></a>
                            <a href="student-print.php?sid=1&amp;id=68" class="btn btn-success btn-sm btn-default"><i class="fa fa-print fa-1x"></i></a>
                            <a href="student-delete.php?sid=1&amp;id=68" class="btn btn-success btn-sm btn-default"><i class="fa fa-trash-o fa-1x"></i></a>
                        </div> -->
      </div>
    </div>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-lg-12 col-md-12 pull-right">
        <div class="row">
          <div class="col-lg-3 col-md-3 pull-right">
            <center>
              <span class="text-left">
                                        <img alt="Store Logo" src="{{imageUrl}}{{store.imageName}}" id="profile-image1" > 


                                            <!-- Modal -->
                                           
                                            <!-- /.modal -->                    
                                    </span></center>
            <div class="table-responsive panel">
              <table class="table">
                <tbody>
                  <tr>
                    <td class="text-center">
                      <span class="btn btn-danger  btn-block"> {{store.storeNameAr}}</span>
                      <span class="btn btn-success  btn-block"> <span><div data-ng-if="store.rating==0">
           
  <span class="fa fa-star " ></span>
                      <span class="fa fa-star "></span>
                      <span class="fa fa-star "></span>
                      <span class="fa fa-star "></span>
                      <span class="fa fa-star"></span>
            </div>
            <div data-ng-if="store.rating==1">
              <span class="fa fa-star checked" style="color:#FFDF00"></span>
              <span class="fa fa-star "></span>
              <span class="fa fa-star "></span>
              <span class="fa fa-star "></span>
              <span class="fa fa-star"></span>
            </div>
            <div data-ng-if="store.rating==2">
              <span class="fa fa-star checked" style="color:#FFDF00"></span>
              <span class="fa fa-star checked " style="color:#FFDF00"></span>
              <span class="fa fa-star "></span>
              <span class="fa fa-star "></span>
              <span class="fa fa-star"></span>
            </div>
            <div data-ng-if="store.rating==3">
              <span class="fa fa-star checked" style="color:#FFDF00"></span>
              <span class="fa fa-star checked " style="color:#FFDF00"></span>
              <span class="fa fa-star checked " style="color:#FFDF00"></span>
              <span class="fa fa-star "></span>
              <span class="fa fa-star"></span>
            </div>
            <div data-ng-if="store.rating==4">
              <span class="fa fa-star checked" style="color:#FFDF00"></span>
              <span class="fa fa-star checked " style="color:#FFDF00"></span>
              <span class="fa fa-star checked " style="color:#FFDF00"></span>
              <span class="fa fa-star checked" style="color:#FFDF00"></span>
              <span class="fa fa-star"></span>
            </div>
            <div data-ng-if="store.rating==5">
              <span class="fa fa-star checked" style="color:#FFDF00"></span>
              <span class="fa fa-star checked " style="color:#FFDF00"></span>
              <span class="fa fa-star checked " style="color:#FFDF00"></span>
              <span class="fa fa-star checked" style="color:#FFDF00"></span>
              <span class="fa fa-star checked" style="color:#FFDF00"></span>
            </div>
            </span>
            <!--   rating -->
            </span>
            </td>
            </tr>
            </tbody>
            </table>
          </div>
        </div>
        <div class="col-lg-9 col-md-9 pull-right">
          <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" id="#Summery" class="text"><i class="fa fa-indent"></i> ملخص</a></li>
            <!-- <li><a data-toggle="tab" id="#Contact" class="text"><i class="fa fa-bookmark-o"></i> Contact Info</a></li> -->
            <!-- <li><a data-toggle="tab" id="#Address" class="text"><i class="fa fa-home"></i> Address</a></li> -->
            <!-- <li><a data-toggle="tab" id="#General" class="text"><i class="fa fa-info"></i> General Info</a></li> -->
          </ul>
          <div class="tab-content">
            <div id="Summery" class="tab-pane fade in active">
              <div class="table-responsive panel">
                <table class="table">
                  <tbody>
                    <tr>
                      <td class="text"><i class="fa fa-user"></i> الشخص الذي يمكن الاتصال به</td>
                      <td>{{store.contactName}}</td>
                    </tr>
                    <tr>
                      <td class="text"><i class="glyphicon glyphicon-phone"></i> رقم الجوال</td>
                      <td>{{store.phoneNumber}}</td>
                    </tr>
                    <tr>
                      <td class="text"><i class="glyphicon glyphicon-phone"></i> رقم هاتف</td>
                      <td>{{store.telephoneNo}}</td>
                    </tr>
                    <tr>
                      <td class="text"><i class="fa fa-book"></i> عنوان المحل</td>
                      <td>{{store.addressAr}}</td>
                    </tr>
                    <tr>
                      <td class="text"><i class="fa fa-file-text"></i> وصف </td>
                      <td>{{store.descriptionAr}}</td>
                    </tr>
                    <tr>
                      <td class="text"><i class="fa fa-flag"></i> مدينه</td>
                     <!--  <td>{{store.cityNameAr}}</td> -->


                      <td ng-if="store.cityNameAr">{{store.cityNameAr}}</td>
                       <td ng-if="!store.cityNameAr">{{dataitemreq.cityNameAr}}</td>

                      <!--  <td ng-if="!dataitemreq">{{store.cityNameAr}}</td>
                       <td ng-if="dataitemreq">{{dataitemreq.cityNameAr}}</td> -->
                    </tr>
                    <tr>
                      <td class="text"><i class="fa fa-flag"></i>الدوله</td>
                     <!--  <td>{{store.countryNameAr}}</td> -->
                      <td ng-if="store.countryNameAr">{{store.countryNameAr}}</td>
                       <td ng-if="!store.countryNameAr">{{dataitemreq.countryNameAr}}</td>
                    </tr>
                    <tr>
                      <td class="text"><i class="fa fa-envelope-o"></i>عنوان الايميل</td>
                      <td>{{store.emailId}}</td>
                    </tr>
                    <tr>
                      <td class="text"><i class="fa fa-university"></i> عنوان صفحة الانترنت</td>
                      <td>
                        {{store.webAddress}} </td>
                    </tr>
                    <tr>
                      <td class="text"><i class="fa fa-file-text"></i> كلمة السر</td>
                      <td> 
                        <div ng-if ="pwId==1">
                          <div class="col-lg-2 ">
                          </div>
                           <div class="col-lg-2 ">
                            <button type="submit" class="btn btn-primary" ng-click="hidepassword();">اخفاء كلمة المرور</button>
                          </div>
                        <div class="col-lg-6 pull-right">
                            <input class="form-control" ng-model="password.password" name="password" id="password" data-ng-readonly="true" readonly="readonly" type="text" required="required" />
                          </div>
                          <!-- <div class="col-lg-2">
                            <button type="submit" class="btn btn-primary" ng-click="hidepassword();">اخفاء كلمة المرور</button>
                          </div> -->
                        </div>

                        <div ng-if="pwId==0">
                          <div class="col-lg-2 ">
                          </div>
                          <div class="col-lg-2 ">
                            <button type="submit" class="btn btn-primary" ng-click="viewpassword(store);">عرض كلمة المرور</button>
                          </div>
                          <div class="col-lg-6 pull-right">
                            <input class="form-control" value="passw123456" name="password" id="password" data-ng-readonly="true" readonly="readonly" type="password" required="required" />
                          </div>
                          
                        </div>
                        <!-- <div ng-if="pwId=0">
                          <div class="col-lg-6">
                            <input class="form-control" value="123456rsk" name="password" id="password" data-ng-readonly="true" readonly="readonly" type="Password" required="required" />
                          </div>
                          <div class="col-lg-2">
                            <button type="submit" class="btn btn-primary" ng-click="viewpassword(store);">View Password</button>
                          </div>
                        </div> -->
                        
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <!-- <div id="Address" class="tab-pane fade">
              <div class="table-responsive panel">
                <table class="table">
                  <tbody>
                    <tr>
                      <td class="text"><i class="fa fa-home"></i> Address</td>
                      <td>
                        <address>
                          <strong>
        C-***, Amahiya </strong>
                          <br> Kharobar, ******
                          <br> Gorakhpur, Utter Pradesh, India
                          <br>
                        </address>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div> -->
           <!--  <div id="Contact" class="tab-pane fade">
              <div class="table-responsive panel">
                <table class="table">
                  <tbody>
                    <tr>
                      <td class="text"><i class="fa fa-envelope-o"></i> Email ID</td>
                      <td><a href="mailto:****@pawanmall.net?subject=Email from &amp;body=Hello, Viddhyut Mall">****@pawanmall.net</a></td>
                    </tr>
                    <tr>
                      <td class="text"><i class="glyphicon glyphicon-phone"></i> Mobile Number</td>
                      <td>88********</td>
                    </tr>
                    <tr>
                      <td class="text"><i class="fa fa-flag"></i> Nationality</td>
                      <td>Indian</td>
                    </tr>
                    <tr>
                      <td class="text"><i class="fa fa-user"></i> Father's Name</td>
                      <td>Ajay Mall</td>
                    </tr>
                    <tr>
                      <td class="text"><i class="glyphicon glyphicon-phone"></i> Father's Mobile</td>
                      <td>+91 99********</td>
                    </tr>
                    <tr>
                      <td class="text"><i class="fa fa-user"></i> Mother's Name</td>
                      <td>Hemlata Mall</td>
                    </tr>
                    <tr>
                      <td class="text"><i class="glyphicon glyphicon-phone"></i> Mother's Mobile</td>
                      <td>+91 90********</td>
                    </tr>
                    <tr>
                      <td class="text"><i class="fa fa-user"></i> Emergency Contact Person</td>
                      <td>Pawan Mall</td>
                    </tr>
                    <tr>
                      <td class="text"><i class="glyphicon glyphicon-phone"></i> Emergency Contact Person's Mobile</td>
                      <td>+91 88********</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div> -->
         <!--    <div id="General" class="tab-pane fade">
              <div class="table-responsive panel">
                <table class="table">
                  <tbody>
                    <tr>
                      <td class="text"><i class="fa fa-university"></i> Last School</td>
                      <td>Pawan Mall's School</td>
                    </tr>
                    <tr>
                      <td class="text"><i class="fa fa-calendar"></i> Date of Admission</td>
                      <td>March 4, 2009</td>
                    </tr>
                    <tr>
                      <td class="text"><i class="fa fa-home"></i> Birth Place</td>
                      <td>Delhi</td>
                    </tr>
                    <tr>
                      <td class="text"><i class="fa fa-calendar"></i> Academic Year</td>
                      <td>2015-2016</td>
                    </tr>
                    <tr>
                      <td class="text"><i class="fa fa-medkit"></i> Medical Condition</td>
                      <td>Normal</td>
                    </tr>
                    <tr>
                      <td class="text"><i class="fa fa-thumbs-up"></i> Active/Inactive</td>
                      <td>Student is Active</td>
                    </tr>
                    <tr>
                      <td class="text"><i class="glyphicon glyphicon-time"></i> Last Editing</td>
                      <td>2015-08-20 09:41:56</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.table-responsive -->
</div>
</div>
</div>
</div>
                </div>
              </div>
           <!-- jQuery -->
    <script src="../vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="../vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="../vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="../vendors/nprogress/nprogress.js"></script>
    <!-- morris.js -->
    <script src="../vendors/raphael/raphael.min.js"></script>
    <script src="../vendors/morris.js/morris.min.js"></script>
    <!-- bootstrap-progressbar -->
    <script src="../vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="../vendors/moment/min/moment.min.js"></script>
    <script src="../vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
    
    <!-- Custom Theme Scripts -->
    <script src="../build/js/custom.min.js"></script>
        <!-- /page content -->

            

       