


    
            
         
                <h3>Edit Category  </h3>
                <div class="row">
                <div class="col-lg-3 pull-right">
                                        <a href="#/admin/category" class="btn btn-block btn-primary " role="button">Back to Category</a>
                                    </div>
                
                </div>
                
                <div class="row">
                    
                   
                    <div class="panel">
								<div class="panel-heading">
									<h2 class="panel-title "><b></b></h2>
								</div>
                       <form role="form" name="editCategoryForm">
								<div class="panel-body">
                                    <div class="col-lg-6">
								<div class="form-group"
									data-ng-class="{ 'has-error' : editCategoryForm.categoryName.$invalid &amp;&amp; !editCategoryForm.categoryName.$pristine}">
									<label for="categoryName">CategoryName  </label> <input
										class="form-control" data-ng-model="category.categoryName"
										name="categoryName" id="categoryName" placeholder="Enter CategoryName"
										type="text" required="required" /> 
								</div>
                                        
                                        <div class="form-group"
									data-ng-class="{ 'has-error' : editCategoryForm.categoryNameAr.$invalid &amp;&amp; !editCategoryForm.categoryNameAr.$pristine}">
									<label for="categoryNameAr">    اسم الفئة  </label> <input
										class="form-control" data-ng-model="category.categoryNameAr"
										name="categoryNameAr" id="categoryNameAr" placeholder=" اسم الفئة"
										type="text" required="required" /> 
								</div>
								<div class="form-group"
									data-ng-class="{ 'has-error' : editCategoryForm.discription.$invalid &amp;&amp; !editCategoryForm.discription.$pristine}">
									<label for="discription">Category Descriptions  </label>
									<textarea class="form-control"
										data-ng-model="category.discription" name="discription"
										id="discription" placeholder="category Description" required="required"
										rows="2"></textarea>

								</div>
								<div class="form-group"
									data-ng-class="{ 'has-error' : editCategoryForm.discriptionAr.$invalid &amp;&amp; !editCategoryForm.discriptionAr.$pristine}">
									<label for="discriptionAr"> الفئة الصنف </label>
									<textarea class="form-control"
										data-ng-model="category.discriptionAr" name="discriptionAr"
										id="discriptionAr" placeholder=" وصف الصنف " required="required"
										rows="2"></textarea>

								</div>
								<div class="form-group"
									data-ng-class="{ 'has-error' : editCategoryForm.rank.$invalid &amp;&amp; !editCategoryForm.rank.$pristine}">
									<label for="rank">Sort Order  </label> <input
										class="form-control" data-ng-model="category.rank"
										name="rank" id="rank" placeholder="Enter Sort Order"
										type="number" min="1" max="10" required="required" /> 
								</div>

                                        
									
                                        <div class="form-group"
									data-ng-class="{ 'has-error' : editCategoryForm.status.$invalid &amp;&amp; !editCategoryForm.status.$pristine}">
									<label for="status">Category Status &nbsp;&nbsp;&nbsp;&nbsp;   حالة الفئة</label><br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <label class="radio-inline"><input type="radio" name="status" value="1" ng-model="category.status">Active</label>
                                        <label class="radio-inline"><input type="radio" name="status" value="0" ng-model="category.status">Discontinued</label>
                                        
                                       
								</div>
                                        <div class="form-group"
									data-ng-class="{ 'has-error' : editCategoryForm.delivaryStatus.$invalid &amp;&amp; !editCategoryForm.delivaryStatus.$pristine}">
									<label for="delivaryStatus">Delivery Status &nbsp;&nbsp;&nbsp;&nbsp; </label><br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <label class="radio-inline"><input type="radio" name="delivaryStatus" value="1" ng-model="category.delivaryStatus">Possible</label>
                                        <label class="radio-inline"><input type="radio" name="delivaryStatus" value="0" ng-model="category.delivaryStatus">Pickup from the Store</label>
                                        
                                       
								</div>
                                        <div class="form-group"
									data-ng-class="{ 'has-error' : editCategoryForm.color.$invalid &amp;&amp; !editCategoryForm.color.$pristine}">
									<label for="color">Menu Color &nbsp;&nbsp;&nbsp;&nbsp;  لون القائمة</label><br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        
                                        Select your Menu color:
  <input type="color" name="color" ng-model="category.color"value="#ff0000">
							</div>
                                        <div class="box-footer">
							<button type="submit" class="btn btn-primary" ng-click="editCategory(category);">Update</button>
						</div>
                    </div>
                </div>
                        </form>
                <!-- MAIN CONTENT -->

            
       


