<!-- /page content -->
<!-- latesrt -->
<!-- page content -->
<div ng-if="langval==1">
  <div class="right_col" role="main" style="min-height: 980px;">
    <div class="">
      <div class="page-title">
        <div class="title_left">
         <!--  <div ng-if="ofid==0"> -->
          <div ng-if="catcid==0">
            <h3>Add PromoCode </h3>
          </div>
            <div ng-if="catcid==1">
            <h3>Edit PromoCode </h3>
          </div>
         <!--  </div> -->
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>PromoCode Informations <small></small></h2>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <br>
              <form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">
               <div ng-if="catcid==0">
                    <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="generatedcode">Promocode <span class="required">*</span>
                  </label>
                  <button type="submit" class="btn btn-primary" ng-click="getPromoCode();">Generate Promocode</button>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" data-ng-model="PromoCode.generatedcode" id="validFrom" required="required" class="form-control col-md-7 col-xs-12" required="required" />
                  </div>
                </div>

               </div>
             
<div ng-if="catcid==1">
    <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="promocode">PromoCode<span class="required">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <input type="text" placeholder="" id="promocode" ng-model="PromoCode.promocode" required="required" class="form-control col-md-7 col-xs-12" />
                    </div>
                  </div>
</div>


               

                <hr style="color: black">
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="userId">Promorter Name <span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <select ng-options="promoter.userId as promoter.customerName for promoter in activepromorters" class="form-control" ng-model="PromoCode.userId">
                    </select>
                  </div>
                </div>
              
                <div ng-if="field2==0">
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="percentage">Offer Percentage <span class="required">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <input type="text" placeholder="Offer Rate is Choosed" data-ng-model="PromoCode.percentage" id="percentage" required="required" class="form-control col-md-7 col-xs-12" readonly="true" />
                    </div>
                  </div>
                </div>
                <div ng-if="field2==1">
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="percentage">Offer Percentage <span class="required">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <input type="text" ng-change="selectone(PromoCode.percentage)" data-ng-model="PromoCode.percentage" id="percentage" required="required" class="form-control col-md-7 col-xs-12" required="required" />
                    </div>
                  </div>
                </div>
               <!--  <h4 style="text-align: center;">OR</h4>
                <div ng-if="field1==0">
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="flatOffer">Flat Offer<span class="required">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <input type="text" placeholder="Offer Percentage is Choosed" id="flatOffer" required="required" class="form-control col-md-7 col-xs-12" readonly="true" />
                    </div>
                  </div>
                </div> -->
              <!--   <div ng-if="field1==1">
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="flatOffer">Flat Offer <span class="required">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <input type="text" ng-change="selectonetwo(PromoCode.flatOffer)" data-ng-model="PromoCode.flatOffer" id="flatOffer" required="required" class="form-control col-md-7 col-xs-12" required="required" />
                    </div>
                  </div>
                </div> -->
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="minimumAmount">Required Minimum Amount<span class="required">*</span>
                  </label>
                   <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="number" data-ng-model="PromoCode.minimumAmount" id="minimumAmount" required="required" class="form-control col-md-7 col-xs-12" required="required" />
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="validFrom">Valid From  <span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="date" data-ng-model="PromoCode.validFrom" id="validFrom" required="required" class="form-control col-md-7 col-xs-12" required="required" />
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="validTo">Valid To  <span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="date" data-ng-model="PromoCode.validTo" id="validTo" required="required" class="form-control col-md-7 col-xs-12" required="required" />
                  </div>
                </div>
             
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12"> Status</label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="btn btnserviceorproduct" ng-class="{'active' :PromoCode.status==0  }" ng-click="PromoCode.status=0"> Deactive</div>
                    <div class="btn btnserviceorproduct" ng-class="{'active' :PromoCode.status==1  }" ng-click="PromoCode.status=1"> Active</div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="box-footer">
                      <button type="submit" class="btn btn-primary" ng-click="generatePromoCode(PromoCode);">Submit</button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <hr>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ARABIC -->


<div ng-if="langval==0">
  <div dir="rtl">
  <div class="rightarab_col" role="main" style="min-height: 980px;">
    <div class="">
      <div class="page-title">
        <div class="title_right pull-right">
        <!--   <div ng-if="ofid==0"> -->


          <div ng-if="catcid==0">
            <h3> إضافة الرمز الترويجي  </h3>
          </div>
            <div ng-if="catcid==1">
            <h3>تحرير الرمز الترويجي  </h3>
          </div>

           
         
          
          <!-- </div> -->
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2 class="pull-right">  معلومات حول الرمز الترويجي <small><!-- different form elements --></small></h2>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <br>
              <form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">
              

          <!--       <div class="form-group">
                  <div class="col-md-2">
                   <button type="submit" class="btn btn-primary" ng-click="getPromoCode();">توليد رمز الترويجي  </button>
                   </div>
                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-1">
                    <input type="text" data-ng-model="PromoCode.generatedcode" id="validFrom" required="required" class="form-control col-md-7 col-xs-12" required="required" />
                  </div>
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="offerName">رمز ترويجي  <span class="required">*</span>
                  </label>
                 
                 
                </div> -->

                     <div ng-if="catcid==0">
                    <div class="form-group">
                      <div class="col-md-2">
                           <button type="submit" class="btn btn-primary" ng-click="getPromoCode();">توليد رمز الترويجي </button>

                      </div>
                 
               
                  <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-1">
                    <input type="text" data-ng-model="PromoCode.generatedcode" id="validFrom" required="required" class="form-control col-md-7 col-xs-12" required="required" />
                  </div>
                   <label class="control-label col-md-3 col-sm-3 col-xs-12" for="generatedcode">التصحيح  <span class="required">*</span>
                  </label>
                </div>

               </div>
             
<div ng-if="catcid==1">
    <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="promocode">الرموز الترويجية <span class="required">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <input type="text" placeholder="Offer Percentage is Choosed" id="promocode" ng-model="PromoCode.promocode" required="required" class="form-control col-md-7 col-xs-12" readonly="true" />
                    </div>
                  </div>
</div>
                <hr style="color: black">
                <div class="form-group">
                   <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                    <select ng-options="customer.userId as customer.customerName for customer in customers" class="form-control" ng-model="PromoCode.userId">
                    </select>
                  </div>
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="offerName">اسم الزبون <span class="required">*</span>
                  </label>
                  <!-- <div class="col-md-6 col-sm-6 col-xs-12">
                    <select ng-options="customer.userId as customer.customerName for customer in customers" class="form-control" ng-model="PromoCode.userId">
                    </select>
                  </div> -->
                </div>
      
                <div ng-if="field2==0">
                  <div class="form-group">
                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                      <input type="text" placeholder="تم اختيار سعر العرض  " data-ng-model="PromoCode.percentage" id="percentage" required="required" class="form-control col-md-7 col-xs-12" readonly="true" />
                    </div>
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="percentage">نسبة العرض   <span class="required">*</span>
                    </label>
                    
                  </div>
                </div>
                <div ng-if="field2==1">
                  <div class="form-group">
                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                      <input type="text" ng-change="selectone(PromoCode.percentage)" data-ng-model="PromoCode.percentage" id="percentage" required="required" class="form-control col-md-7 col-xs-12" required="required" />
                    </div>
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="percentage">نسبة العرض   <span class="required">*</span>
                    </label>
                    
                  </div>
                </div>
              <!--   <h4 style="text-align: center;">أو </h4>
                <div ng-if="field1==0">
                  <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                      <input type="text" placeholder="تم اختيار نسبة العرض   " id="flatOffer" required="required" class="form-control col-md-7 col-xs-12" readonly="true" />
                    </div>
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="flatOffer">عرض مسطح  <span class="required">*</span>
                    </label>
                    
                  </div>
                </div>
                <div ng-if="field1==1">
                  <div class="form-group">
                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                      <input type="text" ng-change="selectonetwo(PromoCode.flatOffer)" data-ng-model="PromoCode.flatOffer" id="flatOffer" required="required" class="form-control col-md-7 col-xs-12" required="required" />
                    </div>
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="flatOffer">عرض مسطح  <span class="required">*</span>
                    </label>
                    
                  </div>
                </div> -->
                  <div class="form-group">
                     <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                    <input type="number" data-ng-model="PromoCode.minimumAmount" id="minimumAmount" required="required" class="form-control col-md-7 col-xs-12" required="required" />
                  </div>
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="minimumAmount">الحد الأدنى المطلوب المبلغ  <span class="required">*</span>
                  </label>
                  
                </div>
                <div class="form-group">
                  <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                    <input type="date" data-ng-model="PromoCode.validFrom" id="validFrom" required="required" class="form-control col-md-7 col-xs-12" required="required" />
                  </div>
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="validFrom">صالح من تاريخ   <span class="required">*</span>
                  </label>
                  
                </div>
                <div class="form-group">
                   <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                    <input type="date" data-ng-model="PromoCode.validTo" id="validTo" required="required" class="form-control col-md-7 col-xs-12" required="required" />
                  </div>
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="validTo">صالحة ل
 <span class="required">*</span>
                  </label>
                 
                </div>
           
                <div class="form-group">
                  <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                    <div class="btn btnserviceorproduct" ng-class="{'active' :PromoCode.status==0  }" ng-click="PromoCode.status=0"> غير نشطه  </div>
                    <div class="btn btnserviceorproduct" ng-class="{'active' :PromoCode.status==1  }" ng-click="PromoCode.status=1"> نشيط </div>
                  </div>
                  <label class="control-label col-md-3 col-sm-3 col-xs-12"> حالة </label>
                  
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="box-footer">
                      <button type="submit" class="btn btn-primary" ng-click="generatePromoCode(PromoCode);">عرض</button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <hr>
        </div>
      </div>
    </div>
  </div>
</div>
</div>