<!-- /page content -->
<!-- latesrt -->
<!-- page content -->
<div ng-if="langval==1">
  <div class="right_col" role="main" style="min-height: 980px;">
    <div class="">
      <div class="page-title">
        <div class="title_left">
         <!--  <div ng-if="ofid==0"> -->
          <div ng-if="catcid==0">
            <h3>Create New Promoter </h3>
          </div>
          <div ng-if="catcid==1">
            <h3>Edit Promoter </h3>
          </div>
          
         <!--  </div> -->
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>Promoter Informations <small><!-- different form elements --></small></h2>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <br>
              <form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">
                <!-- <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="offerName">Promocode <span class="required">*</span>
                  </label>
                  <button type="submit" class="btn btn-primary" ng-click="getPromoCode();">Generate Promocode</button>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" data-ng-model="PromoCode.generatedcode" id="validFrom" required="required" class="form-control col-md-7 col-xs-12" required="required" />
                  </div>
                </div> -->
              <!--   <hr style="color: black"> -->
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="customerName">Promoter Name <span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                   <input type="text" placeholder="" data-ng-model="Promoter.customerName" id="customerName" required="required" class="form-control col-md-7 col-xs-12"/>
                  </div>
                </div>
                  <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="phoneNo">Phone Number <span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                   <input type="number" placeholder="" data-ng-model="Promoter.phoneNo" id="phoneNo" required="required" class="form-control col-md-7 col-xs-12"/>
                  </div>
                </div>
                 <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="emailId">E mail ID <span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">

                   <input type="email" placeholder="" data-ng-model="Promoter.emailId" id="emailId" required="required" class="form-control col-md-7 col-xs-12"/>

                  </div>
                </div>
                <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="address">Address <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <textarea type="text" data-ng-model="Promoter.address" id="address" required="required" class="form-control col-md-7 col-xs-12" required="required" rows="6"></textarea>
                </div>
              </div>
                  <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="country">Country<span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <select ng-options="country.countryId as country.countryName for country in countries" ng-change="getcityByCountryId(Promoter.country)"class="form-control" ng-model="Promoter.country">
                    </select>
                  </div>
                </div>
                    <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="city">City<span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <select ng-options="city.cityId as city.cityName for city in citiesbycountries" class="form-control" ng-model="Promoter.city">
                    </select>
                  </div>
                </div>
                    <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="zipCode">Zip Code<span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                   <input type="text" placeholder="" data-ng-model="Promoter.zipCode" id="zipCode" required="required" class="form-control col-md-7 col-xs-12"/>
                  </div>
                </div>
  
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12"> Status</label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                       <div class="btn btnserviceorproduct" ng-class="{'active' :Promoter.status==1  }" ng-click="Promoter.status=1"> Active</div>
                      <div class="btn btnserviceorproduct" ng-class="{'active' :Promoter.status==0  }" ng-click="Promoter.status=0"> Deactive</div>
                     
                    </div>
                  </div>
                 <!--  <div text-angular></div> -->

                  <h2>Images</h2>
                  <hr>
                  <div class="col-md-4">
                    <div class="fileupload file-uplaod-btn">
                      <div class="form-group">
                        <input type="file" id="fileupload" style="display:none" ng-model="file" name="file" multiple ngf-select="upload($file)" />
                        <div class="btn btn-block btn-warning" onclick="document.getElementById('fileupload').click()"><i class="fa fa-camera"></i>&nbsp;&nbsp; + Click Here To Upload Promoter Image </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="row">
                      <div class="col-lg-3 col-md-3 col-sm-6" ng-model="Promoter.profileImage">
                        <div class="img-wraps">
                          {{Promoter.profileImage}}
                          <span class="closes" ng-if="!isFileuploadStart&& Promoter.profileImage" title="Delete" ng-click="deleteimage(Promoter.imageName)">&times;</span>
                          <img style="min-width:100%" ng-src="{{imageUrl}}{{Promoter.profileImage}}" class="img-thumbnail" ng-if="!isFileuploadStart&& Promoter.profileImage">
                          <img style="min-width:100%" ng-src="public/script/www/img/giphy.gif" class="img-thumbnail" ng-if="isFileuploadStart" isFileuploadStart>
                        </div>
                      </div>
                    </div>
                    <hr>
                  </div>
                      
                <div class="row">
                  <div class="col-md-12">
                    <div class="box-footer">
                      <button type="submit" class="btn btn-primary" ng-click="savePromoter(Promoter);">Submit</button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <hr>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ARABIC -->


<div ng-if="langval==0">
  <div dir="rtl">
  <div class="rightarab_col" role="main" style="min-height: 980px;">
    <div class="">
      <div class="page-title">
        <div class="title_right pull-right">
         <!--  <div ng-if="ofid==0"> -->
          <div ng-if="catcid==0">
            <h3>إنشاء جديد المروج  </h3>
          </div>
          <div ng-if="catcid==1">
            <h3>تحرير المروج  </h3>
          </div>
          
         <!--  </div> -->
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2 class="pull-right">معلومات حول المروج <small><!-- different form elements --></small></h2>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <br>
              <form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">
              
                <div class="form-group">
                  <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                   <input type="text" placeholder="" data-ng-model="Promoter.customerName" id="customerName" required="required" class="form-control col-md-7 col-xs-12"/>
                  </div>
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="customerName">اسم العملاء  <span class="required">*</span>
                  </label>
                  
                </div>
                  <div class="form-group">
                     <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                   <input type="number" placeholder="" data-ng-model="Promoter.phoneNo" id="phoneNo" required="required" class="form-control col-md-7 col-xs-12"/>
                  </div>
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="phoneNo">رقم الهاتف  <span class="required">*</span>
                  </label>
                 
                </div>
                 <div class="form-group">
                  <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                   <input type="email" placeholder="" data-ng-model="Promoter.emailid" id="emailid" required="required" class="form-control col-md-7 col-xs-12"/>
                  </div>
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="emailid">عنوان الايميل  <span class="required">*</span>
                  </label>
                  
                </div>
                <div class="form-group">
                   <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                  <textarea type="text" data-ng-model="Promoter.address" id="address" required="required" class="form-control col-md-7 col-xs-12" required="required" rows="6"></textarea>
                </div>
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="address">عنوان  <span class="required">*</span>
                </label>
               
              </div>
                  <div class="form-group">
                       <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                    <select ng-options="country.countryId as country.countryNameAr for country in countries" ng-change="getcityByCountryId(Promoter.country)"class="form-control" ng-model="Promoter.country">
                    </select>
                  </div>
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="country">الدوله <span class="required">*</span>
                  </label>
               
                </div>
                    <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                    <select ng-options="city.cityId as city.cityNameAr for city in citiesbycountries" class="form-control" ng-model="Promoter.city">
                    </select>
                  </div>
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="city">مدينه<span class="required">*</span>
                  </label>
                
                </div>
                    <div class="form-group">
                       <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                   <input type="text" placeholder="" data-ng-model="Promoter.zipCode" id="zipCode" required="required" class="form-control col-md-7 col-xs-12"/>
                  </div>
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="zipCode">رقم المنطقة <span class="required">*</span>
                  </label>
                 
                </div>
                  <div class="form-group">
                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                       <div class="btn btnserviceorproduct" ng-class="{'active' :Promoter.status==1  }" ng-click="Promoter.status=1"> نشطة </div>
                      <div class="btn btnserviceorproduct" ng-class="{'active' :Promoter.status==0  }" ng-click="Promoter.status=0"> غير نشطة </div>
                     
                    </div>
                    <label class="control-label col-md-3 col-sm-3 col-xs-12"> حالة </label>
                    
                  </div>
                 <!--  <div text-angular></div> -->

                  <h2>صور </h2>
                  <hr>
                  <div class="col-md-4 pull-right">
                    <div class="fileupload file-uplaod-btn">
                      <div class="form-group">
                        <input type="file" id="fileupload" style="display:none" ng-model="file" name="file" multiple ngf-select="upload($file)" />
                        <div class="btn btn-block btn-warning" onclick="document.getElementById('fileupload').click()"><i class="fa fa-camera"></i>&nbsp;&nbsp;+ انقر هنا لتحميل صورة المروج  </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="row">
                      <div class="col-lg-3 col-md-3 col-sm-6 pull-right" ng-model="Promoter.profileImage">
                        <div class="img-wraps">
                          {{Promoter.profileImage}}
                          <span class="closes" ng-if="!isFileuploadStart&& Promoter.profileImage" title="Delete" ng-click="deleteimage(Promoter.imageName)">&times;</span>
                          <img style="min-width:100%" ng-src="{{imageUrl}}{{Promoter.profileImage}}" class="img-thumbnail" ng-if="!isFileuploadStart&& Promoter.profileImage">
                          <img style="min-width:100%" ng-src="public/script/www/img/giphy.gif" class="img-thumbnail" ng-if="isFileuploadStart" isFileuploadStart>
                        </div>
                      </div>
                    </div>
                    <hr>
                  </div>
                     
                <div class="row">
                  <div class="col-md-12">
                    <div class="box-footer">
                      <button type="submit" class="btn btn-primary" ng-click="savePromoter(Promoter);">قدم </button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <hr>
        </div>
      </div>
    </div>
  </div>
</div>
</div>