<div ng-if="langval==1">
  <div class="right_col" role="main" style="min-height: 980px;">
    <div class="">
      <div class="page-title">
        <div class="title_left">
          <h3>Commission Reports </h3>
        </div>   
      
      </div>
      <div class="clearfix"></div>
      <div class="container-fluid">
        <div>
          <!--   CUSTOMER PAID REPORT -->
          <div class="row">
            <div id="filter-report" class="col-md-12 col-sm-12 hidden-sm hidden-xs">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title"><i class="fa fa-filter"></i> Filter</h3>
                </div>
                <div class="panel-body">
             
                 <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="categoryName" style="line-height: 2;margin-top: 4px;    text-align: right;">Promoter 
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <select class="form-control" ng-change="" ng-model="filter.customerId">
                         <option ng-value="0">All</option>
                        <option ng-repeat="promoter in promorters" ng-value="promoter.userId">{{promoter.customerName }}</option>
                      </select>            

                    </div>
                  </div>
                  <div class="form-group text-right">
                    <button type="button" id="button-filter" class="btn btn-default" ng-click="filterCommisionReportByPromoterId(filter.customerId)" style="float: left;    margin-top: -9px;"><i class="fa fa-filter"></i> Filter</button>
                  </div>

                <!-- ############## -->
                </div>
              </div>
            </div>
            <div class="col-md-12 col-sm-12">
              <div>
            <span class="pull-right">
                        <button ng-click="downloadproductreport()">Download as Pdf</button>
                       </span>
          </div>
            <div id="exportproductreport">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title"><i class="fa fa-bar-chart"></i> Commission Report</h3>
                </div>
                <div class="panel-body">
                  <div class="table-responsive">
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <td class="text-center">Sl.No</td>
                          <td class="text-center">Promoter Name</td>
                          <td class="text-center">Date </td>
                          <td class="text-center">Reciept No </td>
                          <td class="text-center">Amount</td>
                         
                        </tr>
                      </thead>
                      <tbody>                  
                
                        <tr  ng-repeat="commisnrpt in commissionreport">
                            <td class="text-left">{{$index+1+commissionreportPageVo.currentIndex}}</td>
                          <td class="text-center">{{commisnrpt.customerName}}</td>
                          <td class="text-center">{{commisnrpt.lastUpdatedTime|date}}</td>
                          <td class="text-center">{{commisnrpt.reciptNo}}</td>
                          <td class="text-center">{{commisnrpt.netAmount}} SAR</td>
                          
                        
                        </tr>
                            <tr ng-if="commissionreport.length==0">
                              <td class="text-center" colspan="5">No results!</td>
                            </tr>
                      
                      </tbody>
                    </table>
                  </div>
                 <!--  <div class="row">
                    <div class="col-sm-6 text-left"></div>
                    <div class="col-sm-6 text-right">
                    
                    </div>
                  </div> -->
                  <div class="row">
                <!--   <div class="col-sm-6 text-left" style=" margin-top:  25px;">Showing {{$index+1+commissionreportPageVo.currentIndex}} to {{finalcount}} of {{totalnumber}} ({{noPages}} Pages)</div> -->
                  <div class="col-sm-12 text-right ">
                   <!--  <ul class="pagination">
                      <li class="paginate_button" ng-repeat="i in getNumber(noPages) track by $index" ng-click="getAllCommisionReport($index+1)"><span><a href="javascript:void(0)">{{$index+1}}</a></span></li>
                    </ul> -->
                       <ul class="pagination" ng-if="noPages>0" style="float: right;width: 100%;">
            <li ng-class="{disabled:firstIndex==1}">
               <a class="" ng-click="firstIndex!=1 && gotoFirstPage(commissionReportCONSTANT,1)" style="min-width: 55px;"><i class="fa fa-angle-double-left"></i> &nbsp;First</a>
                <a class="active" ng-click="firstIndex!=1 && gotoPreviousPage(commissionReportCONSTANT,1,firstIndex)" style="min-width: 55px;"><i class="fa fa-angle-left"></i>&nbsp;Prev</a> 
            </li>
            <li ng-class="{active:i==currentPageNumber}" ng-repeat="i in pageList track by $index">
                <a class="active" ng-if="i==currentPageNumber">{{i}}</a>
                <a ng-click="getNextPageItems(commissionReportCONSTANT,1,i)" ng-if="i!=currentPageNumber">{{i}}</a>                   
            </li>
            <li ng-class="{disabled:lastIndex==totalPage}">
                <a class="active" ng-click="lastIndex!=totalPage && gotoNextPage(commissionReportCONSTANT,1,lastIndex)" style="min-width: 55px;">Next  &nbsp;<i class="fa fa-angle-right"></i></a>
                <a class="" ng-click="lastIndex!=totalPage && gotoLastPage(commissionReportCONSTANT,1,totalPage)" style="min-width: 55px;"> Last &nbsp;<i class="fa fa-angle-double-right"></i></a>
            </li>
      </ul>
                  </div>
                </div>
                </div>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
      <!--  <div class="clearfix"></div> -->
      <!--  <div class="clearfix"></div> -->
      <!-- /form input knob -->
    </div>
  </div>
  <!-- /page content -->
</div>
<!-- ARABIC -->
<!-- page content -->
<div ng-if="langval==0">
   <div dir="rtl">
    <div class="rightarab_col" role="main" style="min-height: 980px;">  
    <div class="">
      <div class="page-title">
        <div class="title_right pull-right">
          <h3><!-- Commission Reports  -->تقرير اللجنة  </h3>
        </div>   
      
      </div>
      <div class="clearfix"></div>
      <div class="container-fluid">
        <div>
          <!--   CUSTOMER PAID REPORT -->
          <div class="row">
            <div id="filter-report" class="col-md-12 col-sm-12 hidden-sm hidden-xs">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title"><i class="fa fa-filter"></i> <!-- Filter -->فلتر</h3>
                </div>
                <div class="panel-body">
                   <div class="form-group text-right">
                    <button type="button" id="button-filter" class="btn btn-default" ng-click="filterCommisionReportByPromoterId(filter.customerId)" style="float: left;    margin-top: 10px;"><i class="fa fa-filter"></i> <!-- Filter -->فلتر</button>
                  </div>
             
                 <div class="form-group">
                  <div class="col-md-6 col-sm-6 col-xs-12">
                      <select class="form-control" ng-change="" ng-model="filter.customerId">
                         <option ng-value="0"><!-- All -->الكل</option>
                        <option ng-repeat="promoter in promorters" ng-value="promoter.userId">{{promoter.customerName }}</option>
                      </select>
                    </div>
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="categoryName" style="line-height: 2;margin-top: 4px;    text-align: right;"><!-- Promoter --> المروجين
                    </label>
                  </div>
                 


                </div>
              </div>
            </div>
            <div class="col-md-12 col-sm-12">
              <div>
            <span class="pull-right">
                        <button ng-click="downloadproductreport()">نزيل بتنسيق PDF</button>
                       </span>
          </div>
            <div id="exportproductreport">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title"><i class="fa fa-bar-chart"></i><!--  Commission Report -->تقرير اللجنة  </h3>
                </div>
                <div class="panel-body">
                  <div class="table-responsive">
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <td class="text-center"><!-- Sl.No -->رقم سري </td>
                          <td class="text-center"><!-- Promoter Name -->اسم المروج</td>
                          <td class="text-center"><!-- Date -->تاريخ </td>
                          <td class="text-center"><!-- Reciept No -->عدد إيصال </td>
                          <td class="text-center"><!-- Amount -->كمية</td>
                         
                        </tr>
                      </thead>
                      <tbody>                  
                
                        <tr  ng-repeat="commisnrpt in commissionreport">
                            <td class="text-left">{{$index+1+commissionreportPageVo.currentIndex}}</td>
                          <td class="text-center">{{commisnrpt.customerName}}</td>
                          <td class="text-center">{{commisnrpt.lastUpdatedTime|date}}</td>
                          <td class="text-center">{{commisnrpt.reciptNo}}</td>
                          <td class="text-center">{{commisnrpt.netAmount}} SAR</td>
                          
                        
                        </tr>
                            <tr ng-if="commissionreport.length==0">
                              <td class="text-center" colspan="5"><!-- No results! -->لا نتائج!</td>
                            </tr>
                      
                      </tbody>
                    </table>
                  </div>
              
             <!--    <div class="row">
                  <div class="col-sm-6 text-left ">
                    <ul class="pagination">
                      <li class="paginate_button" ng-repeat="i in getNumber(noPages) track by $index" ng-click="getAllCommisionReport($index+1)"><span><a href="javascript:void(0)">{{$index+1}}</a></span></li>
                    </ul>
                  </div>
                  <div class="col-sm-6 text-right" style="
    margin-top:  25px;
">عرض    {{$index + 1 + commissionreportPageVo.currentIndex}} إلى {{finalcount}} من  {{totalnumber}} ({{noPages}} صفحات  )
</div>
                  
                </div> -->
                <div class="row">
                  <div class="col-sm-12">
   <!--        <ul class="pagination" ng-if="noPages>0" style="float: right;width: 100%;">
            <li ng-class="{disabled:firstIndex==1}">
               <a class="" ng-click="firstIndex!=1 && gotoFirstPage(commissionReportCONSTANT,1)" style="min-width: 55px;"><i class="fa fa-angle-double-left"></i> &nbsp;First</a>
                <a class="active" ng-click="firstIndex!=1 && gotoPreviousPage(commissionReportCONSTANT,1,firstIndex)" style="min-width: 55px;"><i class="fa fa-angle-left"></i>&nbsp;Prev</a> 
            </li>
            <li ng-class="{active:i==currentPageNumber}" ng-repeat="i in pageList track by $index">
                <a class="active" ng-if="i==currentPageNumber">{{i}}</a>
                <a ng-click="getNextPageItems(commissionReportCONSTANT,1,i)" ng-if="i!=currentPageNumber">{{i}}</a>                   
            </li>
            <li ng-class="{disabled:lastIndex==totalPage}">
                <a class="active" ng-click="lastIndex!=totalPage && gotoNextPage(commissionReportCONSTANT,1,lastIndex)" style="min-width: 55px;">Next  &nbsp;<i class="fa fa-angle-right"></i></a>
                <a class="" ng-click="lastIndex!=totalPage && gotoLastPage(commissionReportCONSTANT,1,totalPage)" style="min-width: 55px;"> Last &nbsp;<i class="fa fa-angle-double-right"></i></a>
            </li>
      </ul> -->

       <ul class="pagination" ng-if="noPages>0" style="float: right;width: 100%;">
            <li ng-class="{disabled:firstIndex==1}">
               <a class="" ng-click="firstIndex!=1 && gotoFirstPage(commissionReportCONSTANT,1)" style="min-width: 55px;"><!-- First -->الأول   &nbsp; <i class="fa fa-angle-double-left"></i></a>
                <a class="active" ng-click="firstIndex!=1 && gotoPreviousPage(commissionReportCONSTANT,1,firstIndex)" style="min-width: 55px;"><!-- Prev -->سابق   &nbsp; <i class="fa fa-angle-left"></i></a> 
            </li>
            <li ng-class="{active:i==currentPageNumber}" ng-repeat="i in pageList track by $index">
                <a class="active" ng-if="i==currentPageNumber">{{i}}</a>
                <a ng-click="getNextPageItems(commissionReportCONSTANT,1,i)" ng-if="i!=currentPageNumber">{{i}}</a>                   
            </li>
            <li ng-class="{disabled:lastIndex==totalPage}">
                <a class="active" ng-click="lastIndex!=totalPage && gotoNextPage(commissionReportCONSTANT,1,lastIndex)" style="min-width: 55px;"><!-- Next -->&nbsp;<i class="fa fa-angle-right"></i>تالي  </a>
                <a class="" ng-click="lastIndex!=totalPage && gotoLastPage(commissionReportCONSTANT,1,totalPage)" style="min-width: 55px;"> <!-- Last -->&nbsp;<i class="fa fa-angle-double-right"></i> الاخير </a>
            </li>
          </ul>
                    
                  </div>
                  
                </div>
                </div>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
  
    </div>
  </div>
  <!-- /page content -->
</div>
</div>

