<div ng-if="langval==1">
  <div class="right_col" role="main" style="min-height: 980px;">
    <div class="">
      <div class="page-title">
        <div class="title_left">
          <h3>Income Reports </h3>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="container-fluid">
        <div>
          <div class="row">
            <div id="filter-report" class="col-md-12 col-sm-12 hidden-sm hidden-xs">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title"><i class="fa fa-filter"></i> Filter</h3>
                </div>
                <div class="panel-body">
                  <div class="col-md-12">                  
                    <div class="form-group col-md-3">
                    <label for="reg_input" class="req">Income Head</label>
                    <select class="form-control" name="incomeExpenseName" ng-model="filter.incomehead" ng-options="item.incomExpnsHeadId as item.incomeExpenseName for item in allincomeHead" required>
                      <option value="" selected>Please Select </option>
                      <option ng-repeat="class in allincomeHead" ng-value="class.incomExpnsHeadId">{{class.incomeExpenseName}}</option>
                    </select>
                  </div>
                    <div class="form-group col-md-3">
                      <label class="control-label" for="input-date-start">Start Date</label>
                      <div class="input-group date">
                        <input type="date" name="filter_date_start" ng-model="filter.startdate" placeholder="Date Start" data-date-format="DD-MM-YYYY" id="startdate" class="form-control">
                      </div>
                    </div>
                    <div class="form-group col-md-3">
                      <label class="control-label" for="input-date-end">End Date</label>
                      <div class="input-group date">
                        <input type="date" name="filter_date_end" ng-model="filter.enddate" placeholder="Date End" data-date-format="YYYY-MM-DD" id="enddate" class="form-control">
                      </div>
                    </div>
                    <div class="form-group col-md-2">
                      <button type="button" id="button-filter" class="btn btn-default" ng-click="filterIncomeReport(filter)" style="float: left;    margin-top: 25px;"><i class="fa fa-filter"></i> Filter</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12 col-sm-12">
              <!--  <div>
            <span class="pull-right">
                        <button ng-click="downloadproductreport()">Download as Pdf</button>
                       </span>
          </div> -->
              <div id="exportproductreport">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-bar-chart"></i> Income Report</h3>
                  </div>
                  <div class="panel-body">
                    <div class="table-responsive">
                      <table class="table table-bordered">
                        <thead>
                          <tr>
                            <td class="text-center">Sl.No</td>
                            <td class="text-center">Name </td>
                            <td class="text-center">Date </td>
                            <td class="text-center">Amount</td>              
                          </tr>
                        </thead>
                        <tbody>
                          <tr ng-if="allincome.length!=0" ng-repeat="income in allincome">
                            <td class="text-center">{{$index+1}}</td>                         
                            <td class="text-center">{{income.incomeExpenseName}}</td>
                            <td class="text-center">{{income.last_updated_time | date:'dd/MM/yyyy'}}</td>
                            <td class="text-center">{{income.amount | number:2}} SAR</td>
                          </tr>
                          <tr ng-if="allincome.length==0">
                            <td class="text-center" colspan="5">No results!</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div ng-if="langval==0">
  <div dir="rtl">
    <div class="rightarab_col" role="main" style="min-height: 980px;">
    <div class="">
      <div class="page-title">
        <div class="title_right pull-right">
          <h3><!-- Income Reports  -->تقارير الدخل  </h3>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="container-fluid">
        <div>
          <div class="row">
            <div id="filter-report" class="col-md-12 col-sm-12 hidden-sm hidden-xs">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title"><i class="fa fa-filter"></i> <!-- Filter -->فلتر  </h3>
                </div>
                <div class="panel-body">
                  <div class="col-md-12">
                   <div class="form-group col-md-2">
                      <button type="button" id="button-filter" class="btn btn-default" ng-click="filterIncomeReport(filter)" style="margin-top: 25px;"><i class="fa fa-filter"></i> <!-- Filter -->فلتر  </button>
                    </div>
                     <div class="form-group col-md-3">
                      <label class="control-label" for="input-date-end"><!-- End Date -->تاريخ الانتهاء  </label>
                      <div class="input-group date">
                        <input type="date" name="filter_date_end" ng-model="filter.enddate" placeholder="Date End" data-date-format="YYYY-MM-DD" id="enddate" class="form-control">
                      </div>
                    </div>
                    <div class="form-group col-md-3">
                      <label class="control-label" for="input-date-start"><!-- Start Date -->تاريخ البدء  </label>
                      <div class="input-group date">
                        <input type="date" name="filter_date_start" ng-model="filter.startdate" placeholder="Date Start" data-date-format="DD-MM-YYYY" id="startdate" class="form-control">
                      </div>
                    </div>
                                     
                    <div class="form-group col-md-3">
                    <label for="reg_input" class="req"><!-- Income Head -->رئيس الدخل  </label>
                    <select class="form-control" name="incomeExpenseName" ng-model="filter.incomehead" ng-options="item.incomExpnsHeadId as item.incomeExpenseName for item in allincomeHead" required>
                      <option value="" selected><!-- Please Select -->من فضلك اختر </option>
                      <option ng-repeat="class in allincomeHead" ng-value="class.incomExpnsHeadId">{{class.incomeExpenseName}}</option>
                    </select>
                  </div>                    
                   
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12 col-sm-12">
              <!--  <div>
            <span class="pull-right">
                        <button ng-click="downloadproductreport()">Download as Pdf</button>
                       </span>
          </div> -->
              <div id="exportproductreport">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-bar-chart"></i> <!-- Income Report -->تقارير الدخل  </h3>
                  </div>
                  <div class="panel-body">
                    <div class="table-responsive">
                      <table class="table table-bordered">
                        <thead>
                          <tr>
                            <td class="text-center"><!-- Sl.No -->رقم متسلسل </td>
                            <td class="text-center">رئيس الدخل  </td>
                            <td class="text-center"><!-- Date -->تاريخ </td>
                            <td class="text-center"><!-- Amount -->كمية </td>              
                          </tr>
                        </thead>
                        <tbody>
                          <tr ng-if="allincome.length!=0" ng-repeat="income in allincome">
                            <td class="text-center">{{$index+1}}</td>                         
                            <td class="text-center">{{income.incomeExpenseName}}</td>
                            <td class="text-center">{{income.last_updated_time | date:'dd/MM/yyyy'}}</td>
                            <td class="text-center">{{income.amount | number:2}} SAR</td>
                          </tr>
                          <tr ng-if="allincome.length==0">
                            <td class="text-center" colspan="5"><!-- No results! -->لا نتائج! </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<!-- ARABIC -->
