<div ng-if="langval==1">
  <div class="right_col" role="main" style="min-height: 980px;">
    <div class="">
      <div class="page-title">
        <div class="title_left">
          <h3>Product Reports </h3>
        </div>
      
      </div>
      <div class="clearfix"></div>
      <div class="container-fluid">
        <div>
          <!--   CUSTOMER PAID REPORT -->
          <div class="row">
            <div id="filter-report" class="col-md-3 col-md-push-9 col-sm-12 hidden-sm hidden-xs">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title"><i class="fa fa-filter"></i> Filter</h3>
                </div>
                <div class="panel-body">
                 
               

                    <div class="form-group">
                      <label>Category</label>
                      <select class="form-control" ng-change="getsubcategoryByCategoryId(filter.categoryId)" ng-model="filter.categoryId">

                        <option ng-repeat="category in categories" ng-value="category.categoryId">{{category.categoryName}}</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label>Subcategory</label>
                      <select class="form-control" ng-change="" ng-model="filter.subCategoryId">
                         <option ng-value="0">All</option>
                        <option ng-repeat="subcategory in subcategoriesbycategories" ng-value="subcategory.subCategoryId">{{subcategory.subCategoryName }}</option>
                      </select>
                    </div>

                  <div class="form-group">
                    <label class="control-label" for="input-status">Status</label>
                    <select name="filter_order_status_id" id="input-status" ng-model="filter.status" class="form-control">
                      <option value="1">Active</option>
                      <option value="0">Deactive</option>
                      <option value="2">Both</option>
                     
                    </select>
                  </div>
                  <div class="form-group text-right">
                    <button type="button" id="button-filter" class="btn btn-default" ng-click="filterproductreport(filter)"><i class="fa fa-filter"></i> Filter</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-9 col-md-pull-3 col-sm-12">
              <div>
            <span class="pull-right">
                        <button ng-click="downloadproductreport()">Download as Pdf</button>
                       </span>
          </div>
            <div id="exportproductreport">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title"><i class="fa fa-bar-chart"></i> Product Report</h3>
                </div>
                <div class="panel-body">
                  <div class="table-responsive">
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <td class="text-left">Sl.No</td>
                          <td class="text-left">Product Name</td>
                          <td class="text-left">Category </td>
                          <td class="text-right">Subcategory</td>
                          <td class="text-right">Soled Quantity</td>
                          <td class="text-right">Remaining Quantity </td>
                        </tr>
                      </thead>
                      <tbody>
                  
                      <!--     <tr >
                          <img ng-show="loading==1" src="/public/script/img/dataloading.gif" style="
    width:  140px;
    height:  140px;
"/> -->

                      <!--   </tr> -->
                        <tr  ng-repeat="prreport in productreport">
                            <td class="text-left">{{$index+1+productreportPageVo.currentIndex}}</td>
                          <td class="text-left">{{prreport.productName}}</td>
                          <td class="text-left">{{prreport.categoryName}}</td>
                          <td class="text-right">{{prreport.subcategoryName}}</td>
                          <td class="text-right">{{prreport.totalSaledItems}}</td>
                           <td class="text-right">{{prreport.numberOfItemsRemaining}}</td>
                        </tr>
                            <tr ng-if="nodata==1">
                              <td class="text-center" colspan="7">No results!</td>
                            </tr>
                      
                      </tbody>
                    </table>
                  </div>
                 <!--  <div class="row">
                    <div class="col-sm-6 text-left"></div>
                    <div class="col-sm-6 text-right">
                    
                    </div>
                  </div> -->
                  <div class="row">
                    <div class="col-sm-12">
                      <ul class="pagination" ng-if="noPages>0" style="float: right;width: 100%;">
                        <li ng-class="{disabled:firstIndex==1}">
                           <a class="" ng-click="firstIndex!=1 && gotoFirstPage(productReportCONSTANT,1)" style="min-width: 55px;"><i class="fa fa-angle-double-left"></i> &nbsp;First</a>
                            <a class="active" ng-click="firstIndex!=1 && gotoPreviousPage(productReportCONSTANT,1,firstIndex)" style="min-width: 55px;"><i class="fa fa-angle-left"></i>&nbsp;Prev</a> 
                        </li>
                        <li ng-class="{active:i==currentPageNumber}" ng-repeat="i in pageList track by $index">
                            <a class="active" ng-if="i==currentPageNumber">{{i}}</a>
                            <a ng-click="getNextPageItems(productReportCONSTANT,1,i)" ng-if="i!=currentPageNumber">{{i}}</a>                   
                        </li>
                        <li ng-class="{disabled:lastIndex==totalPage}">
                            <a class="active" ng-click="lastIndex!=totalPage && gotoNextPage(productReportCONSTANT,1,lastIndex)" style="min-width: 55px;">Next  &nbsp;<i class="fa fa-angle-right"></i></a>
                            <a class="" ng-click="lastIndex!=totalPage && gotoLastPage(productReportCONSTANT,1,totalPage)" style="min-width: 55px;"> Last &nbsp;<i class="fa fa-angle-double-right"></i></a>
                        </li>
                      </ul>
                      
                    </div>
                    
                  </div>
                <!--   <div class="row">
                  <div class="col-sm-6 text-left" style=" margin-top:  25px;">Showing {{$index+1+productreportPageVo.currentIndex}} to {{finalcount}} of {{totalnumber}} ({{noPages}} Pages)</div>
                  <div class="col-sm-6 text-right ">
                    <ul class="pagination">
                      <li class="paginate_button" ng-repeat="i in getNumber(noPages) track by $index" ng-click="getproductreport($index+1)"><span><a href="javascript:void(0)">{{$index+1}}</a></span></li>
                    </ul>
                  </div>
                </div> -->
                </div>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
      <!--  <div class="clearfix"></div> -->
      <!--  <div class="clearfix"></div> -->
      <!-- /form input knob -->
    </div>
  </div>
  <!-- /page content -->
</div>
<!-- ARABIC -->
<!-- page content -->

<div ng-if="langval==0">
  <div dir="rtl">
  <div class="rightarab_col" role="main" style="min-height: 980px;">
    <div class="">
      <div class="page-title">
        <div class="title_right pull-right">
          <h3>تقرير المنتج  </h3>
        </div>
       <!--  <div class="title_right">
          <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
            <div class="input-group">
              <input class="form-control  " placeholder="Search..." type="text" data-ng-model="categorySearch" /> <span class="input-group-btn ">
                                        <button type="button" class="btn btn-flat">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
            </div>
          </div>
        </div> -->
      </div>
      <div class="clearfix"></div>
      <div class="container-fluid">
        <div>
          <!--   CUSTOMER PAID REPORT -->
          <div class="row">
            <div id="filter-report" class="col-md-3  col-sm-12 hidden-sm hidden-xs">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title"><i class="fa fa-filter"></i> فلتر  </h3>
                </div>
                <div class="panel-body">
                 <!--  <div class="form-group">
                    <label class="control-label" for="input-date-start">تاريخ البدء </label>
                    <div class="input-group date">
                      <input type="date" name="filter_date_start" ng-model="filter.enddate" placeholder="Date Start" data-date-format="YYYY-MM-DD" id="input-date-start" class="form-control">
                      <span class="input-group-btn">
<button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
</span></div>
                  </div>
                  <div class="form-group">
                    <label class="control-label" for="input-date-end">تاريخ الانتهاء </label>
                    <div class="input-group date">
                      <input type="date" name="filter_date_end" ng-model="filter.enddate" placeholder="Date End" data-date-format="YYYY-MM-DD" id="input-date-end" class="form-control">
                      <span class="input-group-btn">
<button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
</span></div>
                  </div> -->
                    <div class="form-group">
                      <label>فئة </label>
                      <select class="form-control" ng-change="getsubcategoryByCategoryId(filter.categoryId)" ng-model="filter.categoryId">

                        <option ng-repeat="category in categories" ng-value="category.categoryId">{{category.categoryNameAr}}</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label>فئه فرعية </label>
                      <select class="form-control" ng-change="" ng-model="filter.subCategoryId">
                         <option ng-value="0">الجميع </option>
                        <option ng-repeat="subcategory in subcategoriesbycategories" ng-value="subcategory.subCategoryId">{{subcategory.subCategoryNameAr }}</option>
                      </select>
                    </div>

                  <div class="form-group">
                    <label class="control-label" for="input-status">حالة </label>
                    <select name="filter_order_status_id" id="input-status" ng-model="filter.status" class="form-control">
                      <option value="1">نشط  </option>
                      <option value="0">غير نشطه </option>
                      <option value="2">كلا </option>
                     
                    </select>
                  </div>
                 <!--  <div class="form-group">
                    <label class="control-label" for="input-status">حالة </label>
                    <select name="filter_order_status_id" id="input-status" ng-model="filter.status" class="form-control">
                      <option value="1">نشط  </option>
                      <option value="0">غير نشطه </option>
                      <option value="2">كلا</option>
                   
                    </select>
                  </div> -->
                  <div class="form-group text-right">
                    <button type="button" id="button-filter" class="btn btn-default" ng-click="filterproductreport(filter)"><i class="fa fa-filter"></i>  فلتر   </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-9  col-sm-12">
              <div>
            <span class="" style="float: left;">
                        <button ng-click="downloadproductreportar()">تنزيل بتنسيق PDF
 </button>
                       </span>
          </div>
          <div id="downloadlowstockreport">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title"><i class="fa fa-bar-chart"></i>  تقرير المنتج  </h3>
                </div>
                <div class="panel-body">
                  <div class="table-responsive">
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                           <td class="text-center"><strong>رقم </strong></td>
                          <td class="text-center"><strong>اسم المنتج  </strong></td>
                          <td class="text-center"><strong>فئة  </strong></td>
                          <td class="text-center"><strong>فئه فرعية  </strong></td>
                          <td class="text-center"><strong>الكمية المباعة</strong></td>
                          <td class="text-center"><strong>الكمية المتبقية</strong></td>
                        </tr>
                      </thead>
                      <tbody>
                      <!--   <tr>
                          <td class="text-left">MacBook Pro</td>
                          <td class="text-left">Product 18</td>
                          <td class="text-right">998</td>
                          <td class="text-right">$1,996,000.00</td>
                          <td class="text-right">$1,996,000.00</td>
                        </tr> -->
                        <tr ng-repeat="prreport in productreport">
                            <td class="text-left">{{$index+1+productreportPageVo.currentIndex}}</td>
                          <td class="text-right">{{prreport.productNameAr}}</td>
                          <td class="text-right">{{prreport.categoryNameAr}}</td>
                          <td class="text-right">{{prreport.subcategoryNameAr}}</td>
                          <td class="text-right">{{prreport.totalSaledItems}}</td>
                           <td class="text-right">{{prreport.numberOfItemsRemaining}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <!-- <div class="row">
                    <div class="col-sm-6 text-left"></div>
                    <div class="col-sm-6 text-right">
                     
                    </div>
                  </div> -->
                   <div class="row">
                    <div class="col-sm-12"> 
                     <ul class="pagination" ng-if="noPages>0" style="float: right;width: 100%;">
                            <li ng-class="{disabled:firstIndex==1}">
                               <a class="" ng-click="firstIndex!=1 && gotoFirstPage(productReportCONSTANT,1)" style="min-width: 55px;"><!-- First -->الأول   &nbsp; <i class="fa fa-angle-double-left"></i></a>
                                <a class="active" ng-click="firstIndex!=1 && gotoPreviousPage(productReportCONSTANT,1,firstIndex)" style="min-width: 55px;"><!-- Prev -->سابق   &nbsp; <i class="fa fa-angle-left"></i></a> 
                            </li>
                            <li ng-class="{active:i==currentPageNumber}" ng-repeat="i in pageList track by $index">
                                <a class="active" ng-if="i==currentPageNumber">{{i}}</a>
                                <a ng-click="getNextPageItems(productReportCONSTANT,1,i)" ng-if="i!=currentPageNumber">{{i}}</a>                   
                            </li>
                            <li ng-class="{disabled:lastIndex==totalPage}">
                                <a class="active" ng-click="lastIndex!=totalPage && gotoNextPage(productReportCONSTANT,1,lastIndex)" style="min-width: 55px;"><!-- Next -->&nbsp;<i class="fa fa-angle-right"></i>تالي  </a>
                                <a class="" ng-click="lastIndex!=totalPage && gotoLastPage(productReportCONSTANT,1,totalPage)" style="min-width: 55px;"> <!-- Last -->&nbsp;<i class="fa fa-angle-double-right"></i> الاخير </a>
                            </li>
                          </ul>
                      
                    </div>
                    
                  </div>
                <!--    <div class="row">
                  <div class="col-sm-6 text-left ">
                    <ul class="pagination">
                      <li class="paginate_button" ng-repeat="i in getNumber(noPages) track by $index" ng-click="getproductreport($index+1)"><span><a href="javascript:void(0)">{{$index+1}}</a></span></li>
                    </ul>
                  </div>
                  <div class="col-sm-6 text-right" style="
    margin-top:  25px;
">عرض    {{$index + 1 + productreportPageVo.currentIndex}} إلى {{finalcount}} من  {{totalnumber}} ({{noPages}} صفحات  )
</div>
                  
                </div> -->
                </div>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--  <div class="clearfix"></div> -->
      <!--  <div class="clearfix"></div> -->
      <!-- /form input knob -->
    </div>
  </div>
  <!-- /page content -->
</div>
</div>