<div ng-if="langval==1">
  <div class="right_col" role="main" style="min-height: 100vh;">
    <div class="">
      <div class="clearfix"></div>
      <div class="row">
        <div style="margin-right: 16px;">
          <span class="pull-right">
            <button ng-click="printDiv('exportthis');">Print</button>
            <button ng-click="export()">Download as Pdf</button>
          </span>
        </div>
      </div>
      <div id="exportthis">
        <div class="row" style="margin-left: 0px;
    margin-right: 0px;
    background: #fff;">
          <h3 style="padding-left: 10px;margin-bottom: 4px;font-weight: 600;">Order ID : #{{order.orderId}}</h3>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="block">
              <div class="block-title">
                <h2><i class="fa fa-building-o"></i> <strong>Customer</strong> Details</h2>
              </div>
              <h4><strong>{{customerinfo.customerName}}</strong></h4>
              <address>
                {{customerinfo.address}}
                <br> {{customerinfo.cityName}}
                <br> {{customerinfo.countryName}}
                <br>
                <i class="fa fa-phone"></i> {{customerinfo.phoneNo}}
                <br>
                <i class="fa fa-envelope-o"></i> {{customerinfo.emailId}}
              </address>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="block">
              <div class="block-title">
                <h2><i class="fa fa-building-o"></i> <strong>Shipping</strong> Address</h2>
              </div>
              <h4><strong><span style=" margin-right:  30px;">Location </span> : {{shippingDetails.address1}}</strong></h4>
              <address>
                <span><strong style=" margin-right:  16px;">Building Name </strong></span> : {{shippingDetails.address2}}
                <br>
                <span><strong style=" margin-right:  45px;">Landmark </strong></span> : {{shippingDetails.landMark}}
                <br>
                <span><strong style=" margin-right:  55px;">PinCode </strong></span> : {{shippingDetails.pincode}}
                <br>
                <br>
                <i class="fa fa-phone"></i> {{shippingDetails.phoneNumber}}
                <br>
                <!-- <i class="fa fa-envelope-o"></i> {{shippingDetails.emailId}} -->
              </address>
            </div>
          </div>
        </div>
        <div class="block">
          <div class="block-title">
            <h2><i class="fa fa-shopping-cart"></i> <strong>Products</strong></h2>
          </div>
          <div class="table-responsive">
            <table class="table table-bordered table-vcenter">
              <thead>
                <tr>
                  <th class="text-center" style="width:5%;font-size: 14px;">Sl.No</th>
                  <th style="width: 30%;font-size: 14px;">Product Name</th>
                  <!-- <th class="text-center">Stock</th> -->
                  <th class="text-center" style="width: 5%;font-size: 14px;">QTY</th>
                  <th class="text-center" style="width: 6%;font-size: 14px;">UNIT COST<br>(Inc. Tax)</th>
                  <th class="text-center" style="width: 5%;font-size: 14px;">TAX</th>
                  <th class="text-center" style="width: 15%;font-size: 14px;">OFFER</th>
                  <th class="text-center" style="width: 10%;font-size: 14px;">TOTAL PRICE</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="items in orderdetails" ng-class="{'cancelleditem' : items.status==10 || items.status==5 || items.status==11 || items.status==12|| items.status==15 }">
                  <td class="text-center"><strong>{{$index+1}}</strong></td>
                  <td>{{items.itemName}}</td>
                  <td class="text-center"><strong>{{items.itemQuantity}}</strong></td>
                  <td class="text-right"><strong>{{items.itemPrice}} SAR</strong></td>
                  <td class="text-center"><strong>{{items.taxName}}<br>({{items.taxPercentage}}%)</strong></td>
                  <td ng-if="items.offerId==0" class="text-center"><strong>---<br></strong></td>
                  <td ng-if="items.offerId!=0" class="text-center"><strong>{{items.offerName}}<br><span ng-if="items.offerPercentage==0">({{items.offerRate}}SAR)</span>
                      <span ng-if="items.offerPercentage!=0">({{items.offerPercentage}}%)</span>
                    </strong></td>
                  <td class="text-right"><strong>{{items.itemNetPrice}} SAR{{calculateOrderSubTotalAndShippingAndInstallation($index+1,items)}}</strong></td>
                </tr>
                <tr class="active">
                  <td colspan="6" class="text-right text-uppercase"><strong>Sub Total:</strong></td>
                  <td class="text-right"><strong>{{subTotal}} SAR</strong></td>
                </tr>
                <tr class="active" ng-if="order,promocodeId!=0">
                  <td colspan="6" class="text-right text-uppercase"><strong>Promocode Offer :</strong></td>
                  <td class="text-right"><strong>{{order.netPrice-totalShippingCharge-totalInstallationFee}} SAR</strong></td>
                </tr>
                <tr class="active">
                  <td colspan="6" class="text-right text-uppercase"><strong>Shipping Charge :</strong></td>
                  <td class="text-right"><strong>{{totalShippingCharge}} SAR</strong></td>
                </tr>
                <tr class="active">
                  <td colspan="6" class="text-right text-uppercase"><strong>Installation Fee :</strong></td>
                  <td class="text-right"><strong>{{totalInstallationFee}} SAR</strong></td>
                </tr>
                <tr class="active">
                  <td colspan="6" class="text-right text-uppercase"><strong>Grand Total:</strong></td>
                  <td class="text-right"><strong>{{order.netPrice}} SAR</strong></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<!-- ARABIC -->
<div ng-if="langval==0">
  <div dir=rtl>
    <div class="rightarab_col" role="main" style="min-height: 100vh;">
      <div class="">
        <div class="clearfix"></div>
        <div class="row">
          <div style="margin-right: 16px;">
            <span class="">
              <button ng-click="printDiv('exportthis');">طباعة </button>
              <button ng-click="export()">تنزيل بتنسيق pdf </button>
            </span>
          </div>
        </div>
        <div id="exportthis">
          <div class="row" style="margin-left: 0px;
    margin-right: 0px;
    background: #fff;">
            <h3 style="padding-left: 10px;margin-bottom: 4px;font-weight: 600;">رقم الأمر : #{{order.orderId}}</h3>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="block">
                <div class="block-title">
                  <h2><i class="fa fa-building-o"></i> عنوان <strong> الشحن </strong></h2>
                </div>
                <h4><strong><span style=" margin-left:   30px;">موقع </span> : {{shippingDetails.address1}}</strong></h4>
                <address>
                  <span><strong style=" margin-left:   18px;">اسم المبنى </strong></span> : {{shippingDetails.address2}}
                  <br>
                  <!-- <span><strong style=" margin-left:   45px;">Landmark </strong></span> : {{shippingDetails.landMark}}<br> -->
                  <span><strong style=" margin-left:   9px;">معلم معروف </strong></span> : {{shippingDetails.landMark}}
                  <br>
                  <span><strong style=" margin-left:   4px;">الرمز البريدي </strong></span> : {{shippingDetails.pincode}}
                  <br>
                  <br>
                  <i class="fa fa-phone"></i> {{shippingDetails.phoneNumber}}
                  <br>
                  <!-- <i class="fa fa-envelope-o"></i> {{shippingDetails.emailId}} -->
                </address>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="block">
                <div class="block-title">
                  <h2><i class="fa fa-building-o"></i> تفاصيل <strong>زبون </strong> </h2>
                </div>
                <h4><strong>{{customerinfo.customerName}}</strong></h4>
                <address>
                  {{customerinfo.address}}
                  <br> {{customerinfo.cityName}}
                  <br> {{customerinfo.countryName}}
                  <br>
                  <i class="fa fa-phone"></i> {{customerinfo.phoneNo}}
                  <br>
                  <i class="fa fa-envelope-o"></i> {{customerinfo.emailId}}
                </address>
              </div>
            </div>
          </div>
          <div class="block">
            <div class="block-title">
              <h2><i class="fa fa-shopping-cart"></i> <strong>منتجات </strong></h2>
            </div>
            <div class="table-responsive">
              <table class="table table-bordered table-vcenter">
                <!-- <thead>
                  <tr>
                    <th class="text-center" style="width: 100px;">رقم </th>
                    <th class="text-center">اسم المنتج
                     </th>                   
                    <th class="text-center">كمية </th>
                    <th class="text-right" style="width: 10%;">تكلفة الوحدة
                     </th>
                    <th class="text-center" style="width: 5%;">ضريبة </th>
                    <th class="text-center" style="width: 15%;">عرض   </th>
                    <th class="text-right" style="width: 10%;">السعر الكلي
                    </th>
                  </tr>
                </thead> -->
                <thead>
                  <tr>
                    <th class="text-center" style="width:5%;font-size: 14px;">
                      <!-- Sl.No -->رقم متسلسل</th>
                    <th class="text-center" style="width: 30%;font-size: 14px;">
                      <!-- Product Name -->اسم المنتج </th>
                    <!-- <th class="text-center">Stock</th> -->
                    <th class="text-center" style="width: 5%;font-size: 14px;">
                      <!-- QTY -->كمية المنتج</th>
                    <th class="text-center" style="width: 6%;font-size: 14px;">
                      <!-- UNIT COST -->سعر الوحدة (مع الضريبة)</th>
                    <th class="text-center" style="width: 5%;font-size: 14px;">
                      <!-- TAX -->ضريبة </th>
                    <th class="text-center" style="width: 15%;font-size: 14px;">
                      <!-- OFFER -->عروض </th>
                    <th class="text-center" style="width: 10%;font-size: 14px;">
                      <!-- TOTAL PRICE -->السعر الكلي</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="items in orderdetails">
                    <td class="text-center"><strong>{{$index+1}}</strong></td>
                    <td>{{items.itemNameAr}}</td>
                    <td class="text-center"><strong>{{items.itemQuantity}}</strong></td>
                    <td class="text-right"><strong>ر.س {{items.itemPrice}} </strong></td>
                    <td class="text-center"><strong>{{items.taxNameAr}}<br>({{items.taxPercentage}}%)</strong></td>
                    <td ng-if="items.offerId==0" class="text-center"><strong>---<br></strong></td>
                    <td ng-if="items.offerId!=0" class="text-center"><strong>{{items.offerName}}<br><span ng-if="items.offerPercentage==0">(ر.س {{items.offerRate}})</span>
                        <span ng-if="items.offerPercentage!=0">({{items.offerPercentage}}%)</span>
                      </strong></td>
                    <td class="text-right"><strong>ر.س {{items.itemNetPrice}} {{calculateOrderSubTotalAndShippingAndInstallation($index+1,items)}}</strong></td>
                  </tr>
                  <tr class="active">
                    <td colspan="6" style="text-align: left;"><strong>الإجمالي الفرعي:</strong></td>
                    <td class="text-right"><strong>ر.س {{subTotal}} </strong></td>
                  </tr>
                  <tr class="active" ng-if="order,promocodeId!=0">
                    <td colspan="6" style="text-align: left;"><strong>
                        <!-- Promocode Offer : -->عرض الرمز الترويجي:</strong></td>
                    <td class="text-right"><strong>ر.س {{order.netPrice-totalShippingCharge-totalInstallationFee}} </strong></td>
                  </tr>
                  <tr class="active">
                    <td colspan="6" style="text-align: left;"><strong>
                        <!-- Shipping Charge : -->رسوم الشحن:</strong></td>
                    <td class="text-right"><strong>ر.س {{totalShippingCharge}} </strong></td>
                  </tr>
                  <tr class="active">
                    <td colspan="6" style="text-align: left;"><strong>
                        <!-- Installation Fee : -->رسوم التركيب :</strong></td>
                    <td class="text-right"><strong>ر.س {{totalInstallationFee}} </strong></td>
                  </tr>
                  <tr class="active">
                    <td colspan="6" style="text-align: left;"><strong>
                        <!-- Grand Total: -->إجمالي:</strong></td>
                    <td class="text-right"><strong>ر.س {{order.netPrice}} </strong></td>
                  </tr>
                  <!--  ############# -->
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
