
<!-- page content -->
        <div class="right_col" role="main" style="min-height: 980px;">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>Customer Management </h3>
              </div>

              <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button">Go!</button>
                    </span>
                  </div>
                </div>
              </div>
            </div>

            <div class="clearfix"></div>

           <div class="row">
            <div class="col-lg-3">
                                        
                                        <a href="#/admin/addcustomer/0" class="btn btn-block btn-success" role="button">Add
                                Customer</a>
                                    </div>
                    <div class="col-lg-12">

                        <!-- TABLE STRIPED -->
                        <div class="panel">
                            <div class="panel-heading">
                                <h3 class="panel-title"></h3>
                               
                                 <div class="row">
                                    <div class="col-lg-3 ">
                                         <div class="form-group">
                                    <label>Country &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; الدولة</label> 
                                     <select class="form-control" ng-change="changeCountry(search.countryId)" ng-model="search.countryId" >
         <option ng-repeat="country in countries" ng-value="country.countryId" >{{country.countryName}}</option>
    </select>

                                </div>

                             

                                    
                            </div>
                            <div class="col-lg-3 ">
                                <div class="form-group">
                                    <label>City &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; مدينة</label> 
                                     <select class="form-control" ng-change="" ng-model="search.cityId">
         <option ng-repeat="city in citiesbycountries" ng-value="city.cityId">{{city.cityName }}</option>
    </select>

                                </div>

                                <!-- <div class="form-group">
                                    <label>City &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; الفئة</label> 
                                     <select class="form-control" ng-change="" ng-model="city.countryId">
         <option ng-repeat="country in countries" ng-value="country.countryId">{{country.countryName}}</option>
    </select>

                                </div> -->
                            </div>
                            <div class="col-lg-2 ">
                            <div class="form-group"
                                    data-ng-class="{ 'has-error' : customersearchForm.phoneNo.$invalid &amp;&amp; !customersearchForm.phoneNo.$pristine}">
                                    <label>phoneNumber  </label> <input
                                        class="form-control" data-ng-model="search.phoneNo"
                                         id="phoneNo" placeholder="Enter phoneNumber"
                                        type="text" required="required" /> 
                                </div>
                            </div>
                            <div class="col-lg-2 ">

                                <div class="form-group"
                                    data-ng-class="{ 'has-error' : customersearchForm.emailid.$invalid &amp;&amp; !customersearchForm.emailid.$pristine}">
                                    <label>emailid  </label> <input
                                        class="form-control" data-ng-model="search.emailid"
                                         id="emailid" placeholder="Enter emailid"
                                        type="email" required="required" /> 
                                </div>
                            </div>
                            <br>
                            <div class="col-lg-2">


                        <a ng-click="customerSearch(search)" class="btn btn-block btn-primary"
                            role="button"><i class="fas fa-filter">Filter</i></a>
                           
                    </div>
                    <!--  Name: <input ng-model="search.countryName"/> -->
                           
                      

                            
                                </div>



                                
                            </div>


                            
                        </div>
                    </div>
                </div>





              <!-- second -->
              <!-- /form input knob -->
              <div class="row">
                    <div class="col-lg-12">
                        <!-- TABLE STRIPED -->
                        <div class="panel">
                            <div class="panel-heading">
                                <h3 class="panel-title"></h3>
                                
                                 


                                <div class="panel-body">
                                    <table class="table table-responsive">

                                        <tr>
                                            <th>#</th>
                                            <th>Customer Name<br></th>
                                            <th>PhoneNumber </th>
                                            <th>E-mail ID </th>
                                           
                                           
                                            
                                              <th>Status </th>
                                            
                                            <th>Actions</th>
                                            
                                        </tr>

                                        <tr ng-repeat="customer in customers ">

                                        <td>{{$index+1}}.</td>
                                        <td>{{customer.customerName}}</td>
                                        <td>{{customer.phoneNo}}</td>
                                        <td>{{customer.emailid}}</td>
                                         
                                         
                                       
                                       <td data-ng-if="customer.status==0">
                                <div class="tools action-buttons" style="display: block;">
                                    <span class="label label-danger label-lg ng-scope">Deactivated</span>
                                </div>
                            </td>
                            <td data-ng-if="customer.status==1">
                                <div class="tools action-buttons" style="display: block;">
                                    <span class="label label-success label-lg ng-scope">Active</span>
                                </div>
                            </td>

                                      
                                            
                                       
                                        <th><a ng-click ="viewcustomer(customer)"><i class="fa fa-eye text-green"></i></a>&nbsp;&nbsp;&nbsp;&nbsp; 
                                          <a ng-click= "customermanage(customer)"href=""><i class="fa fa-pencil text-aqua"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a ng-click="customerstatistics(customer)" href=""> <span
                                    class="label label-warning label-lg ng-scope">Statistics</span>
                                <!-- <i class="fa fa-pencil text-aqua"></i> --></a></th>   
                                        

                                        </tr>
                                         <tr ng-if="customers.length==0">


                                                <td>No Customers Found</td>
                                            </tr>

                                    </table>
                                </div>
                            </div>


                            <ul class="pagination">
        <li ng-repeat="i in getNumber(noPages) track by $index" ng-click="getcustomer($index+1)"><span><a href="javascript:void(0)">{{$index+1}}</a></span>
      </ul>
                        </div>
                    </div>
                </div>

              <!-- /form input knob -->

        




          </div>
        </div>
        <!-- /page content -->

            

       