
<!-- page content -->
        <div class="right_col" role="main" style="min-height: 980px;">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>Add Customer </h3>
              </div>

              <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button">Go!</button>
                    </span>
                  </div>
                </div>
              </div>
            </div>

            <div class="clearfix"></div>

           
             
              <!-- /form input knob -->
       <div class="row">
  <div class="col-lg-3 pull-right">
    <a href="#/admin/customer" class="btn btn-block btn-primary " role="button">Back to Customer</a>
  </div>
</div>
<div class="row">
  <div class="panel">
    <div class="panel-heading">
      <h2 class="panel-title "><b></b></h2>
    </div>
    <form role="form" name="customerForm">
      <div class="panel-body">
        <div class="col-lg-6">
          <div class="form-group" data-ng-class="{ 'has-error' : customerForm.customerName.$invalid &amp;&amp; !customerForm.customerName.$pristine}">
            <label for="customerName">customerName </label>
            <input class="form-control" data-ng-model="customer.customerName" name="customerName" id="customerName" data-ng-readonly="true" readonly="readonly" type="text" required="required" />
          </div>
      </div>
      <div class="col-lg-6">
          <div class="form-group" data-ng-class="{ 'has-error' : customerForm.emailid.$invalid &amp;&amp; !customerForm.emailid.$pristine}">
            <label for="emailid">EmailId </label>
            <input class="form-control" data-ng-model="customer.emailid" name="emailid" id="emailid" data-ng-readonly="true" readonly="readonly" type="email" required="required" />
          </div>
      </div>
      <div class="col-lg-6">
          <div class="form-group" data-ng-class="{ 'has-error' : customerForm.phoneNo.$invalid &amp;&amp; !customerForm.phoneNo.$pristine}">
            <label for="phoneNo">phoneNumber </label>
            <input class="form-control" data-ng-model="customer.phoneNo" name="phoneNo" id="phoneNo" data-ng-readonly="true" readonly="readonly" type="text" required="required" />
          </div>
      </div>
          <div class="col-lg-6">
          <div class="form-group" data-ng-class="{ 'has-error' : customerForm.address.$invalid &amp;&amp; !customerForm.address.$pristine}">
            <label for="address">Address </label>
            <textarea class="form-control" data-ng-model="customer.address" name="address" id="address" data-ng-readonly="true" readonly="readonly" required="required" rows="2"></textarea>
          </div>
      </div>
      <div class="col-lg-6">
          <div class="form-group">
            <label for="countryName">Country </label>
            <input class="form-control" data-ng-model="customer.countryName" name="countryName" id="countryName" data-ng-readonly="true" readonly="readonly" type="text" required="required" />
          </div>
      </div>
      <div class="col-lg-6">
          <div class="form-group">
            <label for="cityName">City </label>
            <input class="form-control" data-ng-model="customer.cityName" name="cityName" id="cityName" data-ng-readonly="true" readonly="readonly" type="text" required="required" />
          </div>
      </div>
          
         <div class="col-lg-6">
          <div class="form-group">
            <label for="status">CustomerStatus &nbsp;&nbsp;&nbsp;&nbsp; </label>
            <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <label data-ng-if="customer.status==0">
              <div class="tools action-buttons" style="display: block;">
                <span class="label label-danger label-lg ng-scope">Deactivate</span>
              </div>
            </label>
            <label data-ng-if="customer.status==1">
              <div class="tools action-buttons" style="display: block;">
                <span class="label label-success label-lg ng-scope">Active</span>
              </div>
            </label>
          </div>
          <br>
          <div class="box-footer">
            <div class="col-lg-3">
              <a href="#/admin/customer" class="btn btn-block btn-primary" role="button">Close</a>
            </div>
          </div>
          <!--  <div class="box-footer">
              <button type="submit" class="btn btn-primary" ng-click="addCustomer(customer);">close</button>
            </div> -->
        </div>
      </div>
    </form>
        <!-- /page content -->

            

       