
   
            
          

   
      <h1 class="page-heading ">Active Auction Items
       
      </h1><br>
      <div class="container-fluid" style="background-color:#e8e8e8">
        <div class="container container-pad" id="property-listings">
 
            <div class="row">
                <div class="col-md-8" ng-repeat = "auction in auctions"> 

                    <!-- Begin Listing: 609 W GRAVERS LN-->
                    <div class="brdr bgc-fff pad-10 box-shad btm-mrg-20 property-listing">
                        <div class="media">
                            <a class="pull-left" ng-click="viewauctiondetails(auction)" target="_parent">
                            <img alt="image" class="img-responsive" src="{{imageUrl}}{{auction.imageName}}"></a>

                            <div class="clearfix visible-sm"></div>

                            <div class="media-body fnt-smaller">
                                <!-- <a href="#" target="_parent"></a> -->

                                <h2 class="media-heading">
                                  <a ng-click="viewauctiondetails(auction)">{{auction.itemName}} <small class="pull-right">Auction closing Date : {{auction.auctionExpiryTime}}</small></a></h2><hr>


                                <ul class="list-inline mrg-0 btm-mrg-10 clr-535353">
                                    <li>Owner : {{auction.ownerName}}</li>

                                    <li style="list-style: none">|</li>

                                    <li>City : {{auction.cityName}}</li>

                                    <li style="list-style: none">|</li>

                                    <li>Country : {{auction.countryName}}</li>
                                </ul>

                                <ul class="list-inline mrg-0 btm-mrg-10 clr-535353">
                                    <li>Contact Number : {{auction.mobile}}</li>

                                   
                                </ul>
                                <ul class="list-inline mrg-0 btm-mrg-10 clr-535353">
                                    <li>Item Price : {{auction.itemNetPrice}}</li>

                                   
                                </ul>

                                <ul class="list-inline mrg-0 btm-mrg-10 clr-535353">
                                    <li>Last Bid Amount : {{auction.basicBidAmt}}</li>
                                    <li style="list-style: none">|</li>

                                    <li>Last Bid Amount : {{auction.lastBidAmt}}</li>

                                   
                                </ul>



                                <br>
                                 <h4 class="media-heading" style="color: blue">
                                  Description</h4>

                                <p class="hidden-xs">{{auction.description}}</p><span class="fnt-smaller fnt-lighter fnt-arial"></span>
                            </div>
                        </div>
                    </div><!-- End Listing-->

                   
                   
                       </div>
                     </div>
                   </div>
                 </div>

