<div class="row">
  <div class="shop-details">
    <div class="col-md-8 col-lg-8 col-xs-12 col-sm-12 individualshop-padding">
      <div style="font-size: 13px;
    color: #a09e9e;">Kerashops-{{shop.shopTypeName}}</div>
      <div class="row colorshopview">
        <div style="height: 400px;">
          <div ng-repeat="pic in shop.featureOrPhotos |limitTo: 1" ng-show="pic.modeType===5" class="img-individualshop" style="background-image: url({{fileupConstant}}/{{pic.data}});">
          </div>
        </div>
        <div class="row ">
          <div class="col-md-6 col-lg-6 col-xs-6 col-sm-6">
            <h4 style="color: grey" class="padding-shopview">{{shop.shopTypeName}}</h4></div>
          <div class="col-md-4 col-lg-4"></div>
          <div class="padding-shopview-symbol">
            <div class="col-md-2 col-lg-2 col-xs-4 col-sm-4">
              <h4 class="">Share</h4></div>
          </div>
        </div>
        <div class="row ">
          <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
            <h1 class="padding-shopview padding-minimum" style="white-space: nowrap;
    overflow: hidden;"><b>{{shop.shopName}}</b></h1></div>
        </div>
        <hr>
        <div class="row ">
          <div class="col-md-4 col-lg-4 col-xs-6 col-sm-6 pull-left">
            <h4 class="padding-shopview padding-hr">{{shop.address}}</h4></div>
          <div class="col-md-4 col-lg-4"></div>
          <div class="col-md-4 col-lg-4 col-xs-6 col-sm-6 glyphicon glyphicon-earphone left-tag-shopview" style="margin-top: 15px;">
            <div class="phn-result">{{shop.phoneNo}}</div>
          </div>
        </div>
        <div class="row ">
          <div class="col-md-4 col-lg-4 col-xs-6 col-sm-6 pull-left">
            <h6 class=" green-color padding-shopview padding-zero">Working hours:{{shop.workingHours}}</h6></div>
          <div class="col-md-4 col-lg-4"></div>
          <div class="col-md-4 col-lg-4 col-xs-6 col-sm-6 glyphicon glyphicon-envelope left-tag-shopview">
            <div class="phn-result">{{shop.emailId}}</div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-lg-4 col-xs-6 col-sm-6 pull-left">
            <h6 class="padding-shopview" ng-if="shop.delivaryStatus == 2" style="color: red;margin-top: -6px;">No home delivary availble</h6>
            <h6 class="padding-shopview" ng-if="shop.delivaryStatus == 1" style="color: red;margin-top: -6px;">home delivary availble</h6>
          </div>
          <div class="col-md-4 col-lg-4"></div>
          <div class="col-md-4 col-lg-4 col-xs-6 col-sm-6 glyphicon glyphicon-globe left-tag-shopview">
            <div class="phn-result">{{shop.webAddress}}</div>
          </div>
        </div>
      </div>
      <div class="row bgcolor-shopview">
        <div class="caption-full">
          <h4 class="padding-shopview "><a class="color-black">About shop</a>
                        </h4>
          <p class="padding-shopview">{{shop.description}}</p>
        </div>
      </div>
      <div class="row colorshopview">
        <div class="row shop-head-row">
          <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
            <h3 style="margin-top: 0;
    line-height: 43px;
    font-size: 14px;
    background: #79a747;
    font-weight: 700;
    color: #ff9d24;" class="padding-service-items">Items/Products/Services</h3>
          </div>
        </div>
         <!-- xs-product -->
        <div class="xs_service_product">
          <div ng-if="!productxsArray.length">
            <p style="text-align:center;">No Data To Show</p>
          </div>
          <div ng-if="productxsArray.length">
            <section class="home-popular-services">
              <div>
                <div class="row" style="margin-left:0;margin-right:0">
                  <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
                    <div class="carousel slide settings" id="theCarousel12xs">
                      <div class="carousel-inner">
                        <div class="item" ng-repeat="product in productxsArray" ng-class="{ active:$index==0}">
                          <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
                            <div class="row">
                              <div ng-repeat="product in product">
                                <div class="col-xs-12 col-sm-6 col-lg-3 col-md-3  box-width1">
                                  <a class="button" ng-click="clickFun($index)" style="text-decoration: none;">
                                    <div class="thumbnail thumbnail-box">
                                      <div class="" style="height:150px">
                                        <div ng-repeat="pic in product.featureOrPhotos |limitTo: 1" ng-show="pic.modeType===5" class="similar-img" style="background-image: url({{fileupConstant}}/{{pic.data}});">
                                        </div>
                                      </div>
                                      <div class="caption caption-box">
                                        <div class="row">
                                          <div class="row border-colour">Click for More</div>
                                          <div class="col-md-12 col-lg-12 col-xs-12 border-style">
                                            {{product.mainCateogoryName}}</div>
                                          <i class="fa fa-heart-o icon-like-shopview" aria-hidden="true"></i>
                                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 shopname-padding">
                                            <p><a class=" font-size-contents" href="#/app/viewshop?shopId={{shop.shopId}}&mainCategoryId={{shop.shopType}}"><b >{{product.productName}}</b></a>
                                            </p>
                                            <span class="icon-rate-shopview">{{product.rating}}/5</span>
                                          </div>
                                          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 city-padding border-bottom-style" style="font-size: 9px;">
                                            {{product.shopVo.address}}
                                          </div>
                                          <div class=" col-lg-6 col-md-6 col-sm-6 col-xs-6 city-padding border-left-style" style="font-size: 9px;">
                                            <div class="row">
                                              <div class="col-md-1 col-lg-1 col-xs-1">
                                                <img width="10px" height="10px" src="/public/script/www/img/color/phone-receiver.png"></div>
                                              <div class="col-md-6 col-lg-6 col-xs-6" style="padding-left: 0px; ">
                                                {{product.phone}}
                                              </div>
                                            </div>
                                          </div>
                                          <div class="green-color col-md-6 col-lg-6 col-xs-6 ">Specials
                                            <div ng-repeat="pic in product.featureOrPhotos" ng-show="pic.modeType===6" class="shop_feature">{{pic.data}}
                                            </div>
                                          </div>
                                          <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 border-review-style" "><p class=" " style=" margin-top: 12px; "><b class=" font-size-contents ">{{product.price}}</b><i class="fa fa-inr dollar "></i></p></div>
                                                      
                                    </div>
                                  </div>
                                </div>
                                </a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <a class="left carousel-control " href="#theCarousel12xs " target="theCarousel12xs " data-slide="prev " ng-if="productxsArray.length>1"><i class="glyphicon glyphicon-menu-left product-view-icon"></i></a>
                                  <a class="right carousel-control " href="#theCarousel12xs" target="theCarousel12xs " data-slide="next" ng-if="productxsArray.length>1"><i class="glyphicon glyphicon-menu-right product-view-icon"></i></a>
                                  </div>
                                  </div>
                                  </div>
                                  </div>
            </section>
            </div>
            </div>
            <!-- end xs-product -->
        <!-- md-product -->
        <div class="md_service_product">
          <div ng-if="!productList2.length">
            <p style="text-align:center;">No Data To Show</p>
          </div>
          <div ng-if="productList2.length">
            <section class="home-popular-services">
              <div>
                <div class="row" style="margin-left:0;margin-right:0">
                  <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
                    <div class="carousel slide settings" id="theCarousel12md">
                      <div class="carousel-inner">
                        <div class="item" ng-repeat="product in productList2" ng-class="{ active:$index==0}">
                          <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
                            <div class="row">
                              <div ng-repeat="product in product">
                                <div class="col-xs-12 col-sm-6 col-lg-3 col-md-3  box-width1">
                                  <a class="button" ng-click="clickFun($index)" style="text-decoration: none;">
                                    <div class="thumbnail thumbnail-box">
                                      <div class="" style="height:150px">
                                        <div ng-repeat="pic in product.featureOrPhotos |limitTo: 1" ng-show="pic.modeType===5" class="similar-img" style="background-image: url({{fileupConstant}}/{{pic.data}});">
                                        </div>
                                      </div>
                                      <div class="caption caption-box">
                                        <div class="row">
                                          <div class="row border-colour">Click for More</div>
                                          <div class="col-md-12 col-lg-12 col-xs-12 border-style">
                                            {{product.mainCateogoryName}}</div>
                                          <i class="fa fa-heart-o icon-like-shopview" aria-hidden="true"></i>
                                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 shopname-padding">
                                            <p><a class=" font-size-contents" href="#/app/viewshop?shopId={{shop.shopId}}&mainCategoryId={{shop.shopType}}"><b >{{product.productName}}</b></a>
                                            </p>
                                            <span class="icon-rate-shopview">{{product.rating}}/5</span>
                                          </div>
                                          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 city-padding border-bottom-style" style="font-size: 9px;">
                                            {{product.shopVo.address}}
                                          </div>
                                          <div class=" col-lg-6 col-md-6 col-sm-6 col-xs-6 city-padding border-left-style" style="font-size: 9px;">
                                            <div class="row">
                                              <div class="col-md-1 col-lg-1 col-xs-1">
                                                <img width="10px" height="10px" src="/public/script/www/img/color/phone-receiver.png"></div>
                                              <div class="col-md-6 col-lg-6 col-xs-6" style="padding-left: 0px; ">
                                                {{product.phone}}
                                              </div>
                                            </div>
                                          </div>
                                          <div class="green-color col-md-6 col-lg-6 col-xs-6 ">Specials
                                            <div ng-repeat="pic in product.featureOrPhotos" ng-show="pic.modeType===6" class="shop_feature">{{pic.data}}
                                            </div>
                                          </div>
                                          <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 border-review-style" "><p class=" " style=" margin-top: 12px; "><b class=" font-size-contents ">{{product.price}}</b><i class="fa fa-inr dollar "></i></p></div>
                                                      
                                    </div>
                                  </div>
                                </div>
                                </a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <a class="left carousel-control " href="#theCarousel12md " target="theCarousel12md " data-slide="prev " ng-if="productList2.length>1"><i class="glyphicon glyphicon-menu-left product-view-icon"></i></a>
                                  <a class="right carousel-control " href="#theCarousel12md " target="theCarousel12md " data-slide="next" ng-if="productList2.length>1"><i class="glyphicon glyphicon-menu-right product-view-icon"></i></a>
                                  </div>
                                  </div>
                                  </div>
                                  </div>
            </section>
            </div>
            </div>
            <!-- end md-product -->
            <div class="lg_service_product">
              <div ng-if="!productList.length">
                <p style="text-align:center;">No Data To Show</p>
              </div>
              <div ng-if="productList.length">
                <section class="home-popular-services">
                  <div>
                    <div class="row" style="margin-left:0;margin-right:0">
                      <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
                        <div class="carousel slide settings" id="theCarousel12">
                          <div class="carousel-inner">
                            <div class="item" ng-repeat="product in productList" ng-class="{ active:$index==0}">
                              <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
                                <div class="row">
                                  <div ng-repeat="product in product">
                                    <div class="col-xs-12 col-sm-6 col-lg-3 col-md-3  box-width1">
                                      <a class="button" ng-click="clickFun($index)" style="text-decoration: none;">
                                        <div class="thumbnail thumbnail-box">
                                          <div class="" style="height:150px">
                                            <div ng-repeat="pic in product.featureOrPhotos |limitTo: 1" ng-show="pic.modeType===5" class="similar-img" style="background-image: url({{fileupConstant}}/{{pic.data}});">
                                            </div>
                                          </div>
                                          <div class="caption caption-box">
                                            <div class="row">
                                              <div class="row border-colour">Click for More</div>
                                              <div class="col-md-12 col-lg-12 col-xs-12 border-style">
                                                {{product.mainCateogoryName}}</div>
                                              <i class="fa fa-heart-o icon-like-shopview" aria-hidden="true"></i>
                                              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 shopname-padding">
                                                <p><a class=" font-size-contents" href="#/app/viewshop?shopId={{shop.shopId}}&mainCategoryId={{shop.shopType}}"><b >{{product.productName}}</b></a>
                                                </p>
                                                <span class="icon-rate-shopview">{{product.rating}}/5</span>
                                              </div>
                                              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 city-padding border-bottom-style" style="font-size: 9px;">
                                                {{product.shopVo.address}}
                                              </div>
                                              <div class=" col-lg-6 col-md-6 col-sm-6 col-xs-6 city-padding border-left-style" style="font-size: 9px;">
                                                <div class="row">
                                                  <div class="col-md-1 col-lg-1 col-xs-1">
                                                    <img width="10px" height="10px" src="/public/script/www/img/color/phone-receiver.png"></div>
                                                  <div class="col-md-6 col-lg-6 col-xs-6" style="padding-left: 0px; ">
                                                    {{product.phone}}
                                                  </div>
                                                </div>
                                              </div>
                                              <div class="green-color col-md-6 col-lg-6 col-xs-6 ">Specials
                                                <div ng-repeat="pic in product.featureOrPhotos" ng-show="pic.modeType===6" class="shop_feature">{{pic.data}}
                                                </div>
                                              </div>
                                              <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 border-review-style" "><p class=" " style=" margin-top: 12px; "><b class=" font-size-contents ">{{product.price}}</b><i class="fa fa-inr dollar "></i></p></div>
                                                      
                                    </div>
                                  </div>
                                </div>
                                </a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <a class="left carousel-control " href="#theCarousel12 " target="theCarousel12 " data-slide="prev " ng-if="productList.length>1"><i class="glyphicon glyphicon-menu-left product-view-icon"></i></a>
                                      <a class="right carousel-control " href="#theCarousel12 " target="theCarousel12 " data-slide="next" ng-if="productList.length>1"><i class="glyphicon glyphicon-menu-right product-view-icon"></i></a>
                                      </div>
                                      </div>
                                      </div>
                                      </div>
                </section>
                </div>
                </div>
                </div>
                <section class="review-page" ng-if="revbox">
                  <div class="row">
                    <div class="well" style="margin-top: 10px;
    border: 0;">
                      <div class="container" ng-init="rev.star=0">
                        <form name="form" ng-submit="">
                          <div class="" ng-if="!login" style="padding-bottom: 10px;
    color: red;">!{{errormsg}}</div>
                          <div class="row">
                            <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
                              <div class="row">
                                <span><b>Write a review</b></span>
                                <input-stars class="pull-right" ng-model="rev.star" max="5" icon-base="glyphicon glyphicon-star" icon-empty="glyphicon glyphicon-star-empty" icon-hover="hover" ng-change="starClcick()" icon-full="glyphicon glyphicon-star"></input-stars>
                              </div>
                            </div>
                            <div class="col-md-9 col-lg-9 col-xs-12 col-sm-12">
                              <input type="text" class=" textarea-style form-control" ng-model="rev.data" placeholder="&#9998 write a review here">
                            </div>
                            <div class="col-md-3 col-lg-3 col-xs-12 col-sm-12">
                              <a class="btn btn-default button-color review-btn" ng-click="submitreview(form,rev)">Publish Review</a>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                    <hr>
                    <div class="col-md-12 col-lg-12 col-xs-12" ng-if="revList" ng-repeat="rev in revList">
                      <div class="row">
                        <div class="well" style="margin-top: 10px;
    border: 0;">
                          <div> User Name
                            <div class="remove-review" ng-click=deleteReview(rev.reviewId);>
                              Remove
                            </div>
                            <div class="rating-review">{{rev.rating}}
                              <span ng-if="rev.rating <= 1" class="glyphicon glyphicon-star"></span>
                              <span ng-if="rev.rating <= 2 && rev.rating > 1" class="glyphicon glyphicon-star"></span>
                              <span ng-if="rev.rating <= 3 && rev.rating > 2" class="glyphicon glyphicon-star"></span>
                              <span ng-if="rev.rating <= 4 && rev.rating > 3" class="glyphicon glyphicon-star"></span>
                              <span ng-if="rev.rating <= 5 && rev.rating > 4" class="glyphicon glyphicon-star-empty"></span></div>
                          </div>
                          <div class="row descriptn-review">
                            {{rev.data}}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
                </div>
                <div class="col-md-4 col-lg-4 col-xs-12 col-sm-12 similarbackground">
                  <u class="similsr-shop-hd">Similar shops</u>
                  <div class="row colorshopview" style="margin-top: 10px;">
                    <h3 class="text-similarshop"></h3>
                    <div class="featured-shop">
                      <div ng-if="!similarshopList.length">{{similarshopList.length}}
                        <p style="text-align:center">No Data To Show</p>
                      </div>
                      <div ng-if="similarshopList.length">
                        <div id="carousel-pager1" class="carousel slide  " data-ride="carousel" data-interval="500000000">
                          <div class="carousel-inner vertical">
                            <div class="item " ng-repeat="shop in similarshopList" ng-class="{ active:$index==0}">
                              <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
                                <div class="row">
                                  <div ng-repeat="sh in shop">
                                    <div class="col-sm-6 col-lg-6 col-md-12 col-xs-12 xs_blk_shop" style="padding-left: 5px;
    padding-right: 5px;">
                                      <a href="#/app/viewshop?shopId={{sh.shopId}}&mainCategoryId={{sh.shopType}}" style="    text-decoration: none;">
                                        <div class="thumbnail" style="border: 2px solid #b9b9b9 !important;">
                                          <div class="" style="height:150px">
                                            <div ng-repeat="pic in sh.featureOrPhotos |limitTo: 1" ng-show="pic.modeType===5" class="similar-img" style="background-image: url({{fileupConstant}}/{{pic.data}});">
                                            </div>
                                          </div>
                                          <div class="caption" style="height:105px;">
                                            <div class="row">
                                              <div class="col-md-12 col-lg-12 col-xs-12">
                                                <h4 class="row_wrap_flow"><a class="color-black" href="#/app/viewshop?shopId={{sh.shopId}}&mainCategoryId={{sh.shopType}}">{{sh.shopName}}</a>
                                </h4>
                                              </div>
                                              <div class="col-md-12 col-lg-12 col-xs-12 row_wrap_flow">
                                                {{sh.city}}.
                                              </div>
                                              <div class=" col-md-12 col-lg-12 col-xs-12 shop_feature" ng-repeat="pic in sh.featureOrPhotos" ng-show="pic.modeType===7&&$index<=3">
                                                <ul style="padding:0; margin:0; margin-left:20px;">
                                                  <li><span>{{pic.extraData}}</span></li>
                                                </ul>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </a>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <a ng-if="similarshopList.length>1" class="right carousel-control" href="#carousel-pager1" target="carousel-pager1" role="button" data-slide="next" style="text-shadow: none;">
                                    <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12 col-lg-12 col-xs-12 add-width">
                      <h3 class="text-center">Ad</h3>
                    </div>
                  </div>
                  <u class="similsr-shop-hd">Featured shops</u>
                  <div class="row colorshopview" style="margin-top: 10px;">
                    <h3 class="text-similarshop"></h3>
                    <div class="featured-shop">
                      <div ng-if="!featureshopList.length">
                        <p style="text-align:center">No Data To Show</p>
                      </div>
                      <div ng-if="featureshopList.length">
                        <div id="carouselpager1" class="carousel slide  " data-ride="carousel" data-interval="500000000">
                          <div class="carousel-inner vertical">
                            <div class="item " ng-repeat="shop in featureshopList" ng-class="{ active:$index==0}">
                              <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
                                <div class="row">
                                  <div ng-repeat="sh in shop">
                                    <div class="col-sm-6 col-lg-6 col-md-12 col-xs-12 xs_blk_shop" style="padding-left: 5px;
    padding-right: 5px;">
                                      <a href="#/app/viewshop?shopId={{sh.shopId}}&mainCategoryId={{sh.shopType}}" style="    text-decoration: none;">
                                        <div class="thumbnail" style="border: 2px solid #b9b9b9 !important;">
                                          <div class="" style="height:150px">
                                            <div ng-repeat="pic in sh.featureOrPhotos |limitTo: 1" ng-show="pic.modeType===5" class="similar-img" style="background-image: url({{fileupConstant}}/{{pic.data}});">
                                            </div>
                                          </div>
                                          <div class="caption" style="height:105px;">
                                            <div class="row">
                                              <div class="col-md-12 col-lg-12 col-xs-12">
                                                <h4 class="row_wrap_flow"><a class="color-black" href="#/app/viewshop?shopId={{sh.shopId}}&mainCategoryId={{sh.shopType}}">{{sh.shopName}}</a>
                                </h4>
                                              </div>
                                              <div class="col-md-12 col-lg-12 col-xs-12 row_wrap_flow">
                                                {{sh.city}}.
                                              </div>
                                              <div class=" col-md-12 col-lg-12 col-xs-12 shop_feature" ng-repeat="pic in sh.featureOrPhotos" ng-show="pic.modeType===7&&$index<=3">
                                                <ul style="padding:0; margin:0; margin-left:20px;">
                                                  <li><span>{{pic.extraData}}</span></li>
                                                </ul>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </a>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <a ng-if="featureshopList.length>1" class="right carousel-control" href="#carouselpager1" target="carouselpager1" role="button" data-slide="next" style="text-shadow: none;">
                                    <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                </div>
                </div>
                <div ng-show="showbox" class="hidile-modal-bg button pop-outer" ng-click="close();" style="">
                </div>
                <div ng-show="showbox" class="hidile-modal-bg pop-inner" style="">
                  <div class="hidile-model-bg-i">
                    <div class="modal-dialog popup_modal">
                      <div class="close-btn">
                        <div type="button " ng-click="close();" style="float: right;">&times;</div>
                      </div>
                      <div class="modal-content ">
                        <div class="modal-body " style="padding:0px">
                          <div class="carousel slide settings " id="viewpopUp">
                            <div class="carousel-inner ">
                              <div class="item " ng-repeat="productList in productLists " ng-class="{ active:$index==0} ">
                                <div class="col-md-12 ">
                                  <div class="row ">
                                    <div class="" style="height: 340px;">
                                      <div ng-repeat="pic in productList.featureOrPhotos|limitTo: 1" ng-show="pic.modeType===5" class="similar-img-popup" style="background-image: url({{fileupConstant}}/{{pic.data}});">
                                      </div>
                                    </div>
                                    <div class="row color-bg-green ">
                                      <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 color-unit ">
                                        <p style="margin-top: 18px;
    font-size: 26px;">{{productList.productName}}</p>
                                      </div>
                                      <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 border-left ">
                                        <div class="row ">
                                          <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12" style="margin-top: -7px;
    margin-bottom: 0px;">
                                            <p style="padding: 17px;">Price</p>
                                          </div>
                                          <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 padding-price ">
                                            <p style="font-size: 31px;"><b>{{productList.price}}</b></p>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="row ">
                                      <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 bgcolor" style="    height: 150px;">
                                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                                          <h3>About Product.</h3>
                                        </div>
                                        <div class="row ">
                                          <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 padding-share ">
                                            <h4 class="pull-right green-color ">Share</h4></div>
                                        </div>
                                        <div class="col-md-12 ">
                                          {{productList.discription}}
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <a class=" left carousel-control left_slide" href="#viewpopUp" target="viewpopUp" data-slide="prev" style="background: transparent !important;"><i class="glyphicon glyphicon-chevron-left " style="font-size: 50px;"></i></a>
                            <a class=" right carousel-control right_slide" href="#viewpopUp" target="viewpopUp" data-slide="next" style="background: transparent !important; 
"><i class="glyphicon glyphicon-chevron-right " style="font-size: 50px;"></i></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
