<!-- <div ng-if="langval==0"> -->
<div ng-if="langval==1">
  <div class="right_col" role="main" style="min-height: 980px;">
    <div class="">
      <div class="page-title">
        <div class="title_left">
          <h3>Customer Accounts </h3>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="title_right">
        <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
          <div class="input-group">
            <input class="form-control  " placeholder="Search By Name, Mobile Number, e-mail ID..." type="text" data-ng-model="find.customerName" ng-change="findcustomerwithcustomerName(find.customerName)" />
            <span class="input-group-btn ">
              <button type="button" class="btn btn-flat"><i class="fa fa-search"></i></button>
            </span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <!-- TABLE STRIPED -->
          <div class="panel">
            <div class="panel-heading">
              <h3 class="panel-title"></h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-lg-12">
                  <!-- TABLE STRIPED -->
                  <div class="row">
                    <div class="col-lg-4">
                    </div>
                    <div class="col-lg-3 ">
                      <div class="form-group">
                        <label>Country </label>
                        <select class="form-control" ng-change="changeCountry(search.countryId)" ng-model="search.countryId">
                          <option ng-repeat="country in countries" ng-value="country.countryId">{{country.countryName}}</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-lg-3 ">
                      <div class="form-group">
                        <label>City </label>
                        <select class="form-control" ng-change="" ng-model="search.cityId">
                          <option ng-repeat="city in citiesbycountries" ng-value="city.cityId">{{city.cityName }}</option>
                        </select>
                      </div>
                    </div>
                    <br>
                    <div class="col-lg-2">
                      <a ng-click="customerSearch(search)" class="btn btn-block btn-primary" role="button" style="margin-top: 6px;"><i class="fa fa-filter" aria-hidden="true"></i>Filter</a>
                    </div>
                    <!--  Name: <input ng-model="search.countryName"/> -->
                  </div>
                  <table class="table table-responsive">
                    <tr>
                      <th>#</th>
                      <th>Customer Name</th>
                      <th>Country</th>
                      <th>City </th>
                      <th>PhoneNumber </th>
                      <th>Total Paid </th>
                      <th>Status </th>
                      <th style="text-align: center;">Actions</th>
                    </tr>
                    <tr ng-repeat="customer in customers ">
                      <td>{{$index+1+customerPageVo.currentIndex}}.</td>
                      <td>{{customer.customerName}}</td>
                      <td>{{customer.countryName}}</td>
                      <td>{{customer.cityName}}</td>
                      <td>{{customer.phoneNo}}</td>
                      <td>{{customer.totalPay}}</td>
                      <td data-ng-if="customer.status==0">
                        <div class="tools action-buttons" style="display: block;">
                          <span class="label label-danger label-lg ng-scope">Deactivated</span>
                        </div>
                      </td>
                      <td data-ng-if="customer.status==1">
                        <div class="tools action-buttons" style="display: block;">
                          <span class="label label-success label-lg ng-scope">Active</span>
                        </div>
                      </td>
                      <th style="text-align: center;">
                        <a ng-click="viewcustomer(customer)" href=""> <span class="label label-warning label-lg ng-scope">View</span></a> &nbsp;&nbsp;&nbsp;
                        <span ng-if="customer.status==0">
                          <a ng-click="activateCustomer(customer)" href=""> <span class="label label-success label-lg ng-scope">Activate</span>
                          </a>
                        </span>
                        <span ng-if="customer.status==1"><a ng-click="deactivateCustomer(customer)" href=""> <span class="label label-danger label-lg ng-scope">Deactivate</span>
                            <!-- <i class="fa fa-pencil text-aqua"></i> --></a>
                        </span>
                        &nbsp;&nbsp;
                      </th>
                    </tr>
                    <tr ng-if="nocustomer==1">
                      <td colspan="7" class="text-center"> <strong>
                          <h3>There Is No Customers Exist</h3>
                        </strong> </td>
                    </tr>
                  </table>
                </div>
              </div>
              <!--  <ul class="pagination">
              <li ng-repeat="i in getNumber(noPages) track by $index" ng-click="getallcustomers($index+1)"><span><a href="javascript:void(0)">{{$index+1}}</a></span></li>
            </ul> -->
              <!--   <div class="row">
                    <div class="col-sm-12"> -->
              <ul class="pagination" ng-if="noPages>0" style="float: right;width: 100%;">
                <li ng-class="{disabled:firstIndex==1}">
                  <a class="" ng-click="firstIndex!=1 && gotoFirstPage(1)" style="min-width: 55px;"><i class="fa fa-angle-double-left"></i> &nbsp;First</a>
                  <a class="active" ng-click="firstIndex!=1 && gotoPreviousPage(1,firstIndex)" style="min-width: 55px;"><i class="fa fa-angle-left"></i>&nbsp;Prev</a>
                </li>
                <li ng-class="{active:i==currentPageNumber}" ng-repeat="i in pageList track by $index">
                  <a class="active" ng-if="i==currentPageNumber">{{i}}</a>
                  <a ng-click="getNextPageItems(1,i)" ng-if="i!=currentPageNumber">{{i}}</a>
                </li>
                <li ng-class="{disabled:lastIndex==totalPage}">
                  <a class="active" ng-click="lastIndex!=totalPage && gotoNextPage(1,lastIndex)" style="min-width: 55px;">Next &nbsp;<i class="fa fa-angle-right"></i></a>
                  <a class="" ng-click="lastIndex!=totalPage && gotoLastPage(1,totalPage)" style="min-width: 55px;"> Last &nbsp;<i class="fa fa-angle-double-right"></i></a>
                </li>
              </ul>
              <!--       </div>
                    
                  </div> -->
            </div>
          </div>
          <!-- MAIN CONTENT -->
        </div>
      </div>
      <!--  </a>
</th>
</tr> -->
    </div>
  </div>
</div>
<!-- ARABIC -->
<div ng-if="langval==0">
  <div dir="rtl">
    <div class="rightarab_col" role="main" style="min-height: 980px;">
      <div class="">
        <div class="page-title">
          <div class="title_left">
            
            <div class="col-md-5 col-sm-5 col-xs-12 form-group">
              <div class="input-group">
                <input class="form-control  " placeholder="البحث عن طريق الاسم ، رقم الجوال ، معرف البريد الإلكتروني ..." type="text" ng-change="findcustomerwithcustomerName(find.customerName)" data-ng-model="find.customerName" style="box-shadow: inset 0 1px 0 rgba(0,0,0,.075);    border-radius: 0 25px 25px 0; padding-right: 20px; border: 1px solid rgba(221,226,232,.49);    height: 37px;" />
                <span class="input-group-btn ">
                  <button type="button" class="btn btn-flat" style="border-top-left-radius: 25px;    border-bottom-left-radius: 25px;margin-top: 2px;margin-bottom: 0px;"><i class="fa fa-search"></i></button>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="title_right">
          <h3>حسابات الزبائن </h3>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <!-- TABLE STRIPED -->
            <div class="panel">
              <div class="panel-heading">
                <h3 class="panel-title"></h3>
              </div>
              <div class="panel-body">
                <div class="row">
                  <div class="col-lg-12">
                    <!-- TABLE STRIPED -->
                    <div class="row">
                      <div class="col-lg-4">
                      </div>
                      <div class="col-lg-2">
                        <a ng-click="customerSearch(search)" class="btn btn-block btn-primary" role="button" style="margin-top: 24px;"><i class="fa fa-filter" aria-hidden="true"></i> فلتر</a>
                      </div>
                      <div class="col-lg-3 ">
                        <div class="form-group">
                          <label>مدينة </label>
                          <select class="form-control" ng-change="" ng-model="search.cityId">
                            <option ng-repeat="city in citiesbycountries" ng-value="city.cityId">{{city.cityNameAr }}</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-lg-3 ">
                        <div class="form-group">
                          <label>دولة </label>
                          <select class="form-control" ng-change="changeCountry(search.countryId)" ng-model="search.countryId">
                            <option ng-repeat="country in countries" ng-value="country.countryId">{{country.countryNameAr}}</option>
                          </select>
                        </div>
                      </div>
                      <!--  Name: <input ng-model="search.countryName"/> -->
                    </div>
                    <table class="table table-responsive">
                      <tr>
                        <th class="text-right">#</th>
                        <th class="text-right">اسم الزبون</th>
                        <th class="text-right">الدوله</th>
                        <th class="text-right">مدينه </th>
                        <th class="text-right">رقم الهاتف </th>
                        <th class="text-right">مجموع المبالغ المدفوعة </th>
                        <th class="text-right">حالة </th>
                        <th class="text-right">الاجراءت</th>
                      </tr>
                      <tr ng-repeat="customer in customers ">
                        <td>{{$index+1+customerPageVo.currentIndex}}.</td>
                        <td>{{customer.customerName}}</td>
                        <td>{{customer.countryNameAr}}</td>
                        <td>{{customer.cityNameAr}}</td>
                        <td>{{customer.phoneNo}}</td>
                        <td>{{customer.totalPay}}</td>
                        <td data-ng-if="customer.status==0">
                          <div class="tools action-buttons" style="display: block;">
                            <span class="label label-danger label-lg ng-scope">غير نشطة </span>
                          </div>
                        </td>
                        <td data-ng-if="customer.status==1">
                          <div class="tools action-buttons" style="display: block;">
                            <span class="label label-success label-lg ng-scope">شطة </span>
                          </div>
                        </td>
                        <th class="text-right">
                          <a ng-click="viewcustomer(customer)" href=""> <span class="label label-warning label-lg ng-scope">رأي</span></a> &nbsp;&nbsp;&nbsp;
                          <span ng-if="customer.status==0">
                            <a ng-click="activatecustomercustomer(customer)" href=""> <span class="label label-success label-lg ng-scope">شطة </span>
                            </a>
                          </span>
                          <span ng-if="customer.status==1"><a ng-click="deactivatecustomer(customer)" href=""> <span class="label label-danger label-lg ng-scope">غير نشطة </span>
                              <!-- <i class="fa fa-pencil text-aqua"></i> --></a>
                          </span>
                          &nbsp;&nbsp;
                        </th>
                      </tr>
                      <tr ng-if="nocustomer==1">
                        <td colspan="7" class="text-center"> <strong>
                            <h3>لا يوجد عملاء موجودون</h3>
                          </strong> </td>
                      </tr>
                    </table>
                  </div>
                </div>
                <!-- <ul class="pagination">
                  <li ng-repeat="i in getNumber(noPages) track by $index" ng-click="getallcustomers($index+1)"><span><a href="javascript:void(0)">{{$index+1}}</a></span></li>
                </ul> -->
                <ul class="pagination" ng-if="noPages>0" style="float: right;width: 100%;">
                            <li ng-class="{disabled:firstIndex==1}">
                               <a class="" ng-click="firstIndex!=1 && gotoFirstPage(1)" style="min-width: 55px;"><!-- First -->الأول   &nbsp; <i class="fa fa-angle-double-left"></i></a>
                                <a class="active" ng-click="firstIndex!=1 && gotoPreviousPage(1,firstIndex)" style="min-width: 55px;"><!-- Prev -->سابق   &nbsp; <i class="fa fa-angle-left"></i></a> 
                            </li>
                            <li ng-class="{active:i==currentPageNumber}" ng-repeat="i in pageList track by $index">
                                <a class="active" ng-if="i==currentPageNumber">{{i}}</a>
                                <a ng-click="getNextPageItems(1,i)" ng-if="i!=currentPageNumber">{{i}}</a>                   
                            </li>
                            <li ng-class="{disabled:lastIndex==totalPage}">
                                <a class="active" ng-click="lastIndex!=totalPage && gotoNextPage(1,lastIndex)" style="min-width: 55px;"><!-- Next -->&nbsp;<i class="fa fa-angle-right"></i>تالي  </a>
                                <a class="" ng-click="lastIndex!=totalPage && gotoLastPage(1,totalPage)" style="min-width: 55px;"> <!-- Last -->&nbsp;<i class="fa fa-angle-double-right"></i> الاخير </a>
                            </li>
                      </ul>
              </div>
            </div>
            <!-- MAIN CONTENT -->
          </div>
        </div>
        <!--  </a>
</th>
</tr> -->
      </div>
    </div>
  </div>
</div>
<!-- arabic -->
