 <div class="right_col" role="main" style="min-height: 980px;">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>Country Management </h3>
              </div>

              <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button">Go!</button>
                    </span>
                  </div>
                </div>
              </div>
            </div>

            <div class="clearfix"></div>



<div class="row">
                <div class="col-lg-3 pull-right">
                                        <a href="#/admin/customer" class="btn btn-block btn-primary " role="button">Back to Customer</a>
                                    </div>
                
                </div>
                
                <div class="row">
                    
                   
                    <div class="panel">
                <div class="panel-heading">
                  <h2 class="panel-title "><b></b></h2>
                </div>
                        <form role="form" name="customerForm">
                <div class="panel-body">
                                    <div class="col-lg-6">
                <div class="form-group"
                  data-ng-class="{ 'has-error' : customerForm.customerName.$invalid &amp;&amp; !customerForm.customerName.$pristine}">
                  <label for="customerName">customerName  </label> <input
                    class="form-control" data-ng-model="customer.customerName"
                    name="customerName" id="customerName" 
                    type="text" required="required" /> 
                </div>
                <div class="form-group"
                  data-ng-class="{ 'has-error' : customerForm.emailid.$invalid &amp;&amp; !customerForm.emailid.$pristine}">
                  <label for="emailid">EmailId  </label> <input
                    class="form-control" data-ng-model="customer.emailid"
                    name="emailid" id="emailid" 
                    type="email" required="required" /> 
                </div>
                <div class="form-group"
                  data-ng-class="{ 'has-error' : customerForm.phoneNo.$invalid &amp;&amp; !customerForm.phoneNo.$pristine}">
                  <label for="phoneNo">phoneNumber  </label> <input
                    class="form-control" data-ng-model="customer.phoneNo"
                    name="phoneNo" id="phoneNo" 
                    type="text" required="required" /> 
                </div>
                <!-- <div class="form-group">
                  <label for="password">Password  </label> <input
                    class="form-control" data-ng-model="customer.password"
                    name="password" id="password" 
                    type="password" required="required" /> 
                </div>
                <div class="form-group">
                  <label for="signin-password" class="control-label sr-only">Password</label>
                  <input type="password" class="form-control" id="password"  ng-init="thisisthepassword" >
                </div> -->
                <div class="form-group"
                  data-ng-class="{ 'has-error' : customerForm.address.$invalid &amp;&amp; !customerForm.address.$pristine}">
                  <label for="address">Address  </label>
                  <textarea class="form-control"
                    data-ng-model="customer.address" name="address"
                    id="address" placeholder="customer address" required="required"
                    rows="2"></textarea>

                </div>
                <div class="form-group">
            <label>Country </label>
            <select class="form-control" ng-change="changeCountry(customer.countryId)" ng-model="customer.countryId">
              <option ng-repeat="country in countries" ng-value="country.countryId">{{country.countryName}}</option>
            </select>
          </div>
          <div class="form-group">
            <label>City </label>
            <select class="form-control" ng-change="" ng-model="customer.cityId">
              <option ng-repeat="city in citiesbycountries" ng-value="city.cityId">{{city.cityName }}</option>
            </select>
          </div>
                                        
                                        
                                        
                  
                                        <div class="form-group"
                  data-ng-class="{ 'has-error' : customerForm.status.$invalid &amp;&amp; !customerForm.status.$pristine}">
                  <label for="status">customer Status </label><br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <label class="radio-inline"><input type="radio" name="status" value="0" ng-model="customer.status">Deactivated</label>
                                        <label class="radio-inline"><input type="radio" name="status" value="1" ng-model="customer.status">Active</label>
                                        
                                       
                </div>
                                        
                                       
                                        <div class="box-footer">
              <button type="submit" class="btn btn-primary" ng-click="updateCustomer(customer);">Submit</button>
            </div>
                    </div>
                </div>
                        </form>