<div class="container">
  <div class="row">
    <div class="col-md-3" style="padding:0">
      <div class="well no-padding">
        <div style="position: absolute;
    left: 40%;
    top: 40%;
    right: 0;">
          <img ng-if="mainLoad" src="public/script/www/img/Spinner.gif" style="width:50%;height:auto; max-width:64px;">
        </div>
        <div ng-class="{opacityloading:mainLoad }">
          <ul class="nav nav-list nav-menu-list-style" ng-init="allmain=false">
            <li>
              <label class=" nav-header glyphicon-icon-rpad" ng-click="maincategory();allmain=!allmain;" style="line-height: 65px;">
                All items
                <span ng-if="arrow_dir" class="menu-collapsible-icon glyphicon glyphicon-chevron-down" style=" color: #79a747;top: 30px !important;">
                </span>
                <span ng-if="!arrow_dir" class="menu-collapsible-icon glyphicon glyphicon-chevron-right" style="    top: 30px !important;">
                </span>
              </label>
              <ul class="nav nav-list tree bullets" ng-if="mains" ng-repeat="main in mains" ng-init="main.showSub=false">
                <li>
                  <label class=" nav-header" ng-click="category(main.maincategoryId);main.showSub=!main.showSub">
                    {{main.mainCategoryName}}
                    <span ng-if="arrow_dir_main" class="menu-collapsible-icon glyphicon glyphicon-chevron-down" style="color: #79a747;top: 18px !important;"></span>
                    <span ng-if="!arrow_dir_main" class="menu-collapsible-icon glyphicon glyphicon-chevron-right" style="    top: 18px !important;"></span>
                  </label>
                  <ul class="nav nav-list tree" ng-if="main.category&&main.showSub" ng-repeat="cat in main.category" ng-init="cat.showSub=false" style="background-color: #fcb42c;">
                    <li>
                      <label class="nav-header" ng-click="subcat(main.maincategoryId,cat.categoryId,cat.categoryName);cat.showSub=!cat.showSub" ">
                       {{cat.categoryName}}
                      <span ng-if="arrow_dir_cat " class="menu-collapsible-icon glyphicon glyphicon-chevron-down " style="color: #79a747;top: 18px !important; "></span>
                      <span ng-if="!arrow_dir_cat " class="menu-collapsible-icon glyphicon glyphicon-chevron-right " style=" top: 18px !important; "></span>
                      </label>
                      <ul class="nav nav-list tree " ng-if="cat.subcategory&&cat.showSub " ng-repeat="sub in cat.subcategory " style="background-color: white; ">

                        <li><a style="color: #fcb42c; " ng-click="shops(main.maincategoryId,cat.categoryId); ">{{sub.subcategoryName}}</a></li><!-- sub.subcategoryId -->
                      </ul>
                    </li>
                  </ul>
                </li>
               
              </ul>
            </li>
           
          </ul>


        </div>
      </div>
    </div>
    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 " >
    <div class="row ">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 " style="background-color: #fcb42c; padding: 0; margin-bottom: 14px; ">
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 ">
      <p class="maincat-header ">{{main}}</p>
      </div>
      <div class=" col-lg-4 col-md-4 col-sm-4 col-xs-12 btn btn-head " ng-click="loginformAction(); ">Open u'r Shop</div>
      </div>
      </div>
      <div ng-if="noData"><p style="text-align: center; margin-top: 151px; ">NO DATA TO SHOW</p></div>
      <div ng-if="noDatahome&&!categoryitems"><p style="text-align: center; margin-top: 151px; ">NO DATA TO SHOW</p></div>


<div ng-if="!noDatahome&&!categoryitems">
<div ng-repeat="shop in shopbyhome " ng-if="shop ">
            <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 " ng-if="shop " style="padding:3px; ">
            <div class="product_box_category " style="width: 213px " >
              <div class="thumbnail thumbnail-box " style="display: table; position: relative; ">
                <a href="#/app/viewshop?shopId={{shop.shopId}}&mainCategoryId={{shop.shopType}} " style=" text-decoration: none; ">
                 
                  <img class="sunside sunside_category " src="/public/script/www/img/33.png " style="width: 92%; ">
                  <div style="height:150px ">
                  <div ng-repeat="pic in shop.featureOrPhotos|limitTo: 1 " ng-show="pic.modeType===5 " class="similar-img " style="background-image: url({{fileupConstant}}/{{pic.data}}); ">
                  </div>
                  </div>
                  <div class="caption caption-box-category ">
                    <div class="row ">
                      <div class="row border-colour ">Click for More</div>
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 border-style ">{{shop.shopTypeName}}</div>
                      
                      <i class="fa fa-heart-o category-like " aria-hidden="true "></i>
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 shopname-padding ">
                        <p>
                         <b class="font-size-contents ">{{shop.shopName}}</b>
                        </p>
                        <span class="category-rate ">4.4/5</span>
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 border-bottom-style " style="font-size: 9px; ">
                        <p>{{shop.address}}</p>
                      </div>
                      <div class=" col-lg-6 col-md-6 col-sm-6 col-xs-6 border-left-style " style="font-size: 9px; ">
                        <div class="row ">
                          <div class="col-md-1 col-lg-1 col-sm-1 col-xs-1 ">
                            <img width="10px " height="10px " src="/public/script/www/img/color/phone-receiver.png ">
                          </div>
                          <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 " style="padding-left: 0px; ">
                            <p>{{shop.phoneNo}}</p>
                          </div>
                          <div class="col-md-5 "></div>
                        </div>
                      </div>
                      <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 green-color ">Specials
                        <div ng-repeat="pic in shop.featureOrPhotos " ng-show="pic.modeType===7 " style="color: #9a9a99; font-size: 9px; ">{{pic.extraData}}
                        </div>
                      </div>
                      <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 border-review-style ">
                        <p style="margin-top: 14px; "><b class=" font-size-contents ">{{shop.priceStarts}}</b><i class="fa fa-inr price-tag-home "></i></p>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            </div>
          </div>
          <div class=" " ng-if="!nomoreallhome&&!categoryitems " ng-click="homeshops(); " style="cursor:pointer ">Load More
      </div>
      <div class=" " ng-if="nomoreallhome&&!categoryitems">Completed
      </div>
      </div>




      <!-- home_main -->
<div ng-if="!noData ">
      <div ng-repeat="shop in shopbycategory " ng-if="shop ">
            <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 "  style="padding:3px; ">
            <div class="product_box_category " style="width: 213px " >
              <div class="thumbnail thumbnail-box " style="display: table; position: relative; ">
                <a href="#/app/viewshop?shopId={{shop.shopId}}&mainCategoryId={{shop.shopType}} " style=" text-decoration: none; ">
                 
                  <img class="sunside sunside_category " src="/public/script/www/img/33.png " style="width: 92%; ">
                  <div style="height:150px ">
                  <div ng-repeat="pic in shop.featureOrPhotos|limitTo: 1 " ng-show="pic.modeType===5 " class="similar-img " style="background-image: url({{fileupConstant}}/{{pic.data}}); ">
                  </div>
                  </div>
                  <div class="caption caption-box-category ">
                    <div class="row ">
                      <div class="row border-colour ">Click for More</div>
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 border-style ">{{shop.shopTypeName}}</div>
                      
                      <i class="fa fa-heart-o category-like " aria-hidden="true "></i>
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 shopname-padding ">
                        <p>
                          <b class="font-size-contents ">{{shop.shopName}}</b>
                        </p>
                        <span class="category-rate ">4.4/5</span>
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 border-bottom-style " style="font-size: 9px; ">
                        <p>{{shop.address}}</p>
                      </div>
                      <div class=" col-lg-6 col-md-6 col-sm-6 col-xs-6 border-left-style " style="font-size: 9px; ">
                        <div class="row ">
                          <div class="col-md-1 col-lg-1 col-sm-1 col-xs-1 ">
                            <img width="10px " height="10px " src="/public/script/www/img/color/phone-receiver.png ">
                          </div>
                          <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 " style="padding-left: 0px; ">
                            <p>{{shop.phoneNo}}</p>
                          </div>
                          <div class="col-md-5 "></div>
                        </div>
                      </div>
                      <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 green-color ">Specials
                        <div ng-repeat="pic in shop.featureOrPhotos " ng-show="pic.modeType===7 " style="color: #9a9a99; font-size: 9px; ">{{pic.extraData}}
                        </div>
                      </div>
                      <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 border-review-style ">
                       <p style="margin-top: 14px; "><b class=" font-size-contents ">{{shop.priceStarts}}</b><i class="fa fa-inr price-tag-home "></i></p>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            </div>
          </div>
          <div ng-if="!nomoreall&&show " ng-click="shopscategory(); " style="cursor:pointer ">Load More
      </div>
      <div ng-if="nomoreall&&show ">Completed
      </div>

</div>
 



        <!-- <div class="row ">

      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 " ng-if="!noData ">
          <div ng-repeat="shop in shopbycategory ">
            <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12 " ng-if="shop " style="padding:3px; ">
            <div class="product_box ">
              <div class="thumbnail thumbnail-box " style="box-shadow: 2px 2px 8px #797474; ">
                <a href="#/app/viewshop?shopId={{shop.shopId}}&mainCategoryId={{shop.shopType}} " style=" text-decoration: none; ">
                 
                  <img class="sunside " src="/public/script/www/img/33.png " style="width: 92%; ">
                  <div style="height:150px ">
                  <div ng-repeat="pic in shop.featureOrPhotos " ng-show="pic.modeType===5 " class="similar-img " style="background-image: url({{fileupConstant}}/{{pic.data}}); ">
                  </div>
                  </div>
                  <div class="caption caption-box-category ">
                    <div class="row ">
                      <div class="row border-colour ">Click for More</div>
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 border-style ">{{shop.shopTypeName}}</div>
                      
                      <i class="fa fa-heart-o category-like " aria-hidden="true "></i>
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 shopname-padding ">
                        <p>
                          <b class="font-size-contents ">{{shop.shopName}}</b>
                        </p>
                        <span class="category-rate ">4.4/5</span>
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 border-bottom-style " style="font-size: 9px; ">
                        <p>{{shop.address}}</p>
                      </div>
                      <div class=" col-lg-6 col-md-6 col-sm-6 col-xs-6 border-left-style " style="font-size: 9px; ">
                        <div class="row ">
                          <div class="col-md-1 col-lg-1 col-sm-1 col-xs-1 ">
                            <img width="10px " height="10px " src="/public/script/www/img/color/phone-receiver.png ">
                          </div>
                          <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 " style="padding-left: 0px; ">
                            <p>{{shop.phoneNo}}</p>
                          </div>
                          <div class="col-md-5 "></div>
                        </div>
                      </div>
                      <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 green-color ">Specials
                        <div ng-repeat="pic in shop.featureOrPhotos " ng-show="pic.modeType===7 " style="color: #9a9a99; font-size: 9px; ">{{pic.extraData}}
                        </div>
                      </div>
                      <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 border-review-style ">
                       
                        <p style="margin-top: 14px; "><b class=" font-size-contents ">{{shop.priceStarts}}</b><i class="fa fa-inr price-tag-home "></i></p>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            </div>
          </div>
        </div>
        <div class=" " ng-if="!nomoreall&&show " ng-click="shops(); " style="cursor:pointer ">Load More
      </div>
      <div class=" " ng-if="nomoreall&&show ">Completed
      </div>
    </div>-->
  </div> 
<a class="button ">
    <div ng-show="loginform " class="hidile-modal-bg " id="hidilemodel " style="position: fixed; top: 0; right: 0; bottom: 0; left: 0; z-index: 9999040; opacity: .5; background-color: #000; " ng-click="hide(); ">
    </div>
  </a>
  <div ng-show="loginform " class="hidile-modal-bg " id="hidilemodel " style="position: fixed; top: 0; right: 0; bottom: 0; left: 0; z-index: 9999041; ">
    <div class="hidile-model-bg-i ">
      <div class="modal-dialog box-login ">
        <div class="close-btn-login ">
          <div type="button " ng-click="close(); " style="float: right; ">&times;</div>
        </div>
        <div class="modal-content " style="border-top: 27px solid #fcb42c; ">
          <div class="modal-body ">
            <form ng-submit="logination(log) ">
              <div class="row ">
                <img width="53% " src="/public/script/www/img/logo.png ">
                <br>
                <br>
                <div class="form-group ">
                  <div ng-if="!notlogin " style="padding-bottom: 18px; text-align: center; color: red; ">
                    Please Enter Valid Phone and Password!
                  </div>
                  <div class="col-md-12 ">
                    <label class="item item-input ">
                      <span class="input-label ">Phone</span>
                    </label>
                  </div>
                  <div class="col-md-12 ">
                    <input class="form-control " type="text " ng-model="log.phone ">
                  </div>
                  <div class="col-md-12 ">
                    <label class="item item-input ">
                      <span class="input-label ">Password</span></label>
                  </div>
                  <div class="col-md-12 ">
                    <input class="form-control " type="password " ng-model="log.password ">
                  </div>
                </div>
              </div>
              <br>
              <div class="row ">
                <div class="col-md-12 ">
                  <label class="item ">
                    <button class="btn-modal form-control btn btn-default " type="submit ">Log in
                    </button>
                  </label>
                </div>
              </div>
              <div class="row ">
                <div class="col-md-12 ">
                  <label class="item ">
                    <!--  -->
                    <a class="button " ng-click="open(); ">New User Register Here</a>
                  </label>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
