<div ng-if="noData">
  <p style="text-align:center"> No Data To Show</p>
</div>
<div class="row" ng-if="types == 'product' || !type">
  <div ng-if="noProductData">
    <p style="text-align:center"> No Data To Show</p>
  </div>
  <div class="col-md-2 col-lg-2 col-sm-6 col-xs-12 width-box box-shop " ng-repeat="prod in productlist">
    <div class="thumbnail thumbnail-box ">
      <!-- <div class="similar-img " style="background-image: url(/public/script/www/img/add/3.jpg); "> -->
      <div class="" style="height:150px">
        <div class="similar-img" ng-repeat="pic in prod.featureOrPhotos" ng-show="pic.modeType===5" style="background-image: url({{fileupConstant}}/{{pic.data}});">
        </div>
        <div ng-if="!pic.data" class="noimage"></div>
      </div>
      <div class="caption caption-box">
        <div class="row ">
          <div class="row border-colour ">Click for More</div>
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 border-style ">
            {{prod.mainCateogoryName}}</div>
          <i class="fa fa-heart-o icon-like-search" aria-hidden="true"></i>
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 shopname-padding ">
            <p><b class="font-size-contents ">{{prod.productName}}</b>
            </p>
            <span class="icon-rate">{{prod.rating}}/5</span>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 border-bottom-style " style="font-size: 9px; ">
             {{prod.shopVo.address}}
          </div>
          <div class=" col-lg-6 col-md-6 col-sm-6 col-xs-6  border-left-style " style="font-size: 9px; ">
            <div class="row ">
              <div class="col-md-1 col-lg-1 col-sm-1 col-xs-1 ">
                <img width="10px " height="10px " src="/public/script/www/img/color/phone-receiver.png ">
              </div>
              <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 " style="padding-left: 0px; ">
                {{prod.shopVo.phoneNo}}
              </div>
              <div class="col-md-5 "></div>
            </div>
          </div>
          <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 green-color ">Specials
            <div ng-repeat="pic in prod.featureOrPhotos" ng-show="pic.modeType===6" ng-if="$index<3" style="color: #9a9a99;
    font-size: 9px;">{{pic.data}}
            </div>
          </div>
          <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 border-review-style ">
            <p style="margin-top: 14px;"><b class=" font-size-contents ">{{prod.price}}</b><i class="fa fa-inr price-tag-home"></i></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row" ng-if="types == 'shop' || !type">
  <div ng-if="noShopData">
    <p style="text-align:center"> No Data To Show</p>
  </div>
  <div class="col-md-2 col-lg-2 col-sm-6 col-xs-12 width-box box-shop" ng-repeat="shop in shoplist">
    <div class="thumbnail thumbnail-box">
      <a href="#/app/viewshop?shopId={{shop.shopId}}&mainCategoryId={{shop.shopType}}" style="    text-decoration: none;">
        <!--  <a href="#/app/viewshop/{{shop.shopId}}{{shop.shopType}}" style="    text-decoration: none;"> -->
        <!-- img="/public/script/www/img/sun.png" -->
        <img class="sunside" src="/public/script/www/img/33.png" style="width: 90%;">
        <div class="" style="height:150px">
          <div ng-repeat="pic in shop.featureOrPhotos" ng-show="pic.modeType===5" class="similar-img" style="background-image: url({{pic.data}});">
          </div>
        </div>
        <div class="caption caption-box">
          <div class="row">
            <div class="row border-colour">Click for More</div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 border-style">{{shop.shopTypeName}}</div>
            <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 border-style">
                                  {{shop.shopTypeName}}</div> -->
            <i class="fa fa-heart-o icon-like-search" aria-hidden="true"></i>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 shopname-padding">
              <p>
                <!-- <a class=" font-size-contents" href="#/app/viewshop?shopId={{shop.shopId}}&mainCategoryId={{shop.shopType}}"> --><b class="font-size-contents">{{shop.shopName}}</b>
                <!-- </a> -->
              </p>
              <span class="icon-rate">{{shop.rating}}/5</span>
            </div>
            <!-- city-padding -->
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6  border-bottom-style" style="font-size: 9px;">
              <!-- <p>{{shop.address}}</p> -->
              {{shop.address}}
            </div>
            <div class=" col-lg-6 col-md-6 col-sm-6 col-xs-6 border-left-style" style="font-size: 9px;">
              <div class="row">
                <div class="col-md-1 col-lg-1 col-sm-1 col-xs-1">
                  <img width="10px" height="10px" src="/public/script/www/img/color/phone-receiver.png">
                </div>
                <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6" style="padding-left: 0px; ">
                  <!--  <p>{{shop.phoneNo}}</p> -->
                  {{shop.phoneNo}}
                </div>
                <div class="col-md-5"></div>
              </div>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 green-color">Specials
              <div ng-repeat="pic in shop.featureOrPhotos" ng-show="pic.modeType===7" ng-if="$index<3" style="color: #9a9a99;
    font-size: 9px;">{{pic.extraData}}
              </div>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 border-review-style">
              <p style="margin-top: 14px;"><b class=" font-size-contents">{{shop.priceStarts}}</b><i class="fa fa-inr price-tag-home"></i></p>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
  <!--  <div class="thumbnail">
                            <img src="http://placehold.it/320x150" alt="">
                            <div class="caption">
                                <h4 class="pull-right">{{pro.priceStarts}}</h4>
                                <h4><a href="#/app/viewshop?shopId={{shop.shopId}}&mainCategoryId={{shop.shopType}}">{{pro.shopName}}</a>
                                </h4>
                                <p>{{pro.discription}}</p>
                            </div>
                            <div class="ratings">
                                <p class="pull-right">{{pro.rating}}</p>
                                <p>
                                    <span ng-if="rating <= 1" class="glyphicon glyphicon-star"></span>
                                    <span ng-if="rating <= 2 && rating > 1" class="glyphicon glyphicon-star"></span>
                                    <span ng-if="rating <= 3 && rating > 1" class="glyphicon glyphicon-star"></span>
                                    <span ng-if="rating <= 4 && rating > 1" class="glyphicon glyphicon-star"></span>
                                    <span ng-if="rating <= 5 && rating > 1" class="glyphicon glyphicon-star"></span>
                                </p>
                            </div>
                        </div> -->
</div>
