<div class="adminshops" ng-init="tableview=false;itembox=true">
  <div class="row">
    <div class="col-md-8 col-lg-8 col-sm-8 col-xs-8">
      <div class="box-header head">
        <img src="/public/script/www/img/tags.png" style="width: 30px;">
        <h3 class="box-title">My Product's</h3>
      </div>
      <div class="box-header">
        <h3 class="box-title"></h3>
        <a class="btn btn-default viewproduct" href="#/app/addproduct/{{0}}">Add product</a>
      </div>
    </div>
    <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">
      <div ng-init="tableview=false;itembox=true" style="float: right;
    margin-top: 22px;">
        <a ng-click="tableview=true" ng-class="{active:tableview}">
                    <span class="glyphicon glyphicon-th green-color"></span>
                </a>
        <a ng-click="tableview=false" ng-class="{active:!tableview}">
                    <span class="glyphicon glyphicon-th-list green-color"></span>
                </a>
      </div>
    </div>
  </div>
  <div ng-show="!tableview">
    <div ng-show="!products.length">
      <p style="text-align: center;"> No Data To Show</p>
    </div>
    <div ng-show="products.length">
      <div class="box">
        <!-- <div class="box-header">
                    <h3 class="box-title"></h3>
                    <a class="btn btn-default viewproduct" href="#/app/addproduct/{{0}}" style="margin-left: 62px;">Add product</a>
                </div> -->
        <div class="box-body table-responsive no-padding">
          <table class="table table-hover">
            <tbody>
              <tr>
                <th>Product Name</th>
                <th>Price</th>
                <th></th>
                <th>Reviews</th>
              </tr>
              <tr ng-repeat="product in products" ng-if="product">
                <td>{{product.productName}}</td>
                <td>{{product.price}}</td>
                <td><a href="#/app/addproduct/{{product.productId}}" style="color: #79a747;
    text-decoration: none;">Edit</a></td>
                <td>{{product.noOfReviews}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div ng-if="!nomore" class="loadmore" ng-click="moreuserproduct();">
        <p>Load More</p>
      </div>
      <div ng-if="nomore" class="loadmore">Completed</div>
    </div>
  </div>
  <div class="all-products" ng-show="tableview">
    <div ng-show="!products.length">
      <p style="text-align: center;"> No Data To Show</p>
    </div>
    <div ng-show="products.length">
      <div class="">
        <div class="row">
          <div  ng-repeat="product in products" ng-if="product" >
            <div class="col-lg-2 col-md-3  col-sm-4 col-xs-12 product_box" style="padding:3px;">
                <div class="thumbnail thumbnail-box">
                 
                  <div style="height:150px">
                    <div ng-repeat="pic in product.featureOrPhotos" ng-show="pic.modeType===5" class="similar-img" style="background-image: url({{pic.data}});">
                    </div>
                  </div>
                  <div class="caption caption-box">
                    <div class="row">
                      <div class="row border-colour">Click for More</div>
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 border-style">
                        {{product.shopName}}</div>
                      <i class="fa fa-heart-o icon-like-userproducts" aria-hidden="true"></i>
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 shopname-padding">
                        <p>
                          <!-- <a class=" font-size-contents" href="#/app/viewshop?shopId={{shop.shopId}}&mainCategoryId={{shop.shopType}}"> --><b class="font-size-contents">{{product.productName}}</b>
                          <!-- </a> -->
                        </p>
                        <span class="icon-rate">{{product.rating}}/5</span>
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6  border-bottom-style" style="font-size: 9px;">
                        {{product.shopVo.address}}
                      </div>
                      <div class=" col-lg-6 col-md-6 col-sm-6 col-xs-6 border-left-style" style="font-size: 9px;">
                        <div class="row">
                          <div class="col-md-1 col-lg-1 col-sm-1 col-xs-1">
                            <img width="10px" height="10px" src="/public/script/www/img/color/phone-receiver.png">
                          </div>
                          <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6" style="padding-left: 0px; ">
                            {{product.shopVo.phoneNo}}
                          </div>
                          <div class="col-md-5"></div>
                        </div>
                      </div>
                      <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 green-color">Specials
                        <div ng-repeat="pic in product.featureOrPhotos" ng-show="pic.modeType===6" ng-if="$index<3" class="shop_feature">{{pic.data}}
                        </div>
                      </div>
                      <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 border-review-style-allshopbyuser">
                        <p><b class=" font-size-contents">{{product.price}}</b><i class="fa fa-inr fainr-allshopbyuser"></i></p>
                      </div>
                    </div>
                  </div>
                  <!--   </a> -->
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div ng-if="!nomore" class="loadmore" ng-click="moreuserproduct();">
      <p>Load More</p>
    </div>
    <div ng-if="nomore" class="loadmore">Completed</div>
  </div>
</div>
