
<!-- page content -->
        <div class="right_col" role="main" style="min-height: 980px;">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>Add City </h3>
              </div>

              <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button">Go!</button>
                    </span>
                  </div>
                </div>
              </div>
            </div>

            <div class="clearfix"></div>

           
             
              <!-- /form input knob -->
       <div class="row">
               <!--  <div class="col-lg-3 pull-right">
                                        <a href="#/admin/city" class="btn btn-block btn-primary " role="button">Back to City</a>
                                    </div>
                 -->
                </div>
                
                <div class="row">
                    
                   
                    <div class="panel">
                                <div class="panel-heading">
                                    <h2 class="panel-title "><b></b></h2>
                                </div>
                        <form role="form" name="addcityForm">
                                <div class="panel-body">
                                    <div class="col-lg-6">

                                        
                                      <div class="form-group"
                                data-ng-class="{ 'has-error' : addcityForm.countryName.$invalid &amp;&amp; !addcityForm.countryName.$pristine}">
                                <label for="countryName">Country Name</label> <input
                                    class="form-control" data-ng-model="city.countryName"
                                   id="countryName" data-ng-readonly="true" readonly="readonly" type="text"
                                    required="required"/>
                               
                            </div>

                                                                        
                                        <div class="form-group"
                                data-ng-class="{ 'has-error' : addcityForm.cityName.$invalid &amp;&amp; !addcityForm.cityName.$pristine}">
                                <label for="cityName">City Name</label> <input
                                    class="form-control" data-ng-model="city.cityName"
                                    name="cityName" id="cityName" data-ng-readonly="true" readonly="readonly" type="text"
                                    required="required"/>
                               
                            </div>
                            <div class="form-group"
                                    data-ng-class="{ 'has-error' : addcityForm.citusStatus.$invalid &amp;&amp; !addcityForm.citusStatus.$pristine}">
                                    <label for="citusStatus">CityStatus &nbsp;&nbsp;&nbsp;&nbsp;  </label><br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <label data-ng-if="city.citusStatus==0">
                                <div class="tools action-buttons" style="display: block;">
                                    <span class="label label-danger label-lg ng-scope">Deactivate</span>
                                </div></label>
                                        <label data-ng-if="city.citusStatus==1">
                                <div class="tools action-buttons" style="display: block;">
                                    <span class="label label-success label-lg ng-scope">Active</span>
                                </div></label>
                                                                               
                                       
                                </div>



                            <!-- <div class="form-group"
                                    data-ng-class="{ 'has-error' : addcityForm.cityStatus.$invalid &amp;&amp; !addcityForm.cityStatus.$pristine}">
                                    <label for="cityStatus">CityStatus </label><br> &nbsp;&nbsp;&nbsp;&nbsp;  <label class="radio-inline"><input type="radio" name="cityStatus" value="0" ng-model="city.cityStatus">Discontinued</label>
                                        <label class="radio-inline"><input type="radio" name="cityStatus" value="1" ng-model="city.cityStatus">Active</label>
                                </div>
 -->
                                
                                       
                    
                        <div class="box-footer">

                            <div class="col-lg-3">

                        <a href="#/admin/city" class="btn btn-block btn-primary"
                            role="button">Close</a>
                    </div>
                </div>
                    </div>
                </div>
                        </form>
        <!-- /page content -->

            

       