
<!-- page content -->
        <div class="right_col" role="main" style="min-height: 980px;">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>Add Seller </h3>
              </div>

              <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button">Go!</button>
                    </span>
                  </div>
                </div>
              </div>
            </div>

            <div class="clearfix"></div>

           
             
              <!-- /form input knob -->
       <div class="row">
  <div class="col-lg-3 pull-right">
    <a href="#/admin/seller" class="btn btn-block btn-primary " role="button">Back to Sellers</a>
  </div>
</div>
<div class="row">
  <div class="panel">
    <div class="panel-heading">
      <!--  <h2 class="panel-title "><b>Add Item Type </b></h2>-->
    </div>
    <form role="form" name="addsellerForm">
      <div class="panel-body">
        <div class="col-lg-3">
          <div class="form-group" data-ng-class="{ 'has-error' : addsellerForm.sellerName.$invalid &amp;&amp; !addsellerForm.sellerName.$pristine}">
            <label for="sellerName">Seller Name</label>
            <input class="form-control" data-ng-model="seller.sellerName" name="sellerName" id="sellerName" placeholder="Enter sellerName" type="text" required="required" />
          </div>
          <div class="form-group" data-ng-class="{ 'has-error' : addsellerForm.sellerNameAr.$invalid &amp;&amp; !addsellerForm.sellerNameAr.$pristine}">
            <label for="sellerNameAr">Seller Name Ar</label>
            <input class="form-control" data-ng-model="seller.sellerNameAr" name="sellerNameAr" id="sellerNameAr" placeholder="seller Name Ar" type="text" required="required" />
          </div>
          <div class="form-group" data-ng-class="{ 'has-error' : addsellerForm.address.$invalid &amp;&amp; !addsellerForm.address.$pristine}">
            <label for="address">Seller Address &nbsp;&nbsp;&nbsp;&nbsp; عنوان المحل </label>
            <textarea class="form-control" data-ng-model="seller.address" name="address" id="address" placeholder="seller Address" required="required" rows="3"></textarea>
          </div>
          <div class="form-group" data-ng-class="{ 'has-error' : addsellerForm.addressar.$invalid &amp;&amp; !addsellerForm.addressar.$pristine}">
            <label for="addressar"> عنوان المحل </label>
            <textarea class="form-control" data-ng-model="seller.addressar" name="addressar" id="addressar" placeholder="عنوان المحل" required="required" rows="3"></textarea>
          </div>
        </div>
        <div class="col-lg-3">

          <div class="form-group" data-ng-class="{ 'has-error' : addsellerForm.description.$invalid &amp;&amp; !addsellerForm.description.$pristine}">
            <label for="description">Description  </label>
            <textarea class="form-control" data-ng-model="seller.description" name="description" id="description" placeholder="seller Address" required="required" rows="3"></textarea>
          </div>
          <div class="form-group" data-ng-class="{ 'has-error' : addsellerForm.descriptionAr.$invalid &amp;&amp; !addsellerForm.descriptionAr.$pristine}">
            <label for="descriptionAr">Description Ar </label>
            <textarea class="form-control" data-ng-model="seller.descriptionAr" name="descriptionAr" id="descriptionAr" placeholder="descriptionAr" required="required" rows="3"></textarea>
          </div>
          <div class="form-group" data-ng-class="{ 'has-error' : addsellerForm.contactName.$invalid &amp;&amp; !addsellerForm.contactName.$pristine}">
            <label for="contactName">Contact Name </label>
            <input class="form-control" data-ng-model="seller.contactName" name="contactName" id="contactName" placeholder="Enter Contact  Name" type="text" required="required" />
          </div>
          <!-- <div class="form-group" data-ng-class="{ 'has-error' : addsellerForm.contactpersonar.$invalid &amp;&amp; !addsellerForm.contactpersonar.$pristine}">
            <label for="contactpersonar">الشخص الذي يمكن الاتصال به</label>
            <input class="form-control" data-ng-model="seller.contactpersonar" name="contactpersonar" id="contactpersonar" placeholder="الشخص الذي يمكن الاتصال به" type="text" required="required" />
          </div> -->
          <div class="form-group" data-ng-class="{ 'has-error' : addsellerForm.phoneNumber.$invalid &amp;&amp; !addsellerForm.phoneNumber.$pristine}">
            <label for="phoneNumber">PhoneNumber &nbsp;&nbsp;&nbsp;&nbsp; رقم الجوال</label>
            <input class="form-control" data-ng-model="seller.phoneNumber"  id="phoneNumber" placeholder="Enter phoneNumber" type="number" min="0" max="999999999999" required="required" />
          </div>
           <div class="form-group" data-ng-class="{ 'has-error' : addsellerForm.telephoneNo.$invalid &amp;&amp; !addsellerForm.telephoneNo.$pristine}">
            <label for="telephoneNo">TelephoneNo </label>
            <input class="form-control" data-ng-model="seller.telephoneNo"  id="telephoneNo" placeholder="Enter telephoneNo" type="number" min="0" max="99999999999999" required="required" />
          </div>
         <!--  <div class="form-group" data-ng-class="{ 'has-error' : addsellerForm.telephoneNumber.$invalid &amp;&amp; !addsellerForm.telephoneNumber.$pristine}">
            <label for="telephoneNumber">Telephone Number &nbsp;&nbsp;&nbsp;&nbsp;رقم هاتف</label>
            <input class="form-control" data-ng-model="seller.telephoneNumber" name="telephoneNumber" id="telephoneNumber" placeholder="Enter TelephoneNumber" type="number" required="required" />
          </div> -->
          <div class="form-group" data-ng-class="{ 'has-error' : addsellerForm.emailId.$invalid &amp;&amp; !addsellerForm.emailId.$pristine}">
            <label for="emailId">Email Id &nbsp;&nbsp;&nbsp;&nbsp; البريد الإلكتروني</label>
            <input class="form-control" data-ng-model="seller.emailId" name="emailId" id="emailId" placeholder="Enter Email Id" type="email" required="required" />
          </div>
        </div>
        <div class="col-lg-3">
          <div class="form-group">
            <label>Country &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; الدولة</label>
            <select class="form-control" ng-change="changeCountry(seller.countryId)" ng-model="seller.countryId">
              <option ng-repeat="country in countries" ng-value="country.countryId">{{country.countryName}}</option>
            </select>
          </div>
          <div class="form-group">
            <label>City &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; مدينة</label>
            <select class="form-control" ng-change="" ng-model="seller.cityId">
              <option ng-repeat="city in citiesbycountries" ng-value="city.cityId">{{city.cityName }}</option>
            </select>
          </div>
          <div class="input-group">
            <input class="form-control" data-ng-map-autocomplete="ng-map-autocomplete" data-ng-model="autocomplete" data-options="options" data-details="details" name="locationSearch" id="locationSearch" placeholder="Enter location name" type="text" /> <span class="input-group-btn">
                                        <button class="btn btn-info btn-flat"
                                            data-ng-click="dataChanged(1)" type="button">Fetch!</button>
                                    </span>
          </div>
          <div class="row" data-ng-if="wrongPlace">
            <p class="text-red">Select an accurate place</p>
          </div>
          <div class="form-group" data-ng-class="{ 'has-error' : addsellerForm.latitude.$invalid &amp;&amp; !addsellerForm.latitude.$pristine}">
            <label for="latitude">Latitude </label>
            <input class="form-control" data-ng-model="seller.latitude" name="latitude" id="latitude" placeholder="Enter latitude" type="text" required="required" /> <span data-ng-show="addsellerForm.latitude.$invalid &amp;&amp; !addsellerForm.latitude.$pristine" class="help-block">Latitude is mandatory.</span>
          </div>
          <div class="form-group" data-ng-class="{ 'has-error' : addsellerForm.longitude.$invalid &amp;&amp; !addsellerForm.longitude.$pristine}">
            <label for="longitude">Longitude </label>
            <input class="form-control" data-ng-model="seller.longitude" name="longitude" id="longitude" placeholder="Enter longitude" type="text" required="required" /> <span data-ng-show="addsellerForm.longitude.$invalid &amp;&amp; !addsellerForm.longitude.$pristine" class="help-block">Longitude is mandatory.</span>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group" data-ng-class="{ 'has-error' : addsellerForm.webAddress.$invalid &amp;&amp; !addsellerForm.webAddress.$pristine}">
            <label for="webAddress">web Address</label>
            <input class="form-control" data-ng-model="seller.webAddress" name="webAddress" id="webAddress" placeholder="Enter webAddress" type="text" required="required" />
          </div>
          
          <div class="form-group" data-ng-class="{ 'has-error' : addsellerForm.status.$invalid &amp;&amp; !addsellerForm.status.$pristine}">
            <label for="status">Seller Status</label>
            <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <label class="radio-inline">
              <input type="radio" name="status" ng-model="seller.status" value="1">Active</label>
            <label class="radio-inline">
              <input type="radio" name="status" ng-model="seller.status" value="0">Discontinued</label>
          </div>
         
        </div>


        <div class="col-md-12">
    <h2>seller Logo</h2>
    <hr>
             <div class="fileupload file-uplaod-btn">
            <div class="form-group">
              <input type="file" ng-model="file" name="file" multiple ngf-select="upload($file)" />
              + Upload seller Logo
            </div>
          </div>
          <div class="col-lg-12">
          
                <div class="row">
                  <div class="col-lg-3 col-md-3 col-sm-6" >
                    <img  style="min-width:100%"  ng-src="{{imageUrl}}{{profileImage}}" class="img-thumbnail" ng-if="!sellerlogUploading">
                   
                     <img style="min-width:100%"    ng-src="public/script/www/img/giphy.gif" class="img-thumbnail" ng-if="sellerlogUploading">
                  </div>
               
            </div>
          </div>
          <hr>
          <div class="box-footer ">
            <button type="submit" class="btn btn-primary" ng-click="addseller(seller);">Submit</button>
          </div>

        </div>
      </div>
  </div>
  </form>
</div>
        <!-- /page content -->

            

       