.page-heading{
  text-align: center;
}
 .auction-item .heading h3{
  text-align: center;
}
.auction-item{

  width: 350px;
  height: 650px;
  background-color: #ffffff ;
  border-top:  2px solid black;
  border-bottom:  2px solid black;
  border-left:  2px solid black;
  border-right:  2px solid black;
 
}

.auction-item h4 {
  text-align: center;
  padding-top: 10px;
  font-family: 'Anton', sans-serif;
  
}
.auction-item img{
  width: 300;
  position: absolute;
  padding-left: 20px;
}


.auction-detail {
  padding-bottom: 100px; }

.basic-info {
  margin-top: 210px;
  
   }
  .auction-info .heading {
    padding-top: 20px;
    margin-top: 50px;
   
    font-weight: 600; }
  .auction-info ul > li {

    margin-bottom: 8px; }
ul li{
  padding-left: 10px;
}
li span{
  text-align: left;
  padding-right: 10px;
}
.view-store{
  margin-left: 20px;
  height: 500px;
  width: 950px;

  background-color: white;
}
 
 .store-info{

  margin-left: 30px;
  margin-top: 30px;
  font-weight: 3px;
  border-bottom: 3px solid #eaeaea; 
 }



               input.hidden {
    position: absolute;
    left: -9999px;
}

 
 #country-flag {
   
     width: 35px;
    height: 30px;
  }

   #profile-image1 {
   
     width: 150px;
    height: 150px;
  border:2px solid #03b1ce ;}
  .tital{ font-size:16px; font-weight:500;}
   .bot-border{ border-bottom:1px #f8f8f8 solid;  margin:5px 0  5px 0}  



   /********************
 * PAGE: PROFILE
 ********************/
.panel-item {
  position: relative; }

.item-left {
  padding-left: 0;
  float: left;
  width: 35%;
  height: 100%;
  position: absolute;
  background-color: #F8F8F8; }

.item-right {
  float: right;
  width: 65%;
  padding: 20px 25px; }
  .item-right .heading {
    margin-top: 0; }

@media screen and (max-width: 992px) {
  .item-left,
  .item-right {
    float: none;
    width: 100%; }
  .item-left {
    position: relative;
    margin-bottom: 30px; } }

.item-header {
  position: relative;
  text-align: center;
  color: #fff; }
  .item-header .overlay {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2); }
  .item-header .item-main {
    position: relative;
    padding: 131px;
    /*background-image: url("/public/script/img/jwel.jpg");*/
    background-repeat: no-repeat;
    background-size: cover; }
  .item-header .name {
    margin: 8px 0 0 0;
    font-size: 22px; }
  .item-header .online-status {
    font-size: 13px;
    position: relative;
    top: -2px; }
    .item-header .online-status:before {
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      *zoom: 1;
      *display: inline;
      content: '';
      width: 8px;
      height: 8px;
      margin-right: 3px; }
    .item-header .online-status.status-available:before {
      background-color: #41B314; }
  .item-header .item-stat {
    position: relative;
    background-color: #00AAFF; }
    .item-header .item-stat .stat-item {
      padding: 10px;
      position: relative; }
      .item-header .item-stat .stat-item:after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        width: 1px;
        height: 100%;
        background-color: #33bbff; }
      .item-header .item-stat .stat-item:last-child:after {
        display: none; }
    .item-header .item-stat .stat-item span {
      display: block; }
  @media screen and (max-width: 1023px) {
    .item-header .item-stat .stat-item:after {
      display: none; } }

.item-detail {
  padding-bottom: 30px; }

.item-info {
  padding: 0 20px;
  margin: 40px 0; }
  .item-info .heading {
    margin: 0 0 10px 0;
    font-weight: 600; }
  .item-info ul > li {
    margin-bottom: 8px; }



/*additional */

    
/*spinner*/
.loadingSpinner {
   z-index: 99999999999;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
}
.loadingSpinner-inner{
    width: 50px;
    margin: 70px auto;
}

/*uploaded images thumbline*/

/*view auction*/

.index-content a:hover{
    color:black;
    text-decoration:none;
}
.index-content{
    margin-bottom:20px;
    padding:50px 0px;
    
}
.index-content .row{
    margin-top:20px;
}
.index-content a{
    color: black;
}
.index-content .card{
    background-color: #FFFFFF;
    padding:0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius:4px;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);

}
.index-content .card:hover{
    box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -5px rgba(0,0,0,0.3);
    color:black;
}
.index-content .card img{
    width:100%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}





/*Portfolio===============================*/
#portfolio {  
    margin: 1rem 0;
    -webkit-column-count: 3; 
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 1rem;
    -moz-column-gap: 1rem;
    column-gap: 1rem;
    -webkit-column-width: 33.33333333333333%;
    -moz-column-width: 33.33333333333333%;
    column-width: 33.33333333333333%;
}
#portfolio-container .tile { 
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease;

}
#portfolio-container .tile:hover { 

}

#portfolio-container .scale-anm {
  transform: scale(1);
}


#portfolio-container p{ 
  padding:10px; 
  border-bottom: 1px #ccc dotted; 
  text-decoration: none; 
  font-family: lato; 
  text-transform:uppercase; 
  font-size: 12px; 
  color: #333; 
  display:block; 
  float:left;
}

#portfolio-container p:hover { 
  cursor:pointer; 
  background: #333; 
  color:#eee; }

#portfolio-container .tile img {
    max-width: 100%;
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
  
}

#portfolio-container .btn {
    font-family: Lato;
    font-size: 18px;
    font-weight: normal;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    line-height: normal;
    padding: 5px 10px;
    margin: 0;
    height: auto;
    border: 1px solid;
    vertical-align: middle;
    -webkit-appearance: none;
    color: #555;
    background-color: rgba(0, 0, 0, 0);
}



#portfolio-container .btn:hover {
  text-decoration: none;color:#fff;background-color:#FF1351;
}

#portfolio-container .btn:focus {
  outline: none;
  border-color: var(--darken-2);
  box-shadow: 0 0 0 3px var(--darken-3);
}
/*Portfolio===============================*/


#portfolio-container .active {
   background-color:#FF1351;color:#fff;
    outline: 0;
    box-shadow: none; 
}

#portfolio-container .active:active{
   background-color:#FF1351;color:#fff;
    outline: 0;
    box-shadow: none; 
}

/*AUCTION ITEMS*/

/**** BASE ****/
body {
    color: #888;   
}
a {
    color: #03a1d1;
    text-decoration: none!important;
}

/**** LAYOUT ****/
.list-inline>li {
    padding: 0 10px 0 0;
}
.container-pad {
    padding: 30px 15px;
}


/**** MODULE ****/
.bgc-fff {
    background-color: #fff!important;
}
.box-shad {
    -webkit-box-shadow: 1px 1px 0 rgba(0,0,0,.2);
    box-shadow: 1px 1px 0 rgba(0,0,0,.2);
}
.brdr {
    border: 1px solid #ededed;
}

/* Font changes */
.fnt-smaller {
    font-size: .9em;
}
.fnt-lighter {
    color: #bbb;
}

/* Padding - Margins */
.pad-10 {
    padding: 10px!important;
}
.mrg-0 {
    margin: 0!important;
}
.btm-mrg-10 {
    margin-bottom: 10px!important;
}
.btm-mrg-20 {
    margin-bottom: 20px!important;
}

/* Color  */
.clr-535353 {
    color: #535353;
}




/**** MEDIA QUERIES ****/
@media only screen and (max-width: 991px) {
    #property-listings .property-listing {
        padding: 5px!important;
    }
    #property-listings .property-listing a {
        margin: 0;
    }
    #property-listings .property-listing .media-body {
        padding: 10px;
    }
}

@media only screen and (min-width: 992px) {
    #property-listings .property-listing img {
        max-width: 180px;
    }
}
/* CLOSE BUTTON ON IMAGE*/

.img-wraps {
    position: relative;
    display: inline-block;
   
    font-size: 0;
}
.img-wraps .closes {
    position: absolute;
    top: 5px;
    right: 8px;
    z-index: 100;
    background-color: #FFF;
    padding: 4px 3px;
    
    color: #000;
    font-weight: bold;
    cursor: pointer;
   
    text-align: center;
    font-size: 22px;
    line-height: 10px;
    border-radius: 50%;
    border:1px solid red;
}
.img-wraps:hover .closes {
    opacity: 1;
}

/*ADVERTISEMENT*/
/*body {
    padding: 20px;
    font-family: 'Open Sans', sans-serif;
    background-color: #f7f7f7;
}*/

.lib-panel {
    margin-bottom: 20Px;
}
.lib-panel img {
    width: 100%;
    background-color: transparent;
}

.lib-panel .row,
.lib-panel .col-md-6 {
    padding: 0;
    background-color: #FFFFFF;
}


.lib-panel .lib-row {
    padding: 0 20px 0 20px;
}

.lib-panel .lib-row.lib-header {
    background-color: #FFFFFF;
    font-size: 20px;
    padding: 10px 20px 0 20px;
}

.lib-panel .lib-row.lib-header .lib-header-seperator {
    height: 2px;
    width: 26px;
    background-color: #d9d9d9;
    margin: 7px 0 7px 0;
}

.lib-panel .lib-row.lib-desc {
    position: relative;
    height: 100%;
    display: block;
    font-size: 13px;
}
.lib-panel .lib-row.lib-desc a{
    position: absolute;
    width: 100%;
    bottom: 10px;
    left: 20px;
}

.row-margin-bottom {
    margin-bottom: 20px;
}

.box-shadow {
    -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,.10);
    box-shadow: 0 0 10px 0 rgba(0,0,0,.10);
}

.no-padding {
    padding: 0;
}




.panel .panel-heading button i {
    font-size: 30px;
}

/*NEW LOGIN*/

