<br/>
<h2>{{singlepost.title}}</h2>
<table>
<tr>
    <td>Date</td>
    <td sortable="'timestamp'">
        {{singlepost.timestamp|date:'dd/MMM/yyyy'}}</td>
</tr>
<tr>
    <td>Images</td>
    <td title="'Image'" ng-init="singlepost.imageCount=0">
        <span ng-repeat="(key, value) in singlepost.images">
       <img class="thumbnail" style="width: 100px;height: auto;float: left;"   ng-src="{{value}}" />
         </span>
    </td>
</tr>


<tr>
    <td>
    Person
    </td>
    <td>
    {{singlepost.person}}
    	
    </td>
</tr>

<tr>
    <td>
    phone
    </td>
    <td>
    	{{singlepost.phone}}
    </td>
</tr>
<tr>
    <td>
    email
    </td>
    <td>
    {{singlepost.email}}
    	
    </td>
</tr>
<tr>
    <td>address:
    </td>
   
    <td>
     {{singlepost.address}}

    	
    </td>
</tr>
<tr>
    <td>
    Street
    </td>
    <td>
    	{{singlepost.street}}
    </td>
</tr>
<tr>
    <td>postcode:
    </td>
   
    <td>
     {{singlepost.postcode}}

    	
    </td>
</tr>
<tr>
    <td>
    category
    </td>
    <td>
    	{{singlepost.category.catName}}
    </td>
</tr>
<tr>
    <td>
    subcategory
    </td>
    <td>
    	{{singlepost.subcategory.subcatName}}
    </td>
</tr>
<!-- <tr>
    <td>
    </td>
    <td>
    	{{singlepost.}}
    </td>
</tr> -->
<tr>
    <td title="'Category'" filter="{catName:  'text'}" sortable="'category.catName'">{{singlepost.category.catName}}</td>
    <td title="'Subcategory'" filter="{ 'subcategory.subcatName': 'text'}" sortable="'subcategory.subcatName'">{{singlepost.subcategory.subcatName}}</td>
    <td title="'Show'">
    </td>
</tr>

</table>
