<h3>Deactivation</h3>
<div class="row">
                    <div class="col-lg-12">
                        <!-- TABLE STRIPED -->
                        <div class="panel" style="text-align: center;">
                        	<h4>Are you sure want to deactivate </h4>


                        	</div>
                        </div>
                    </div>