<div ng-if="langval==1">
  <div class="right_col" role="main" style="min-height: 1110px;">
    <div class="">
      <div class="page-title">
        <div class="title_left">
          <div ng-if="catcid==0">
            <h3>Add Category </h3>
          </div>
          <div ng-if="catcid!=0">
            <h3>Edit Category </h3>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
              <div class="x_title">
                <h2>Category Informations <small><!-- different form elements --></small></h2>
                <div class="clearfix"></div>
              </div>
              <div class="x_content">
                <br>
                <form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="categoryName">Category Name En <span class="required">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <input type="text" data-ng-model="category.categoryName" id="categoryName" required="required" class="form-control col-md-7 col-xs-12" required="required" />
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="categoryNameAr">Category Name Ar <span class="required">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <input type="text" data-ng-model="category.categoryNameAr" id="categoryNameAr" required="required" class="form-control col-md-7 col-xs-12" required="required" />
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="discription">Description En <span class="required">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <textarea type="text" data-ng-model="category.discription" id="discription" required="required" class="form-control col-md-7 col-xs-12" required="required" rows="6"></textarea>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="discriptionAr">Description Ar <span class="required">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <textarea type="text" data-ng-model="category.discriptionAr" id="discriptionAr" required="required" class="form-control col-md-7 col-xs-12" required="required" rows="6"></textarea>
                    </div>
                  </div>
                   <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="rank">Rank <span class="required">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <input type="number" data-ng-model="category.rank" id="rank" required="required" class="form-control col-md-7 col-xs-12" required="required" />
                    </div>
                  </div>
             <!--        <div class="input-group">
                  <input class="form-control"
                    data-ng-map-autocomplete="ng-map-autocomplete"
                    data-ng-model="autocomplete" data-options="options"
                    data-details="details" name="locationSearch"
                    id="locationSearch" placeholder="Enter location name"
                    type="text" /> <span class="input-group-btn">
                    <button class="btn btn-info btn-flat"
                      data-ng-click="dataChanged()" type="button">Fetch!</button>
                  </span>
                </div> -->
          <!--         <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="commision">Commision <span class="required">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <input type="number" data-ng-model="category.commision" id="commision" required="required" class="form-control col-md-7 col-xs-12" required="required" />
                    </div>
                  </div> -->
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Category Status <span class="required">*</span> </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                       <div class="btn btnserviceorproduct" ng-class="{'active' :category.status==1  }" ng-click="category.status=1"> Active</div>
                      <div class="btn btnserviceorproduct" ng-class="{'active' :category.status==0  }" ng-click="category.status=0"> Deactive</div>
                     
                    </div>
                  </div>
                 <!--  <div text-angular></div> -->

                  <h2>Images <span class="required">*</span></h2>
                  <hr>
                  <div class="col-md-4">
                    <div class="fileupload file-uplaod-btn">
                      <div class="form-group">
                        <input type="file" id="fileupload" style="display:none" ng-model="file" name="file" multiple ngf-select="upload($file)" />
                        <div class="btn btn-block btn-warning" onclick="document.getElementById('fileupload').click()"><i class="fa fa-camera"></i>&nbsp;&nbsp; + Click Here To Upload Category Image </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="row">
                      <div class="col-lg-3 col-md-3 col-sm-6" ng-model="category.imageName">
                        <div class="img-wraps">
                          {{category.imageName}}
                          <span class="closes" ng-if="!isFileuploadStart&& category.imageName" title="Delete" ng-click="deleteimage(category.imageName)">&times;</span>
                          <img style="min-width:100%" ng-src="{{imageUrl}}{{category.imageName}}" class="img-thumbnail" ng-if="!isFileuploadStart&& category.imageName">
                          <img style="min-width:100%" ng-src="public/script/www/img/giphy.gif" class="img-thumbnail" ng-if="isFileuploadStart" isFileuploadStart>
                        </div>
                      </div>
                    </div>
                    <hr>
                  </div>
                  <div class="row">
                    <div class="col-md-12">

                          <!--  <div text-angular ng-model="htmlVariable"></div> -->

                           
                      <div class="box-footer">
                        <button type="submit" class="btn btn-primary" ng-click="addCategory(category);">Submit</button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <hr>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /page content -->
<div ng-if="langval==0">
  <div dir="rtl">
    <div class="rightarab_col" role="main" style="min-height: 980px;">
      <div class="">
        <div class="page-title">
          <div class="title_right pull-right">
            <div ng-if="catcid==0">
              <h3>ضافة فئه</h3>
            </div>
            <div ng-if="catcid!=0">
              <h3>تحرير الفئة</h3>
            </div>
          </div>
          <div class="clearfix"></div>
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="x_panel">
                <div class="x_title">
                  <h2 class="pull-right">فئة المعلومات <small><!-- different form elements --></small></h2>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">
                  <br>
                  <form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">
                    <div class="form-group">
                      <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                        <input type="text" data-ng-model="category.categoryName" id="categoryName" required="required" class="form-control col-md-7 col-xs-12" required="required" />
                      </div>
                      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="categoryName">اسم الفئه باللغة الإنجليزية <span class="required">*</span>
                      </label>
                      
                    </div>
                    <div class="form-group">
                       <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                        <input type="text" data-ng-model="category.categoryNameAr" id="categoryNameAr" required="required" class="form-control col-md-7 col-xs-12" required="required" />
                      </div>
                      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="categoryNameAr">اسم الفئه  بالعربية <span class="required">*</span>
                      </label>
                     
                    </div>
                    <div class="form-group">
                       <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                        <textarea type="text" data-ng-model="category.discription" id="discription" required="required" class="form-control col-md-7 col-xs-12" required="required" rows="6"></textarea>
                      </div>
                      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="discription">وصف التصنيف   باللغة الإنجليزية <span class="required">*</span>
                      </label>
                     
                    </div>
                    <div class="form-group">
                      <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                        <textarea type="text" data-ng-model="category.discriptionAr" id="discriptionAr" required="required" class="form-control col-md-7 col-xs-12" required="required" rows="6"></textarea>
                      </div>
                      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="discriptionAr">وصف التصنيف  بالعربية <span class="required">*</span>
                      </label>
                      
                    </div>
                    <div class="form-group">
                       <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                        <input type="text" data-ng-model="category.rank" id="rank" required="required" class="form-control col-md-7 col-xs-12" required="required" />
                      </div>
                      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="rank">مرتبة  <span class="required">*</span>
                      </label>
                     
                    </div>
                    
               <!--      <div class="form-group">
                      <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                        <input type="number" data-ng-model="category.commision" id="commision" required="required" class="form-control col-md-7 col-xs-12" required="required" />
                      </div>
                      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="commision">العمولات <span class="required">*</span>
                      </label>
                      
                    </div> -->
                    <div class="form-group">
                      <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                        <div class="btn btnserviceorproduct" ng-class="{'active' :category.status==0  }" ng-click="category.status=0"> غير نشطه  </div>
                        <div class="btn btnserviceorproduct" ng-class="{'active' :category.status==1  }" ng-click="category.status=1"> شطه  </div>
                      </div>
                      <label class="control-label col-md-3 col-sm-3 col-xs-12">حالة الفئه  <span class="required">*</span></label>
                      
                    </div>
                    <h2>صور   <span class="required">*</span></h2>
                    <hr>
                    <div class="col-md-4 pull-right">
                      <div class="fileupload file-uplaod-btn">
                        <div class="form-group">
                          <input type="file" id="fileupload" style="display:none" ng-model="file" name="file" multiple ngf-select="upload($file)" />
                          <div class="btn btn-block btn-warning" onclick="document.getElementById('fileupload').click()"><i class="fa fa-camera"></i>&nbsp;&nbsp; + انقر هنا لتحميل صورة الفئة </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-12">
                      <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-6 pull-right" ng-model="category.imageName">
                          <div class="img-wraps">
                            {{category.imageName}}
                            <span class="closes" ng-if="!isFileuploadStart&& category.imageName" title="Delete" ng-click="deleteimage(category.imageName)">&times;</span>
                            <img style="min-width:100%" ng-src="{{imageUrl}}{{category.imageName}}" class="img-thumbnail" ng-if="!isFileuploadStart&& category.imageName">
                            <img style="min-width:100%" ng-src="public/script/www/img/giphy.gif" class="img-thumbnail" ng-if="isFileuploadStart" isFileuploadStart>
                          </div>
                        </div>
                      </div>
                      <hr>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="box-footer">
                          <button type="submit" class="btn btn-primary" ng-click="addCategory(category);">تسجيل  </button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <hr>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /page content -->
